Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

codecov.yml:

# valid this file: curl --data-binary @codecov.yml https://codecov.io/validate
# reference doc: https://docs.codecov.com/docs/common-recipe-list#set-project-coverage-checks-on-a-pull-request

# codecov:
#   require_ci_to_pass: false
#   notify:
#     wait_for_ci: false

# for overall project coverage
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%
    patch:
      default:
        target: 90%
        threshold: 10%

comment:
  layout: 'header, diff, components, files' # show component info in the PR comment
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: true # [true :: only show coverage on the git diff aka patch coverage]]

# reference doc: https://docs.codecov.com/docs/components
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 90%
        threshold: 1%
      - type: patch
        target: 90%
        threshold: 10%

  individual_components:
    - component_id: coze-js # this is an identifier that should not be changed
      name: coze-js # this is a display name, and can be changed freely
      paths:
        - packages/coze-js/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

    - component_id: realtime-api # this is an identifier that should not be changed
      name: realtime-api # this is a display name, and can be changed freely
      paths:
        - packages/realtime-api/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

chore: Publish feat/voiceprint
  common/changes/@coze/api/feat-voiceprint_2025-06-09-07-06.json
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: Publish feat/voiceprint
  packages/realtime-api/package.json
Due: realtime-api

fix(api): Fix Websoket bug in Uniapp
  common/changes/@coze/api/feat-voiceprint_2025-06-09-07-38.json
  packages/coze-js/src/websocket-api.ts
Due: coze-js

chore: Publish feat/voiceprint
  packages/coze-js/package.json
Due: coze-js

fix(realtime-websocket): fix sample_rate error
  common/changes/@coze/api/feat-voiceprint_2025-06-10-02-23.json
  examples/realtime-websocket/src/components/event-input/index.tsx
  examples/realtime-websocket/src/pages/chat/index.tsx
  packages/coze-js/src/ws-tools/chat/index.ts
Due: coze-js

feat(api): Fix ci bug
  common/changes/@coze/api/feat-voiceprint_2025-06-10-02-43.json
  packages/coze-js/src/resources/audio/voiceprint-groups/features.ts
  packages/coze-js/src/resources/audio/voiceprint-groups/index.ts
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/utils/index.ts
Due: coze-js

feat(api): Add voiceprint Readme
  common/changes/@coze/api/feat-voiceprint_2025-06-10-02-50.json
  common/changes/@coze/api/feat-voiceprint_2025-06-10-02-53.json
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/test/ws-tools/chat.spec.ts
Due: coze-js

feat(voiceprint): Add voiceprint API (#260)
  common/changes/@coze/api/feat-voiceprint_2025-06-05-17-22.json
  common/changes/@coze/api/feat-voiceprint_2025-06-06-03-40.json
  common/changes/@coze/api/feat-voiceprint_2025-06-07-05-13.json
  common/changes/@coze/api/feat-voiceprint_2025-06-08-03-07.json
  common/changes/@coze/api/feat-voiceprint_2025-06-08-03-16.json
  common/changes/@coze/api/feat-voiceprint_2025-06-09-07-06.json
  common/changes/@coze/api/feat-voiceprint_2025-06-09-07-38.json
  common/changes/@coze/api/feat-voiceprint_2025-06-10-02-23.json
  common/changes/@coze/api/feat-voiceprint_2025-06-10-02-43.json
  common/changes/@coze/api/feat-voiceprint_2025-06-10-02-50.json
  common/changes/@coze/api/feat-voiceprint_2025-06-10-02-53.json
  common/changes/@coze/realtime-api/feat-voiceprint_2025-06-09-06-58.json
  examples/coze-js-node/src/error-handle.ts
  examples/coze-js-node/src/voiceprint.ts
  examples/coze-js-node/src/websockets/chat.ts
  examples/realtime-websocket/src/components/event-input/index.tsx
  examples/realtime-websocket/src/components/settings/index.tsx
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/utils/config.ts
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/package.json
  packages/coze-js/src/core.ts
  packages/coze-js/src/fetcher.ts
  packages/coze-js/src/resources/audio/index.ts
  packages/coze-js/src/resources/audio/voiceprint-groups/features.ts
  packages/coze-js/src/resources/audio/voiceprint-groups/index.ts
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/websocket-api.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/utils/index.ts
  packages/coze-js/test/resources/voiceprint-feature.test.ts
  packages/coze-js/test/resources/voiceprint-group.test.ts
  packages/coze-js/test/ws-tools/chat.spec.ts
  packages/realtime-api/package.json
  packages/realtime-api/src/client.ts
Due: coze-js, realtime-api

feat(ws-tools): add sentence-level audio streaming support
  common/changes/@coze/api/feat-sentence_2025-06-12-11-08.json
  common/changes/@coze/api/feat-sentence_2025-06-12-11-36.json
  examples/realtime-websocket/src/components/event-input/index.tsx
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/pages/chat/receive-message.tsx
  examples/realtime-websocket/src/pages/chat/send-message.tsx
  examples/realtime-websocket/src/pages/chat/sentence-message.tsx
  packages/coze-js/package.json
  packages/coze-js/src/resources/websockets/chat/index.ts
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/index.ts
  packages/coze-js/src/ws-tools/types.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/stream_processor.js
  packages/coze-js/test/ws-tools/chat.spec.ts
Due: coze-js

feat(websocket): Add WebRTC demo
  examples/realtime-websocket/src/App.tsx
  examples/realtime-websocket/src/components/settings/index.tsx
  examples/realtime-websocket/src/pages/publish/ControlsPanel.tsx
  examples/realtime-websocket/src/pages/publish/InstructionsCard.tsx
  examples/realtime-websocket/src/pages/publish/MicrophoneButton.tsx
  examples/realtime-websocket/src/pages/publish/PublishContext.tsx
  examples/realtime-websocket/src/pages/publish/QRShareModal.tsx
  examples/realtime-websocket/src/pages/publish/VolumeIndicator.tsx
  examples/realtime-websocket/src/pages/publish/index.tsx
  examples/realtime-websocket/src/pages/subscribe/AudioCards.tsx
  examples/realtime-websocket/src/pages/subscribe/AudioPlayer.tsx
  examples/realtime-websocket/src/pages/subscribe/HeaderSection.tsx
  examples/realtime-websocket/src/pages/subscribe/SubscribeContext.tsx
  examples/realtime-websocket/src/pages/subscribe/index.tsx
  examples/realtime-websocket/src/utils/config.ts
  examples/realtime-websocket/src/utils/webrtc-service.ts
Due: none

feat(api): Add query params
  common/changes/@coze/api/feat-sentence_2025-06-12-13-02.json
  common/changes/@coze/api/feat-sentence_2025-06-12-13-10.json
  packages/coze-js/src/resources/websockets/audio/speech/index.ts
  packages/coze-js/src/resources/websockets/audio/transcriptions/index.ts
  packages/coze-js/src/utils.ts
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/src/ws-tools/transcription/base.ts
  packages/coze-js/src/ws-tools/types.ts
  packages/coze-js/test/resources/websockets/speech.spec.ts
  packages/coze-js/test/resources/websockets/transcriptions.spec.ts
Due: coze-js

chore: Publish feat/sentence
  packages/coze-js/package.json
Due: coze-js

feat(realtime-api): Add some event names
  common/changes/@coze/realtime-api/feat-sentence_2025-06-13-01-40.json
  packages/realtime-api/src/event-names.ts
Due: realtime-api

chore: Publish feat/sentence
  packages/realtime-api/package.json
Due: realtime-api

fix(uniapp-api): fix build error
  .gitignore
  common/changes/@coze/uniapp-api/feat-sentence_2025-06-13-01-51.json
  packages/coze-uniapp/src/ws-tool/speech/index.ts
  packages/coze-uniapp/src/ws-tool/transcription/base.ts
Due: none

chore: Publish feat/sentence
  packages/coze-uniapp/package.json
Due: none

feat: 解决html的xss问题
  common/changes/@coze/chat-sdk/feat-mdstream-safe_2025-06-16-02-57.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/chat-sdk/package.json
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/phrase/html/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/phrase/link/index.tsx
  packages/chat-sdk/src/pages/markdown/const.ts
Due: none

chore: Publish feat/mdstream-safe
  packages/chat-sdk/package.json
Due: none

feat(ws-tools): add sentence-level audio streaming support (#262)
  .gitignore
  common/changes/@coze/api/feat-sentence_2025-06-12-11-08.json
  common/changes/@coze/api/feat-sentence_2025-06-12-11-36.json
  common/changes/@coze/api/feat-sentence_2025-06-12-13-02.json
  common/changes/@coze/api/feat-sentence_2025-06-12-13-10.json
  common/changes/@coze/realtime-api/feat-sentence_2025-06-13-01-40.json
  common/changes/@coze/uniapp-api/feat-sentence_2025-06-13-01-51.json
  examples/realtime-websocket/src/components/event-input/index.tsx
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/pages/chat/receive-message.tsx
  examples/realtime-websocket/src/pages/chat/send-message.tsx
  examples/realtime-websocket/src/pages/chat/sentence-message.tsx
  packages/coze-js/package.json
  packages/coze-js/src/resources/websockets/audio/speech/index.ts
  packages/coze-js/src/resources/websockets/audio/transcriptions/index.ts
  packages/coze-js/src/resources/websockets/chat/index.ts
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/utils.ts
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/index.ts
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/src/ws-tools/transcription/base.ts
  packages/coze-js/src/ws-tools/types.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/stream_processor.js
  packages/coze-js/test/resources/websockets/speech.spec.ts
  packages/coze-js/test/resources/websockets/transcriptions.spec.ts
  packages/coze-js/test/ws-tools/chat.spec.ts
  packages/coze-uniapp/package.json
  packages/coze-uniapp/src/ws-tool/speech/index.ts
  packages/coze-uniapp/src/ws-tool/transcription/base.ts
  packages/realtime-api/package.json
  packages/realtime-api/src/event-names.ts
Due: coze-js, realtime-api

feat: 修改g
  common/changes/@coze/chat-sdk/feat-mdstream-safe_2025-06-16-04-00.json
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/phrase/link/index.tsx
Due: none

Feat/mdstream safe (#263)
  common/changes/@coze/chat-sdk/feat-mdstream-safe_2025-06-16-02-57.json
  common/changes/@coze/chat-sdk/feat-mdstream-safe_2025-06-16-04-00.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/chat-sdk/package.json
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/phrase/html/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/phrase/link/index.tsx
  packages/chat-sdk/src/pages/markdown/const.ts
Due: none

feat(ws-tools): add sentence-level audio streaming support
  packages/coze-js/package.json
Due: coze-js

feat(coze-api): Use transferable objects when posting audio buffers to avoid data copying
  common/changes/@coze/api/feat-perf2_2025-06-16-13-08.json
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
Due: coze-js

fix(realtime-api): Remove RTC_ACCESS_URLS in test env
  common/changes/@coze/realtime-api/feat-rtc-test_2025-06-16-13-34.json
  packages/realtime-api/src/client.ts
Due: realtime-api

chore: Publish feat/rtc-test
  packages/coze-js/package.json
Due: coze-js

chore: Publish feat/rtc-test
  packages/realtime-api/package.json
Due: realtime-api

chore: Publish feat/rtc-test
  common/changes/@coze/api/feat-rtc-test_2025-06-16-13-42.json
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: upgrade pub plugin version
  common/autoinstallers/plugins/package.json
  common/autoinstallers/plugins/pnpm-lock.yaml
  common/autoinstallers/plugins/rush-plugins/@coze-arch/rush-publish-plugin/@coze-arch/rush-publish-plugin/command-line.json
  common/autoinstallers/plugins/rush-plugins/@coze-arch/rush-publish-plugin/rush-plugin-manifest.json
  common/autoinstallers/plugins/rush-plugins/@coze-infra/rush-x/@coze-infra/rush-x/command-line.json
  common/config/rush/rush-plugins.json
  infra/rush-x/command-line.json
Due: none

chore: setup pipeline
  .github/workflows/pr-merged-tag.yml
  .github/workflows/release.yml
Due: none

chore: Publish release/20250617-b39e96
  packages/coze-js/package.json
Due: coze-js

chore: fix ci
  .github/workflows/pr-merged-tag.yml
  .github/workflows/release.yml
Due: none

chore: Publish release/20250617-b8efd7
  packages/coze-js/package.json
Due: coze-js

chore: setup release config
  common/changes/@coze/api/chore-upgrade-pub_2025-06-17-03-11.json
  common/changes/@coze/chat-sdk/chore-upgrade-pub_2025-06-17-03-11.json
  common/changes/@coze/realtime-api/chore-upgrade-pub_2025-06-17-03-11.json
  common/changes/@coze/taro-api/chore-upgrade-pub_2025-06-17-03-11.json
  common/changes/@coze/uniapp-api/chore-upgrade-pub_2025-06-17-03-11.json
  packages/chat-sdk/.npmrc
  packages/chat-sdk/package.json
  packages/coze-js/.npmrc
  packages/coze-js/package.json
  packages/coze-taro/.npmrc
  packages/coze-taro/package.json
  packages/coze-uniapp/.npmrc
  packages/coze-uniapp/package.json
  packages/realtime-api/.npmrc
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: Publish release/20250617-1b2a87
  packages/coze-js/package.json
Due: coze-js

chore: upgrade pub plugin version (#266)
  .github/workflows/pr-merged-tag.yml
  .github/workflows/release.yml
  common/autoinstallers/plugins/package.json
  common/autoinstallers/plugins/pnpm-lock.yaml
  common/autoinstallers/plugins/rush-plugins/@coze-arch/rush-publish-plugin/@coze-arch/rush-publish-plugin/command-line.json
  common/autoinstallers/plugins/rush-plugins/@coze-arch/rush-publish-plugin/rush-plugin-manifest.json
  common/autoinstallers/plugins/rush-plugins/@coze-infra/rush-x/@coze-infra/rush-x/command-line.json
  common/changes/@coze/api/chore-upgrade-pub_2025-06-17-03-11.json
  common/changes/@coze/chat-sdk/chore-upgrade-pub_2025-06-17-03-11.json
  common/changes/@coze/realtime-api/chore-upgrade-pub_2025-06-17-03-11.json
  common/changes/@coze/taro-api/chore-upgrade-pub_2025-06-17-03-11.json
  common/changes/@coze/uniapp-api/chore-upgrade-pub_2025-06-17-03-11.json
  common/config/rush/rush-plugins.json
  infra/rush-x/command-line.json
  packages/chat-sdk/.npmrc
  packages/chat-sdk/package.json
  packages/coze-js/.npmrc
  packages/coze-js/package.json
  packages/coze-taro/.npmrc
  packages/coze-taro/package.json
  packages/coze-uniapp/.npmrc
  packages/coze-uniapp/package.json
  packages/realtime-api/.npmrc
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: upgrade version
  common/autoinstallers/plugins/package.json
  common/autoinstallers/plugins/pnpm-lock.yaml
  common/autoinstallers/plugins/rush-plugins/@coze-arch/rush-publish-plugin/@coze-arch/rush-publish-plugin/command-line.json
Due: none
