Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

codecov.yml:

# valid this file: curl --data-binary @codecov.yml https://codecov.io/validate
# reference doc: https://docs.codecov.com/docs/common-recipe-list#set-project-coverage-checks-on-a-pull-request

# codecov:
#   require_ci_to_pass: false
#   notify:
#     wait_for_ci: false

# for overall project coverage
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%
    patch:
      default:
        target: 90%
        threshold: 10%

comment:
  layout: 'header, diff, components, files' # show component info in the PR comment
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: true # [true :: only show coverage on the git diff aka patch coverage]]

# reference doc: https://docs.codecov.com/docs/components
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 90%
        threshold: 1%
      - type: patch
        target: 90%
        threshold: 10%

  individual_components:
    - component_id: coze-js # this is an identifier that should not be changed
      name: coze-js # this is a display name, and can be changed freely
      paths:
        - packages/coze-js/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

    - component_id: realtime-api # this is an identifier that should not be changed
      name: realtime-api # this is a display name, and can be changed freely
      paths:
        - packages/realtime-api/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

refactor: redesign UI with Ant Design layout system
  examples/realtime-websocket/src/App.tsx
  examples/realtime-websocket/src/components/header/header.tsx
  examples/realtime-websocket/src/components/settings/index.tsx
  examples/realtime-websocket/src/main.tsx
  examples/realtime-websocket/src/pages/audio-test/index.tsx
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/pages/chat/receive-message.tsx
  examples/realtime-websocket/src/pages/speech/index.tsx
  examples/realtime-websocket/src/pages/transcription/index.tsx
Due: none

chore: add pre install" "
  examples/realtime-websocket/README.md
  examples/realtime-websocket/package.json
  examples/realtime-websocket/scripts/preinstall.js
  examples/realtime-websocket/src/components/header/header.tsx
  examples/realtime-websocket/src/env.d.ts
Due: none

feat: Add transcription SDK and update documentation (#190)
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-09-03-34.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-09-03-55.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-09-09-18.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-09-11-12.json
  common/changes/@coze/realtime-api/feat-realtime-quickstart_2025-04-09-08-28.json
  examples/coze-js-taro/src/pages/index/index.tsx
  examples/realtime-websocket/README.md
  examples/realtime-websocket/package.json
  examples/realtime-websocket/scripts/preinstall.js
  examples/realtime-websocket/src/App.tsx
  examples/realtime-websocket/src/components/header/header.tsx
  examples/realtime-websocket/src/components/settings/index.tsx
  examples/realtime-websocket/src/env.d.ts
  examples/realtime-websocket/src/main.tsx
  examples/realtime-websocket/src/pages/audio-test/index.tsx
  examples/realtime-websocket/src/pages/chat/console-log.tsx
  examples/realtime-websocket/src/pages/chat/custom-track.tsx
  examples/realtime-websocket/src/pages/chat/event-input.tsx
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/pages/chat/operation.tsx
  examples/realtime-websocket/src/pages/chat/receive-message.tsx
  examples/realtime-websocket/src/pages/chat/send-message.tsx
  examples/realtime-websocket/src/pages/speech/index.tsx
  examples/realtime-websocket/src/pages/transcription/index.tsx
  examples/realtime-websocket/vite.config.ts
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/package.json
  packages/coze-js/test/utils.spec.ts
  packages/coze-js/test/ws-tools/recorder/pcm-recorder.spec.ts
  packages/coze-js/test/ws-tools/transcription.spec.ts
  packages/coze-js/test/ws-tools/utils.spec.ts
  packages/realtime-api/test/client.spec.ts
  packages/realtime-api/test/event-handler.spec.ts
Due: coze-js, realtime-api

feat: add github source link
  examples/realtime-websocket/src/components/header/header.tsx
Due: none

refactor: redesign UI with Ant Design layout system
  examples/realtime-websocket/src/components/header/header.tsx
Due: none

feat: add config validation and translate settings labels to Chinese
  examples/realtime-websocket/src/components/settings/index.tsx
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/pages/speech/index.tsx
  examples/realtime-websocket/src/pages/transcription/index.tsx
Due: none

feat: UI/UX improvements to realtime-websocket example
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-10-14-03.json
  common/changes/@coze/realtime-api/feat-realtime-quickstart_2025-04-10-14-03.json
  examples/realtime-websocket/src/App.tsx
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/pages/chat/operation.tsx
  examples/realtime-websocket/src/pages/chat/send-message.tsx
  examples/realtime-websocket/src/pages/speech/index.tsx
  examples/realtime-websocket/src/pages/transcription/index.tsx
  packages/coze-js/package.json
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/realtime-api/package.json
Due: coze-js, realtime-api

feat(ui): implement responsive header and improve layout
  examples/realtime-websocket/index.html
  examples/realtime-websocket/public/logo.svg
  examples/realtime-websocket/src/App.css
  examples/realtime-websocket/src/App.tsx
  examples/realtime-websocket/src/components/settings/index.tsx
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/pages/speech/index.tsx
  examples/realtime-websocket/src/pages/transcription/index.tsx
Due: none

feat: add default audio mute option and improve audio handling
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-11-04-04.json
  examples/realtime-websocket/src/components/audio-config/index.tsx
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/pages/chat/operation.tsx
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/types.ts
  packages/coze-js/test/ws-tools/chat.spec.ts
Due: coze-js

chore: Publish feat/realtime-quickstart
  packages/coze-js/package.json
Due: coze-js

fix: unit test
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-11-04-52.json
  packages/coze-js/test/ws-tools/chat.spec.ts
Due: coze-js

chore: remove unpkg
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-11-05-06.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-11-05-07.json
  packages/coze-js/package.json
Due: coze-js

chore: Publish feat/realtime-quickstart
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-11-07-12.json
  packages/coze-js/package.json
Due: coze-js

Feat/realtime quickstart (#198)
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-10-14-03.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-11-04-04.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-11-04-52.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-11-05-06.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-11-05-07.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-11-07-12.json
  common/changes/@coze/realtime-api/feat-realtime-quickstart_2025-04-10-14-03.json
  examples/realtime-websocket/index.html
  examples/realtime-websocket/public/logo.svg
  examples/realtime-websocket/src/App.css
  examples/realtime-websocket/src/App.tsx
  examples/realtime-websocket/src/components/audio-config/index.tsx
  examples/realtime-websocket/src/components/settings/index.tsx
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/pages/chat/operation.tsx
  examples/realtime-websocket/src/pages/chat/send-message.tsx
  examples/realtime-websocket/src/pages/speech/index.tsx
  examples/realtime-websocket/src/pages/transcription/index.tsx
  packages/coze-js/package.json
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/src/ws-tools/types.ts
  packages/coze-js/test/ws-tools/chat.spec.ts
  packages/realtime-api/package.json
Due: coze-js, realtime-api

fix: error in mobile
  examples/realtime-websocket/src/pages/transcription/index.tsx
Due: none

fix: deviceId error
  common/changes/@coze/api/feat-simult_2025-04-12-02-06.json
  cspell.json
  examples/realtime-websocket/src/pages/transcription/index.tsx
  packages/coze-js/src/ws-tools/transcription/base.ts
  packages/coze-js/src/ws-tools/utils/index.ts
Due: coze-js

chore: Publish release/20250412-c3de48
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20250413-547c24
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20250413-62add5
  packages/coze-uniapp/package.json
Due: none

feat: 锁定版本
  common/changes/@coze/chat-sdk/feat-pub-11_2025-04-14-03-38.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/chat-sdk/package.json
  packages/chat-sdk/src/pages/markdown/const.ts
Due: none

chore: Publish feat/pub-11
  packages/chat-sdk/package.json
Due: none

feat: simult interpretation
  common/changes/@coze/api/feat-simult_2025-04-14-10-47.json
  examples/realtime-websocket/src/App.tsx
  examples/realtime-websocket/src/components/console-log/index.tsx
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/pages/simult-interpretation/index.tsx
  packages/coze-js/src/resources/websockets/audio/index.ts
  packages/coze-js/src/resources/websockets/audio/simult-interpretation/index.ts
  packages/coze-js/src/resources/websockets/index.ts
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/index.ts
  packages/coze-js/src/ws-tools/pcm-player/index.ts
  packages/coze-js/src/ws-tools/simult-interpretation/base.ts
  packages/coze-js/src/ws-tools/simult-interpretation/index.ts
  packages/coze-js/src/ws-tools/types.ts
Due: coze-js

Feat/pub 11 (#180)
  common/changes/@coze/chat-sdk/feat-pub-11_2025-04-02-10-01.json
  common/changes/@coze/chat-sdk/feat-pub-11_2025-04-02-10-03.json
  common/changes/@coze/chat-sdk/feat-pub-11_2025-04-09-03-35.json
  common/changes/@coze/chat-sdk/feat-pub-11_2025-04-09-03-41.json
  common/changes/@coze/chat-sdk/feat-pub-11_2025-04-14-03-38.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/chat-sdk/package.json
  packages/chat-sdk/src/libs/provider/store/conversation.ts
  packages/chat-sdk/src/libs/services/helper/message/send-message/async-send-message.ts
  packages/chat-sdk/src/libs/services/helper/message/send-message/raw-send-message.ts
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/helper/gen-ast.ts
  packages/chat-sdk/src/pages/markdown/const.ts
Due: none

feat: add composables and file upload functionality to uniapp example
  common/changes/@coze/uniapp-api/feat-uni-api_2025-04-13-10-14.json
  common/changes/@coze/uniapp-api/feat-uni-api_2025-04-13-10-16.json
  examples/coze-js-uniapp/src/api/client.ts
  examples/coze-js-uniapp/src/composables/use-chat.ts
  examples/coze-js-uniapp/src/composables/use-file-upload.ts
  examples/coze-js-uniapp/src/composables/use-workflow.ts
  examples/coze-js-uniapp/src/pages/index/index.vue
  examples/coze-js-uniapp/tsconfig.json
  packages/coze-uniapp/package.json
  packages/coze-uniapp/src/event-source/index.weapp.ts
  packages/coze-uniapp/src/event-source/request.ts
Due: none

fix: CR bug
  common/changes/@coze/api/feat-uni-api_2025-04-14-05-23.json
  examples/coze-js-uniapp/index.html
  examples/coze-js-uniapp/src/composables/use-chat.ts
  examples/coze-js-uniapp/src/composables/use-workflow.ts
  packages/coze-js/src/version.ts
Due: coze-js
