Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

Potential fix for code scanning alert no. 23: Insecure randomness
  packages/coze-uniapp/src/mixins/mixins.ts
Due: none

test: add test code
  common/changes/@coze/api/feat-uni-api_2025-04-14-15-39.json
  common/changes/@coze/taro-api/feat-uni-api_2025-04-14-15-39.json
  packages/coze-js/test/core.spec.ts
  packages/coze-js/test/fetcher.spec.ts
  packages/coze-js/test/version.spec.ts
  packages/coze-taro/test/api.spec.ts
Due: coze-js

chore: update pnpm-lock.yarm
  common/config/subspaces/default/pnpm-lock.yaml
Due: none

test: add test code
  common/changes/@coze/api/feat-uni-api_2025-04-14-16-20.json
  common/changes/@coze/realtime-api/feat-uni-api_2025-04-14-16-20.json
  packages/coze-js/src/auth.ts
  packages/coze-js/test/auth.spec.ts
  packages/realtime-api/test/event-handler.spec.ts
Due: coze-js, realtime-api

feat(realtime-websocket): add translation and audio playback controls
  common/changes/@coze/api/feat-simult_2025-04-15-02-15.json
  examples/realtime-websocket/src/pages/simult-interpretation/index.tsx
  packages/coze-js/src/resources/websockets/audio/simult-interpretation/index.ts
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/pcm-player/index.ts
Due: coze-js

Feat/pub 11 (#180)
  common/changes/@coze/chat-sdk/feat-pub-11_2025-04-02-10-01.json
  common/changes/@coze/chat-sdk/feat-pub-11_2025-04-02-10-03.json
  common/changes/@coze/chat-sdk/feat-pub-11_2025-04-09-03-35.json
  common/changes/@coze/chat-sdk/feat-pub-11_2025-04-09-03-41.json
  common/changes/@coze/chat-sdk/feat-pub-11_2025-04-14-03-38.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/chat-sdk/package.json
  packages/chat-sdk/src/libs/provider/store/conversation.ts
  packages/chat-sdk/src/libs/services/helper/message/send-message/async-send-message.ts
  packages/chat-sdk/src/libs/services/helper/message/send-message/raw-send-message.ts
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/helper/gen-ast.ts
  packages/chat-sdk/src/pages/markdown/const.ts
Due: none

feat: add local plugin example for chat API
  common/changes/@coze/api/feat-local-plugin_2025-04-12-12-35.json
  common/changes/@coze/api/feat-local-plugin_2025-04-15-03-47.json
  examples/coze-js-node/src/chat-local-plugin.ts
  examples/coze-js-node/src/chat.ts
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/src/resources/chat/chat.ts
  packages/coze-js/src/resources/workflows/chat/chat.ts
Due: coze-js

feat: add local plugin example for chat API (#199)
  common/changes/@coze/api/feat-local-plugin_2025-04-12-12-35.json
  common/changes/@coze/api/feat-local-plugin_2025-04-15-03-47.json
  examples/coze-js-node/src/chat-local-plugin.ts
  examples/coze-js-node/src/chat.ts
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/src/resources/chat/chat.ts
  packages/coze-js/src/resources/workflows/chat/chat.ts
Due: coze-js

feat:(realtime-websocket) tts + asr 模式
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-websocket/src/App.tsx
  examples/realtime-websocket/src/pages/transcription/index.tsx
  examples/realtime-websocket/src/pages/tts_transcription/index.tsx
Due: none

refactor(tts_transcription): 重构语音识别组件使用方式并调整布局响应式设计
  examples/realtime-websocket/src/pages/transcription/index.tsx
  examples/realtime-websocket/src/pages/tts_transcription/index.tsx
  examples/realtime-websocket/src/pages/tts_transcription/transcription.tsx
Due: none

fix: error in mobile
  examples/realtime-websocket/src/pages/transcription/index.tsx
Due: none

fix: deviceId error
  common/changes/@coze/api/feat-simult_2025-04-12-02-06.json
  cspell.json
  examples/realtime-websocket/src/pages/transcription/index.tsx
  packages/coze-js/src/ws-tools/transcription/base.ts
  packages/coze-js/src/ws-tools/utils/index.ts
Due: coze-js

feat: simult interpretation
  common/changes/@coze/api/feat-simult_2025-04-14-10-47.json
  examples/realtime-websocket/src/App.tsx
  examples/realtime-websocket/src/components/console-log/index.tsx
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/pages/simult-interpretation/index.tsx
  packages/coze-js/src/resources/websockets/audio/index.ts
  packages/coze-js/src/resources/websockets/audio/simult-interpretation/index.ts
  packages/coze-js/src/resources/websockets/index.ts
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/index.ts
  packages/coze-js/src/ws-tools/pcm-player/index.ts
  packages/coze-js/src/ws-tools/simult-interpretation/base.ts
  packages/coze-js/src/ws-tools/simult-interpretation/index.ts
  packages/coze-js/src/ws-tools/types.ts
Due: coze-js

feat:(realtime-websocket) tts + asr 模式
  examples/realtime-websocket/src/App.tsx
  examples/realtime-websocket/src/pages/transcription/index.tsx
  examples/realtime-websocket/src/pages/tts_transcription/index.tsx
Due: none

feat: Add coze uniapp api support (#201)
  common/changes/@coze/api/feat-uni-api_2025-04-13-06-09.json
  common/changes/@coze/api/feat-uni-api_2025-04-14-05-23.json
  common/changes/@coze/api/feat-uni-api_2025-04-14-15-39.json
  common/changes/@coze/api/feat-uni-api_2025-04-14-16-20.json
  common/changes/@coze/realtime-api/feat-uni-api_2025-04-14-16-20.json
  common/changes/@coze/taro-api/feat-uni-api_2025-04-13-06-09.json
  common/changes/@coze/taro-api/feat-uni-api_2025-04-14-15-39.json
  common/changes/@coze/uniapp-api/feat-uni-api_2025-04-13-06-09.json
  common/changes/@coze/uniapp-api/feat-uni-api_2025-04-13-10-14.json
  common/changes/@coze/uniapp-api/feat-uni-api_2025-04-13-10-16.json
  packages/coze-uniapp/package.json
Due: none

feat(simult-extension): add simult example
  common/changes/@coze/api/feat-simult_2025-04-15-10-50.json
  common/changes/@coze/api/feat-simult_2025-04-15-15-59.json
  examples/realtime-websocket/src/components/event-input/index.tsx
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/simult-extension/README.md
  examples/simult-extension/eslint.config.cjs
  examples/simult-extension/index.html
  examples/simult-extension/package.json
  examples/simult-extension/public/icons/icon128.svg
  examples/simult-extension/public/icons/icon16.svg
  examples/simult-extension/public/icons/icon48.svg
  examples/simult-extension/public/manifest.json
  examples/simult-extension/public/pcm-worklet-processor.js
  examples/simult-extension/public/stream-processor.js
  examples/simult-extension/scripts/postbuild.js
  examples/simult-extension/src/background/index.html
  examples/simult-extension/src/background/main.ts
  examples/simult-extension/src/content/index.ts
  examples/simult-extension/src/popup/event-input.tsx
  examples/simult-extension/src/popup/index.html
  examples/simult-extension/src/popup/main.tsx
  examples/simult-extension/src/popup/popup.css
  examples/simult-extension/src/types/chrome.d.ts
  examples/simult-extension/tsconfig.json
  examples/simult-extension/tsconfig.node.json
  examples/simult-extension/vite.config.ts
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chrome.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/recorder/processor/wav-worklet-processor.ts
  packages/coze-js/src/ws-tools/simult-interpretation/base.ts
  packages/coze-js/src/ws-tools/simult-interpretation/index.ts
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/src/ws-tools/transcription/base.ts
  packages/coze-js/src/ws-tools/types.ts
  packages/coze-js/src/ws-tools/utils/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.js
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/audio_processor.js
  rush.json
Due: coze-js

feat(simult-extension): add zip script
  examples/simult-extension/package.json
  examples/simult-extension/src/background/main.ts
  examples/simult-extension/src/popup/event-input.tsx
Due: none

test: add test code
  common/changes/@coze/api/feat-simult_2025-04-16-12-34.json
  examples/simult-extension/README.md
  packages/coze-js/test/resources/websockets/simult-interpretation.spec.ts
  packages/coze-js/test/ws-tools/pcm-player.spec.ts
  packages/coze-js/test/ws-tools/recorder/pcm-recorder.spec.ts
  packages/coze-js/test/ws-tools/utils.spec.ts
  packages/coze-js/vitest.config.ts
Due: coze-js

docs: Update documentation to reference new examples
  README.md
  README.zh-CN.md
  common/changes/@coze/uniapp-api/feat-simult_2025-04-16-12-52.json
  examples/simult-extension/config/rush-project.json
  packages/coze-uniapp/src/mixins/mixins.ts
Due: none

fix: eslint bug
  common/changes/@coze/api/feat-simult_2025-04-16-15-28.json
  examples/realtime-websocket/src/pages/simult-interpretation/index.tsx
  examples/realtime-websocket/src/pages/tts_transcription/index.tsx
  examples/realtime-websocket/src/pages/tts_transcription/transcription.tsx
  examples/simult-extension/README.md
  packages/coze-js/src/ws-tools/chrome.ts
  packages/coze-js/src/ws-tools/recorder/processor/pcm-worklet-processor.ts
  packages/coze-js/src/ws-tools/recorder/processor/wav-worklet-processor.ts
  packages/coze-js/src/ws-tools/utils/index.ts
Due: coze-js

docs: move
  common/changes/@coze/api/feat-simult_2025-04-16-15-54.json
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
Due: coze-js

chore: Publish feat/simult
  packages/coze-uniapp/package.json
Due: none

feat(coze-uniapp): compile to ES5 for improved compatibility
  common/changes/@coze/uniapp-api/feat-simult_2025-04-17-01-56.json
  packages/coze-uniapp/package.json
  packages/coze-uniapp/tsconfig.build.json
  packages/coze-uniapp/tsconfig.json
Due: none

chore: Publish release/20250417-57ef11
  packages/coze-uniapp/package.json
Due: none

feat(coze-uniapp): compile to ES5 for improved compatibility
  common/changes/@coze/uniapp-api/feat-simult_2025-04-17-01-56.json
  common/changes/@coze/uniapp-api/feat-simult_2025-04-17-02-10.json
  packages/coze-uniapp/package.json
  packages/coze-uniapp/tsconfig.build.json
  packages/coze-uniapp/tsconfig.json
Due: none

chore: Publish release/20250417-6d3493
  packages/coze-uniapp/package.json
Due: none

feat(coze-uniapp): compile to ES5 for improved compatibility
  common/changes/@coze/uniapp-api/feat-simult_2025-04-17-01-56.json
  common/changes/@coze/uniapp-api/feat-simult_2025-04-17-02-10.json
  common/changes/@coze/uniapp-api/feat-simult_2025-04-17-02-24.json
  packages/coze-uniapp/package.json
  packages/coze-uniapp/src/mixins/mixins.ts
  packages/coze-uniapp/tsconfig.build.json
  packages/coze-uniapp/tsconfig.json
Due: none

feat: improve authentication error handling for regional base URLs
  common/changes/@coze/api/feat-coze-api_2025-04-17-04-10.json
  examples/coze-js-uniapp/README.md
  examples/coze-js-uniapp/src/composables/use-chat.ts
  packages/coze-js/src/fetcher.ts
Due: coze-js

test: add test code
  common/changes/@coze/api/feat-test_2025-04-17-06-10.json
  packages/coze-js/test/ws-tools/simult-interpretation.spec.ts
  packages/coze-js/vitest.config.ts
Due: coze-js

feat(coze-uniapp): compile to ES5 for improved compatibility (#207)
  common/changes/@coze/api/feat-simult_2025-04-16-15-54.json
  common/changes/@coze/uniapp-api/feat-simult_2025-04-17-01-56.json
  common/changes/@coze/uniapp-api/feat-simult_2025-04-17-02-10.json
  common/changes/@coze/uniapp-api/feat-simult_2025-04-17-02-24.json
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-uniapp/package.json
  packages/coze-uniapp/src/mixins/mixins.ts
  packages/coze-uniapp/tsconfig.build.json
  packages/coze-uniapp/tsconfig.json
Due: coze-js

feat: improve authentication error handling for regional base URLs (#208)
  common/changes/@coze/api/feat-coze-api_2025-04-17-04-10.json
  examples/coze-js-uniapp/README.md
  examples/coze-js-uniapp/src/composables/use-chat.ts
  packages/coze-js/src/fetcher.ts
Due: coze-js

test: add test code (#209)
  common/changes/@coze/api/feat-test_2025-04-17-06-10.json
  packages/coze-js/test/ws-tools/simult-interpretation.spec.ts
  packages/coze-js/vitest.config.ts
Due: coze-js

Path conditions:
  coze-js: any of: packages/coze-js/**
  realtime-api: any of: packages/realtime-api/**
