Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

chore: Publish feat/realtime-websocket
  packages/coze-js/package.json
Due: coze-js

chore: Publish feat/realtime-websocket
  packages/coze-uniapp/package.json
Due: none

chore: Add `userAgent` NPE check
  packages/coze-js/src/version.ts
Due: coze-js

chore: Add `userAgent` NPE check (#257)
  packages/coze-js/src/version.ts
Due: coze-js

fix: test error
  common/changes/@coze/api/feat-realtime-websocket_2025-06-02-01-01.json
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/wavtools/index.ts
  packages/coze-js/test/ws-tools/chat.spec.ts
  packages/coze-js/test/ws-tools/recorder/pcm-recorder.spec.ts
Due: coze-js

refactor: rename LocalLookback to LocalLoopback and fix typos
  common/changes/@coze/api/feat-realtime-websocket_2025-06-02-01-19.json
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/types.ts
  packages/coze-js/src/ws-tools/wavtools/lib/local-loopback.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
  packages/coze-js/test/ws-tools/chat.spec.ts
  packages/coze-js/test/ws-tools/speech.spec.ts
Due: coze-js

fix: cr bug
  common/changes/@coze/api/feat-realtime-websocket_2025-06-02-01-24.json
  common/changes/@coze/api/feat-realtime-websocket_2025-06-02-01-31.json
  examples/realtime-websocket/src/pages/chat/index.tsx
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/wavtools/index.ts
Due: coze-js

feat: optimize local audio loopback and chat client config & Add client_interrupt support (#254)
  common/changes/@coze/api/feat-realtime-websocket_2025-05-29-10-15.json
  common/changes/@coze/api/feat-realtime-websocket_2025-05-29-13-59.json
  common/changes/@coze/api/feat-realtime-websocket_2025-06-02-01-01.json
  common/changes/@coze/api/feat-realtime-websocket_2025-06-02-01-19.json
  common/changes/@coze/api/feat-realtime-websocket_2025-06-02-01-24.json
  common/changes/@coze/api/feat-realtime-websocket_2025-06-02-01-31.json
  common/changes/@coze/uniapp-api/feat-realtime-websocket_2025-05-29-10-15.json
  common/changes/@coze/uniapp-api/feat-realtime-websocket_2025-05-29-12-14.json
  common/changes/@coze/uniapp-api/feat-realtime-websocket_2025-05-29-12-31.json
  common/changes/@coze/uniapp-api/feat-realtime-websocket_2025-05-29-13-59.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-uniapp/package.json
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-websocket/src/components/settings/index.tsx
  examples/realtime-websocket/src/pages/chat/index.css
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/pages/chat/operation.tsx
  examples/realtime-websocket/src/pages/chat/receive-message.tsx
  examples/realtime-websocket/src/utils/config.ts
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/package.json
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/types.ts
  packages/coze-js/src/ws-tools/wavtools/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/local-loopback.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
  packages/coze-js/test/ws-tools/chat.spec.ts
  packages/coze-js/test/ws-tools/recorder/pcm-recorder.spec.ts
  packages/coze-js/test/ws-tools/speech.spec.ts
  packages/coze-uniapp/README.md
  packages/coze-uniapp/package.json
  packages/coze-uniapp/src/ws-tool/chat/index.ts
Due: coze-js

chore: Publish fix/bug
  packages/coze-js/package.json
Due: coze-js

feat(uniapp-api): Add isPlaybackMuted state to track mute status
  common/changes/@coze/uniapp-api/fix-uniapp-api_2025-06-03-14-10.json
  examples/coze-js-uniapp/src/composables/use-voice-chat.ts
  examples/coze-js-uniapp/src/pages/chat/index.vue
  packages/coze-uniapp/src/ws-tool/chat/base.ts
  packages/coze-uniapp/src/ws-tool/pcm-stream-player/index.ts
Due: none

chore: Publish fix/uniapp-api
  packages/coze-uniapp/package.json
Due: none

chore: Publish fix/uniapp-api
  common/changes/@coze/api/fix-uniapp-api_2025-06-03-16-45.json
  common/changes/@coze/api/fix-uniapp-api_2025-06-03-16-51.json
  common/changes/@coze/uniapp-api/fix-uniapp-api_2025-06-03-14-14.json
  examples/coze-js-uniapp/README.md
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/types.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/stream_processor.js
  packages/coze-js/test/ws-tools/chat.spec.ts
  packages/coze-js/test/ws-tools/speech.spec.ts
  packages/coze-js/test/ws-tools/transcription.spec.ts
  packages/coze-uniapp/README.md
  packages/coze-uniapp/package.json
Due: coze-js

fix(realtime-api): Add TrackEnded event
  common/changes/@coze/realtime-api/fix-bug_2025-06-04-09-25.json
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/event-names.ts
Due: realtime-api

chore: Publish fix/bug
  packages/realtime-api/package.json
Due: realtime-api

fix(realtime-api): Added await for setVideoInputDevice to ensure proper async handling
  common/changes/@coze/realtime-api/fix-bug_2025-06-05-10-05.json
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/event-names.ts
Due: realtime-api

refactor: enhance video state management and error handling
  common/changes/@coze/realtime-api/fix-bug_2025-06-05-13-20.json
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/event-names.ts
  packages/realtime-api/src/index.ts
  packages/realtime-api/test/client.spec.ts
Due: realtime-api

feat(voiceprint): Add voiceprint API
  common/changes/@coze/api/feat-voiceprint_2025-06-05-17-22.json
  examples/coze-js-node/src/voiceprint.ts
  examples/coze-js-node/src/websockets/chat.ts
  packages/coze-js/src/resources/audio/index.ts
  packages/coze-js/src/resources/audio/voiceprint-groups/features.ts
  packages/coze-js/src/resources/audio/voiceprint-groups/index.ts
Due: coze-js

chore: Publish release/20250606-6b5ec3
  packages/coze-js/package.json
Due: coze-js

feat(voiceprint): Add voiceprint API
  common/changes/@coze/api/feat-voiceprint_2025-06-05-17-22.json
  common/changes/@coze/api/feat-voiceprint_2025-06-06-03-40.json
  examples/coze-js-node/src/voiceprint.ts
  examples/coze-js-node/src/websockets/chat.ts
  packages/coze-js/src/core.ts
  packages/coze-js/src/resources/audio/index.ts
  packages/coze-js/src/resources/audio/voiceprint-groups/features.ts
  packages/coze-js/src/resources/audio/voiceprint-groups/index.ts
Due: coze-js

chore: Publish release/20250606-a88fed
  packages/coze-js/package.json
Due: coze-js

feat(coze-api): Add onApiError callback option to ClientOptions and RequestOptions interfaces
  common/changes/@coze/api/feat-voiceprint_2025-06-07-05-13.json
  examples/coze-js-node/src/error-handle.ts
  packages/coze-js/src/core.ts
  packages/coze-js/src/fetcher.ts
Due: coze-js

feat(voiceprint): add voice print group support and move turn detection to event input
  common/changes/@coze/api/feat-voiceprint_2025-06-08-03-07.json
  examples/realtime-websocket/src/components/event-input/index.tsx
  examples/realtime-websocket/src/components/settings/index.tsx
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/utils/config.ts
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/utils/index.ts
Due: coze-js

test: add test code
  common/changes/@coze/api/feat-voiceprint_2025-06-08-03-16.json
  packages/coze-js/test/resources/voiceprint-feature.test.ts
  packages/coze-js/test/resources/voiceprint-group.test.ts
Due: coze-js

chore: Publish feat/voiceprint
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20250608-0f9932
  packages/coze-js/package.json
Due: coze-js

fix(realtime-api): Add TrackEnded event (#259)
  common/changes/@coze/realtime-api/fix-bug_2025-06-04-09-25.json
  common/changes/@coze/realtime-api/fix-bug_2025-06-05-10-05.json
  common/changes/@coze/realtime-api/fix-bug_2025-06-05-13-20.json
  packages/realtime-api/package.json
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/event-names.ts
  packages/realtime-api/src/index.ts
  packages/realtime-api/test/client.spec.ts
Due: realtime-api

feat(uniapp-api): feat: Implement playback volume control
  common/changes/@coze/api/fix-uniapp-api_2025-06-08-09-53.json
  common/changes/@coze/api/fix-uniapp-api_2025-06-09-04-33.json
  common/changes/@coze/uniapp-api/fix-uniapp-api_2025-06-08-09-53.json
  examples/coze-js-uniapp/src/composables/use-voice-chat.ts
  examples/coze-js-uniapp/src/pages/chat/index.vue
  examples/realtime-websocket/src/pages/chat/index.tsx
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/types.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/stream_processor.js
  packages/coze-js/test/ws-tools/chat.spec.ts
  packages/coze-uniapp/README.md
  packages/coze-uniapp/src/ws-tool/chat/base.ts
  packages/coze-uniapp/src/ws-tool/pcm-stream-player/index.ts
Due: coze-js

feat(uniapp-api): feat: Implement playback volume control (#258)
  common/changes/@coze/api/fix-uniapp-api_2025-06-03-16-45.json
  common/changes/@coze/api/fix-uniapp-api_2025-06-03-16-51.json
  common/changes/@coze/api/fix-uniapp-api_2025-06-08-09-53.json
  common/changes/@coze/api/fix-uniapp-api_2025-06-09-04-33.json
  common/changes/@coze/uniapp-api/fix-uniapp-api_2025-06-03-14-10.json
  common/changes/@coze/uniapp-api/fix-uniapp-api_2025-06-03-14-14.json
  common/changes/@coze/uniapp-api/fix-uniapp-api_2025-06-08-09-53.json
  examples/coze-js-uniapp/README.md
  examples/coze-js-uniapp/src/composables/use-voice-chat.ts
  examples/coze-js-uniapp/src/pages/chat/index.vue
  examples/realtime-websocket/src/pages/chat/index.tsx
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/types.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/stream_processor.js
  packages/coze-js/test/ws-tools/chat.spec.ts
  packages/coze-js/test/ws-tools/speech.spec.ts
  packages/coze-js/test/ws-tools/transcription.spec.ts
  packages/coze-uniapp/README.md
  packages/coze-uniapp/package.json
  packages/coze-uniapp/src/ws-tool/chat/base.ts
  packages/coze-uniapp/src/ws-tool/pcm-stream-player/index.ts
Due: coze-js

chore: Publish feat/voiceprint
  examples/realtime-websocket/src/components/event-input/index.tsx
  packages/coze-js/package.json
Due: coze-js

fix(realtime-api): Fix share screen bug
  common/changes/@coze/realtime-api/feat-voiceprint_2025-06-09-06-58.json
  packages/realtime-api/src/client.ts
Due: realtime-api

chore: Publish feat/voiceprint
  packages/realtime-api/package.json
Due: realtime-api

Path conditions:
  coze-js: any of: packages/coze-js/**
  realtime-api: any of: packages/realtime-api/**
