Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

codecov.yml:

# valid this file: curl --data-binary @codecov.yml https://codecov.io/validate
# reference doc: https://docs.codecov.com/docs/common-recipe-list#set-project-coverage-checks-on-a-pull-request

# codecov:
#   require_ci_to_pass: false
#   notify:
#     wait_for_ci: false

# for overall project coverage
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%
    patch:
      default:
        target: 90%
        threshold: 10%

comment:
  layout: 'header, diff, components, files' # show component info in the PR comment
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: true # [true :: only show coverage on the git diff aka patch coverage]]

# reference doc: https://docs.codecov.com/docs/components
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 90%
        threshold: 1%
      - type: patch
        target: 90%
        threshold: 10%

  individual_components:
    - component_id: coze-js # this is an identifier that should not be changed
      name: coze-js # this is a display name, and can be changed freely
      paths:
        - packages/coze-js/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

    - component_id: realtime-api # this is an identifier that should not be changed
      name: realtime-api # this is a display name, and can be changed freely
      paths:
        - packages/realtime-api/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

chore: upgrade version (#268)
  common/autoinstallers/plugins/package.json
  common/autoinstallers/plugins/pnpm-lock.yaml
  common/autoinstallers/plugins/rush-plugins/@coze-arch/rush-publish-plugin/@coze-arch/rush-publish-plugin/command-line.json
Due: none

perf: Use transferable objects when posting audio buffers to avoid data copying (#264)
  common/changes/@coze/api/feat-perf2_2025-06-16-13-08.json
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
Due: coze-js

fix(realtime-api): Remove RTC_ACCESS_URLS in test env
  common/changes/@coze/realtime-api/feat-rtc-test_2025-06-16-13-34.json
  packages/realtime-api/src/client.ts
Due: realtime-api

chore: Publish feat/rtc-test
  packages/coze-js/package.json
Due: coze-js

chore: Publish feat/rtc-test
  common/changes/@coze/api/feat-rtc-test_2025-06-16-13-42.json
  packages/realtime-api/package.json
Due: realtime-api

chore: Publish feat/rtc-test
  common/changes/@coze/realtime-api/feat-rtc-test_2025-06-17-08-09.json
  packages/realtime-api/test/client.spec.ts
Due: realtime-api

fix(realtime-api): Remove RTC_ACCESS_URLS in test env (#265)
  common/changes/@coze/api/feat-rtc-test_2025-06-16-13-42.json
  common/changes/@coze/realtime-api/feat-rtc-test_2025-06-16-13-34.json
  common/changes/@coze/realtime-api/feat-rtc-test_2025-06-17-08-09.json
  packages/coze-js/package.json
  packages/realtime-api/package.json
  packages/realtime-api/src/client.ts
  packages/realtime-api/test/client.spec.ts
Due: coze-js, realtime-api

feat(websocket): Add WebRTC demo
  common/changes/@coze/api/feat-rtc_2025-06-17-16-41.json
  common/changes/@coze/realtime-api/feat-rtc_2025-06-17-16-41.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-console/package.json
  examples/realtime-console/src/App.tsx
  examples/realtime-console/src/pages/main/header.tsx
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/live-info.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/pages/subscribe/index.tsx
  examples/realtime-console/src/pages/subscribe/webrtc-service.ts
  examples/realtime-console/src/utils/local-manager.ts
  examples/realtime-websocket/src/App.tsx
  examples/realtime-websocket/src/components/settings/index.tsx
  examples/realtime-websocket/src/pages/publish/ControlsPanel.tsx
  examples/realtime-websocket/src/pages/publish/InstructionsCard.tsx
  examples/realtime-websocket/src/pages/publish/MicrophoneButton.tsx
  examples/realtime-websocket/src/pages/publish/PublishContext.tsx
  examples/realtime-websocket/src/pages/publish/QRShareModal.tsx
  examples/realtime-websocket/src/pages/publish/VolumeIndicator.tsx
  examples/realtime-websocket/src/pages/publish/index.tsx
  examples/realtime-websocket/src/pages/subscribe/index.tsx
  examples/realtime-websocket/src/pages/subscribe/webrtc-service.ts
  examples/realtime-websocket/src/utils/config.ts
  examples/realtime-websocket/src/utils/webrtc-service.ts
  packages/coze-js/src/resources/audio/index.ts
  packages/coze-js/src/resources/audio/live/index.ts
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/coze-js/src/resources/audio/translation-rooms/index.ts
  packages/realtime-api/src/event-names.ts
  packages/realtime-api/src/index.ts
Due: coze-js, realtime-api

feat: refactor and fix aec bug on HarmonyOS
  common/changes/@coze/api/feat-refactor_2025-06-18-10-37.json
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/pages/chat/sentence-message.tsx
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/chat/sentence-synchronizer.ts
  packages/coze-js/src/ws-tools/utils/index.ts
Due: coze-js

chore: Publish feat/refactor
  packages/coze-js/package.json
Due: coze-js

chore: Publish feat/refactor
  common/changes/@coze/api/feat-refactor_2025-06-18-10-53.json
  packages/coze-js/package.json
  packages/coze-js/test/ws-tools/chat.spec.ts
  packages/coze-js/test/ws-tools/utils.spec.ts
Due: coze-js

chore: Publish release/20250618-de61be
  packages/coze-js/package.json
Due: coze-js

fix(api): Fix sentence bug
  common/changes/@coze/api/feat-refactor_2025-06-19-09-18.json
  common/changes/@coze/api/feat-refactor_2025-06-19-09-26.json
  examples/realtime-websocket/src/pages/chat/index.tsx
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/chat/sentence-synchronizer.ts
  packages/coze-js/src/ws-tools/types.ts
  packages/coze-js/src/ws-tools/utils/index.ts
Due: coze-js

feat: refactor and fix aec bug on HarmonyOS (#271)
  common/changes/@coze/api/feat-refactor_2025-06-18-10-37.json
  common/changes/@coze/api/feat-refactor_2025-06-18-10-53.json
  common/changes/@coze/api/feat-refactor_2025-06-19-09-18.json
  common/changes/@coze/api/feat-refactor_2025-06-19-09-26.json
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
  examples/realtime-websocket/src/pages/chat/sentence-message.tsx
  packages/coze-js/package.json
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/chat/sentence-synchronizer.ts
  packages/coze-js/src/ws-tools/types.ts
  packages/coze-js/src/ws-tools/utils/index.ts
  packages/coze-js/test/ws-tools/chat.spec.ts
  packages/coze-js/test/ws-tools/utils.spec.ts
Due: coze-js

chore: Publish release/20250619-429588
  common/changes/@coze/api/feat-perf2_2025-06-16-13-08.json
  common/changes/@coze/api/feat-refactor_2025-06-18-10-37.json
  common/changes/@coze/api/feat-refactor_2025-06-18-10-53.json
  common/changes/@coze/api/feat-refactor_2025-06-19-09-18.json
  common/changes/@coze/api/feat-refactor_2025-06-19-09-26.json
  common/changes/@coze/api/feat-rtc-test_2025-06-16-13-42.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20250619-429588 (#272)
  common/changes/@coze/api/feat-perf2_2025-06-16-13-08.json
  common/changes/@coze/api/feat-refactor_2025-06-18-10-37.json
  common/changes/@coze/api/feat-refactor_2025-06-18-10-53.json
  common/changes/@coze/api/feat-refactor_2025-06-19-09-18.json
  common/changes/@coze/api/feat-refactor_2025-06-19-09-26.json
  common/changes/@coze/api/feat-rtc-test_2025-06-16-13-42.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
Due: coze-js

feat(api): feat: add Opus codec support for WebSocket audio streaming
  common/changes/@coze/api/feat-opus_2025-06-19-13-35.json
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/chat/opus-decoder.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
Due: coze-js

fix: Added method to ensure the and local loopback are ready before processing audio
  common/changes/@coze/api/feat-opus_2025-06-20-06-30.json
  examples/realtime-websocket/src/components/audio-config/index.tsx
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/local-loopback.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
Due: coze-js

feat(api): feat: add Opus codec support for WebSocket audio streaming (#273)
  common/changes/@coze/api/feat-opus_2025-06-19-13-35.json
  common/changes/@coze/api/feat-opus_2025-06-20-06-30.json
  examples/realtime-websocket/src/components/audio-config/index.tsx
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/chat/opus-decoder.ts
  packages/coze-js/src/ws-tools/wavtools/lib/local-loopback.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
Due: coze-js

fix(coze-js): add null check for uni.getSystemInfoSync in UniApp user agent
  common/changes/@coze/api/fix-uni_2025-06-23-07-37.json
  packages/coze-js/src/version.ts
Due: coze-js

chore: Publish fix/uni
  packages/coze-js/package.json
Due: coze-js

add null check for uni.getSystemInfoSync in UniApp user agent (#274)
  common/changes/@coze/api/fix-uni_2025-06-23-07-37.json
  packages/coze-js/package.json
  packages/coze-js/src/version.ts
Due: coze-js

chore: Publish release/20250623-5f8b3e
  common/changes/@coze/api/feat-opus_2025-06-19-13-35.json
  common/changes/@coze/api/feat-opus_2025-06-20-06-30.json
  common/changes/@coze/api/fix-uni_2025-06-23-07-37.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20250623-5f8b3e (#275)
  common/changes/@coze/api/feat-opus_2025-06-19-13-35.json
  common/changes/@coze/api/feat-opus_2025-06-20-06-30.json
  common/changes/@coze/api/fix-uni_2025-06-23-07-37.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
Due: coze-js

feat: init coze-js-uniapp for vue2 version
  README.md
  README.zh-CN.md
  common/config/subspaces/default/common-versions.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-uniapp-v2/.env.production
  examples/coze-js-uniapp-v2/README.md
  examples/coze-js-uniapp-v2/babel.config.js
  examples/coze-js-uniapp-v2/config/rush-project.json
  examples/coze-js-uniapp-v2/package.json
  examples/coze-js-uniapp-v2/pnpm-lock.yaml
  examples/coze-js-uniapp-v2/postcss.config.js
  examples/coze-js-uniapp-v2/public/index.html
  examples/coze-js-uniapp-v2/shims-uni.d.ts
  examples/coze-js-uniapp-v2/shims-vue.d.ts
  examples/coze-js-uniapp-v2/src/App.vue
  examples/coze-js-uniapp-v2/src/main.js
  examples/coze-js-uniapp-v2/src/manifest.json
  examples/coze-js-uniapp-v2/src/pages.json
  examples/coze-js-uniapp-v2/src/pages/chat-h5/README.md
  examples/coze-js-uniapp-v2/src/pages/chat-h5/index.vue
  examples/coze-js-uniapp-v2/src/pages/chat-h5/use-voice-chat.js
  examples/coze-js-uniapp-v2/src/pages/index/index.vue
  examples/coze-js-uniapp-v2/src/pages/webview-test/index.vue
  examples/coze-js-uniapp-v2/src/static/logo.png
  examples/coze-js-uniapp-v2/src/uni.promisify.adaptor.js
  examples/coze-js-uniapp-v2/src/uni.scss
Due: none

feat: init coze-js-uniapp for vue2 version (#132)
  README.md
  README.zh-CN.md
  common/config/subspaces/default/common-versions.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-uniapp-v2/.env.production
  examples/coze-js-uniapp-v2/README.md
  examples/coze-js-uniapp-v2/babel.config.js
  examples/coze-js-uniapp-v2/config/rush-project.json
  examples/coze-js-uniapp-v2/package.json
  examples/coze-js-uniapp-v2/pnpm-lock.yaml
  examples/coze-js-uniapp-v2/postcss.config.js
  examples/coze-js-uniapp-v2/public/index.html
  examples/coze-js-uniapp-v2/shims-uni.d.ts
  examples/coze-js-uniapp-v2/shims-vue.d.ts
  examples/coze-js-uniapp-v2/src/App.vue
  examples/coze-js-uniapp-v2/src/main.js
  examples/coze-js-uniapp-v2/src/manifest.json
  examples/coze-js-uniapp-v2/src/pages.json
  examples/coze-js-uniapp-v2/src/pages/chat-h5/README.md
  examples/coze-js-uniapp-v2/src/pages/chat-h5/index.vue
  examples/coze-js-uniapp-v2/src/pages/chat-h5/use-voice-chat.js
  examples/coze-js-uniapp-v2/src/pages/index/index.vue
  examples/coze-js-uniapp-v2/src/pages/webview-test/index.vue
  examples/coze-js-uniapp-v2/src/static/logo.png
  examples/coze-js-uniapp-v2/src/uni.promisify.adaptor.js
  examples/coze-js-uniapp-v2/src/uni.scss
Due: none

feat(realtime-websocket): implement settings component and API integration
  common/changes/@coze/api/feat-login_2025-06-25-04-07.json
  examples/coze-js-node/src/bot.ts
  examples/coze-js-node/src/websockets/transcriptions.ts
  examples/realtime-websocket/package.json
  examples/realtime-websocket/src/components/audio-config/index.tsx
  examples/realtime-websocket/src/components/header/header.tsx
  examples/realtime-websocket/src/components/settings2/index.tsx
  examples/realtime-websocket/src/components/settings2/use-api.ts
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/utils/config.ts
  examples/realtime-websocket/src/utils/index.ts
  packages/coze-js/src/resources/bots/bots.ts
  packages/coze-js/src/resources/workspaces/workspaces.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
Due: coze-js

feat(realtime-websocket): implement settings component and API integration (#277)
  common/changes/@coze/api/feat-login_2025-06-25-04-07.json
  examples/coze-js-node/src/bot.ts
  examples/coze-js-node/src/websockets/transcriptions.ts
  examples/realtime-websocket/package.json
  examples/realtime-websocket/src/components/audio-config/index.tsx
  examples/realtime-websocket/src/components/header/header.tsx
  examples/realtime-websocket/src/components/settings2/index.tsx
  examples/realtime-websocket/src/components/settings2/use-api.ts
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/utils/config.ts
  examples/realtime-websocket/src/utils/index.ts
  packages/coze-js/src/resources/bots/bots.ts
  packages/coze-js/src/resources/workspaces/workspaces.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
Due: coze-js

feat(realtime-api): Coze Simultaneous Interpretation
  common/changes/@coze/api/feat-rtc_2025-06-17-16-41.json
  common/changes/@coze/api/feat-rtc_2025-06-24-02-27.json
  common/changes/@coze/realtime-api/feat-rtc_2025-06-17-16-41.json
  common/changes/@coze/realtime-api/feat-rtc_2025-06-24-02-27.json
  common/changes/@coze/realtime-api/feat-rtc_2025-06-24-02-35.json
  common/changes/@coze/realtime-api/feat-rtc_2025-06-26-10-22.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-console/package.json
  examples/realtime-console/src/App.tsx
  examples/realtime-console/src/pages/main/header.tsx
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/live-info.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/pages/subscribe/index.tsx
  examples/realtime-console/src/utils/local-manager.ts
  examples/realtime-console/src/utils/utils.ts
  examples/realtime-console/tsconfig.json
  packages/coze-js/src/resources/audio/index.ts
  packages/coze-js/src/resources/audio/live/index.ts
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/realtime-api/README.md
  packages/realtime-api/README.zh-CN.md
  packages/realtime-api/live.md
  packages/realtime-api/package.json
  packages/realtime-api/rslib.config.ts
  packages/realtime-api/src/event-names.ts
  packages/realtime-api/src/index.ts
  packages/realtime-api/src/live/index.ts
Due: coze-js, realtime-api

feat(realtime-api): Coze Simultaneous Interpretation (#249)
  common/changes/@coze/api/feat-rtc_2025-06-17-16-41.json
  common/changes/@coze/api/feat-rtc_2025-06-24-02-27.json
  common/changes/@coze/realtime-api/feat-rtc_2025-06-17-16-41.json
  common/changes/@coze/realtime-api/feat-rtc_2025-06-24-02-27.json
  common/changes/@coze/realtime-api/feat-rtc_2025-06-24-02-35.json
  common/changes/@coze/realtime-api/feat-rtc_2025-06-26-10-22.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-console/package.json
  examples/realtime-console/src/App.tsx
  examples/realtime-console/src/pages/main/header.tsx
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/live-info.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/pages/subscribe/index.tsx
  examples/realtime-console/src/utils/local-manager.ts
  examples/realtime-console/src/utils/utils.ts
  examples/realtime-console/tsconfig.json
  packages/coze-js/src/resources/audio/index.ts
  packages/coze-js/src/resources/audio/live/index.ts
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/realtime-api/README.md
  packages/realtime-api/README.zh-CN.md
  packages/realtime-api/live.md
  packages/realtime-api/package.json
  packages/realtime-api/rslib.config.ts
  packages/realtime-api/src/event-names.ts
  packages/realtime-api/src/index.ts
  packages/realtime-api/src/live/index.ts
Due: coze-js, realtime-api

chore: Publish release/20250626-b930cd
  common/changes/@coze/api/feat-login_2025-06-25-04-07.json
  common/changes/@coze/api/feat-rtc_2025-06-17-16-41.json
  common/changes/@coze/api/feat-rtc_2025-06-24-02-27.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20250626-247050
  common/changes/@coze/api/feat-login_2025-06-25-04-07.json
  common/changes/@coze/api/feat-rtc_2025-06-17-16-41.json
  common/changes/@coze/api/feat-rtc_2025-06-24-02-27.json
  common/changes/@coze/realtime-api/feat-rtc-test_2025-06-16-13-34.json
  common/changes/@coze/realtime-api/feat-rtc-test_2025-06-17-08-09.json
  common/changes/@coze/realtime-api/feat-rtc_2025-06-17-16-41.json
  common/changes/@coze/realtime-api/feat-rtc_2025-06-24-02-27.json
  common/changes/@coze/realtime-api/feat-rtc_2025-06-24-02-35.json
  common/changes/@coze/realtime-api/feat-rtc_2025-06-26-10-22.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
  packages/realtime-api/CHANGELOG.json
  packages/realtime-api/CHANGELOG.md
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: Publish release/20250626-247050 (#278)
  common/changes/@coze/api/feat-login_2025-06-25-04-07.json
  common/changes/@coze/api/feat-rtc_2025-06-17-16-41.json
  common/changes/@coze/api/feat-rtc_2025-06-24-02-27.json
  common/changes/@coze/realtime-api/feat-rtc-test_2025-06-16-13-34.json
  common/changes/@coze/realtime-api/feat-rtc-test_2025-06-17-08-09.json
  common/changes/@coze/realtime-api/feat-rtc_2025-06-17-16-41.json
  common/changes/@coze/realtime-api/feat-rtc_2025-06-24-02-27.json
  common/changes/@coze/realtime-api/feat-rtc_2025-06-24-02-35.json
  common/changes/@coze/realtime-api/feat-rtc_2025-06-26-10-22.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
  packages/realtime-api/CHANGELOG.json
  packages/realtime-api/CHANGELOG.md
  packages/realtime-api/package.json
Due: coze-js, realtime-api

feat: change file url
  common/changes/@coze/chat-sdk/feat-mdstream-safe_2025-07-01-12-49.json
  packages/chat-sdk/src/libs/services/helper/message/send-message/multi-send-message.ts
Due: none

chore: Publish release/20250701-f93ee1
  packages/chat-sdk/package.json
Due: none

fix(websocket): Fix No ScriptProcessor was register with this name
  common/changes/@coze/api/fix-websocket_2025-07-02-01-45.json
  common/changes/@coze/api/fix-websocket_2025-07-02-13-26.json
  examples/realtime-websocket/src/pages/chat/index.tsx
  packages/coze-js/src/ws-tools/chat/index.ts
Due: coze-js

fix(websocket): Fix No ScriptProcessor was register with this name (#281)
  common/changes/@coze/api/fix-websocket_2025-07-02-01-45.json
  common/changes/@coze/api/fix-websocket_2025-07-02-13-26.json
  examples/realtime-websocket/src/pages/chat/index.tsx
  packages/coze-js/src/ws-tools/chat/index.ts
Due: coze-js

chore: Publish release/20250703-6d64c9
  common/changes/@coze/api/fix-websocket_2025-07-02-01-45.json
  common/changes/@coze/api/fix-websocket_2025-07-02-13-26.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
Due: coze-js
