Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

fix: Add Windows-specific environment variable commands for CMD and PowerShell (#93)
  common/changes/@coze/api/fix-win_2025-02-10-12-17.json
  common/changes/@coze/realtime-api/fix-win_2025-02-10-12-17.json
  common/changes/@coze/taro-api/fix-win_2025-02-10-12-17.json
  examples/coze-js-node/README.md
  examples/coze-js-node/README.zh-CN.md
  examples/realtime-console/README.md
  packages/coze-js/package.json
  packages/coze-taro/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

feat(demo): Add preinstall scripts to support install deps in single project
  examples/coze-js-node/README.md
  examples/coze-js-node/README.zh-CN.md
  examples/coze-js-node/package.json
  examples/coze-js-node/scripts/preinstall.js
  examples/coze-js-web/README.md
  examples/coze-js-web/package.json
  examples/coze-js-web/scripts/preinstall.js
  examples/quickstart-oauth-server/README.md
  examples/quickstart-oauth-server/README.zh-CN.md
  examples/quickstart-oauth-server/package.json
  examples/quickstart-oauth-server/scripts/preinstall.js
  examples/realtime-call-up/README.md
  examples/realtime-call-up/package.json
  examples/realtime-call-up/scripts/preinstall.js
  examples/realtime-console/README.md
  examples/realtime-console/package.json
  examples/realtime-console/scripts/preinstall.js
  examples/realtime-quickstart-react/README.md
  examples/realtime-quickstart-react/README.zh-CN.md
  examples/realtime-quickstart-react/package.json
  examples/realtime-quickstart-react/scripts/preinstall.js
  examples/realtime-quickstart-react/src/index.tsx
  examples/realtime-quickstart-vue/package.json
  examples/realtime-quickstart-vue/scripts/preinstall.js
Due: none

fix(api): Add workspaceId to getWebAuthenticationUrl
  common/changes/@coze/api/feat-quickstart_2025-02-11-01-56.json
  common/changes/@coze/api/feat-quickstart_2025-02-11-02-04.json
  packages/coze-js/src/auth.ts
  packages/coze-js/test/auth.spec.ts
Due: coze-js

docs(demo): docs: add preview links and new example projects
  README.md
  README.zh-CN.md
  examples/coze-js-web/README.md
  examples/coze-js-web/README.zh-CN.md
  examples/realtime-console/README.md
Due: none

feat(api): add proxy example for coze-api
  common/changes/@coze/api/feat-proxy_2025-02-11-08-38.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-node/package.json
  examples/coze-js-node/src/proxy/proxy-example.ts
  examples/coze-js-node/src/proxy/proxy-server.ts
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
Due: coze-js

feat: using pat in realtime-console sample
  examples/realtime-console/README.md
  examples/realtime-console/src/App.tsx
  examples/realtime-console/src/config.json
  examples/realtime-console/src/hooks/use-coze-api.tsx
  examples/realtime-console/src/utils/utils.ts
Due: none

feat: using pat in realtime-console sample
  examples/realtime-console/README.md
  examples/realtime-console/src/App.tsx
  examples/realtime-console/src/config.json
  examples/realtime-console/src/hooks/use-coze-api.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/utils/utils.ts
Due: none

feat(demo): run realtime-console with jwt
  examples/realtime-console/README.md
  examples/realtime-console/src/App.tsx
  examples/realtime-console/src/config.json
  examples/realtime-console/src/hooks/use-coze-api.tsx
  examples/realtime-console/src/hooks/use-token-with-jwt.ts
  examples/realtime-console/src/pages/main/index.tsx
Due: none

fix(api): Add error handling for JWT token exchange
  common/changes/@coze/api/fix-bug_2025-02-12-06-45.json
  packages/coze-js/src/auth.ts
Due: coze-js

chore: Publish fix/bug
  packages/coze-js/package.json
Due: coze-js

fix: Add error handling for JWT token exchange (#95)
  common/changes/@coze/api/fix-bug_2025-02-12-06-45.json
  packages/coze-js/package.json
  packages/coze-js/src/auth.ts
Due: coze-js

chore: Publish release/20250212-4ca95c
  common/changes/@coze/api/feat-audio_2025-01-16-12-11.json
  common/changes/@coze/api/feat-audio_2025-01-19-12-54.json
  common/changes/@coze/api/feat-quickstart_2025-02-08-08-03.json
  common/changes/@coze/api/feat-quickstart_2025-02-11-01-56.json
  common/changes/@coze/api/feat-quickstart_2025-02-11-02-04.json
  common/changes/@coze/api/feat-realtime-api_2025-02-07-03-11.json
  common/changes/@coze/api/feat-realtime-api_2025-02-07-03-33.json
  common/changes/@coze/api/feat-realtime-api_2025-02-07-06-55.json
  common/changes/@coze/api/feat-workflow_id_2025-02-05-09-07.json
  common/changes/@coze/api/fix-bug_2025-02-12-06-45.json
  common/changes/@coze/api/fix-win_2025-02-10-12-17.json
  common/changes/@coze/realtime-api/feat-audio_2024-12-23-10-46.json
  common/changes/@coze/realtime-api/feat-dev-source_2025-01-08-07-25.json
  common/changes/@coze/realtime-api/feat-dev-source_2025-01-09-03-50.json
  common/changes/@coze/realtime-api/feat-dev-source_2025-01-13-11-30.json
  common/changes/@coze/realtime-api/feat-dev-source_2025-01-13-14-22.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-20-11-15.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-02-06-04-00.json
  common/changes/@coze/realtime-api/feat-workflow_id_2025-02-05-09-07.json
  common/changes/@coze/realtime-api/fix-win_2025-02-10-12-17.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
  packages/realtime-api/CHANGELOG.json
  packages/realtime-api/CHANGELOG.md
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: Publish release/20250212-4ca95c (#96)
  common/changes/@coze/api/feat-audio_2025-01-16-12-11.json
  common/changes/@coze/api/feat-audio_2025-01-19-12-54.json
  common/changes/@coze/api/feat-quickstart_2025-02-08-08-03.json
  common/changes/@coze/api/feat-quickstart_2025-02-11-01-56.json
  common/changes/@coze/api/feat-quickstart_2025-02-11-02-04.json
  common/changes/@coze/api/feat-realtime-api_2025-02-07-03-11.json
  common/changes/@coze/api/feat-realtime-api_2025-02-07-03-33.json
  common/changes/@coze/api/feat-realtime-api_2025-02-07-06-55.json
  common/changes/@coze/api/feat-workflow_id_2025-02-05-09-07.json
  common/changes/@coze/api/fix-bug_2025-02-12-06-45.json
  common/changes/@coze/api/fix-win_2025-02-10-12-17.json
  common/changes/@coze/realtime-api/feat-audio_2024-12-23-10-46.json
  common/changes/@coze/realtime-api/feat-dev-source_2025-01-08-07-25.json
  common/changes/@coze/realtime-api/feat-dev-source_2025-01-09-03-50.json
  common/changes/@coze/realtime-api/feat-dev-source_2025-01-13-11-30.json
  common/changes/@coze/realtime-api/feat-dev-source_2025-01-13-14-22.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-20-11-15.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-02-06-04-00.json
  common/changes/@coze/realtime-api/feat-workflow_id_2025-02-05-09-07.json
  common/changes/@coze/realtime-api/fix-win_2025-02-10-12-17.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
  packages/realtime-api/CHANGELOG.json
  packages/realtime-api/CHANGELOG.md
  packages/realtime-api/package.json
Due: coze-js, realtime-api

feat(coze-js-web): Add text-to-speech functionality and improve audio handling
  examples/coze-js-web/src/pages/chat-x/config.ts
  examples/coze-js-web/src/pages/chat-x/index.tsx
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
Due: none

feat(coze-js-web): Add text-to-speech functionality and improve audio handling (#97)
  examples/coze-js-web/src/pages/chat-x/config.ts
  examples/coze-js-web/src/pages/chat-x/index.tsx
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
Due: none

feat(api): add proxy example for coze-api (#94)
  common/changes/@coze/api/feat-proxy_2025-02-11-08-38.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-node/package.json
  examples/coze-js-node/src/proxy/proxy-example.ts
  examples/coze-js-node/src/proxy/proxy-server.ts
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
Due: coze-js

feat: add getRoomInfo customization option to RealtimeClient
  common/changes/@coze/realtime-api/feat-realtime-api_2025-02-14-10-11.json
  packages/realtime-api/README.md
  packages/realtime-api/README.zh-CN.md
  packages/realtime-api/src/index.ts
Due: realtime-api

chore: Publish feat/realtime-api
  packages/realtime-api/package.json
Due: realtime-api

feat(coze-js): add WebSocket speech and transcription clients
  .gitignore
  common/changes/@coze/api/feat-websocket-api_2025-02-17-07-31.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-web/src/pages/chat-x/index.tsx
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
  examples/coze-js-web/tsconfig.json
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/global.d.ts
  packages/coze-js/package.json
  packages/coze-js/src/ws-tools/index.ts
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/src/ws-tools/transcription/index.ts
  packages/coze-js/src/ws-tools/wavtools/README.md
  packages/coze-js/src/ws-tools/wavtools/index.d.ts
  packages/coze-js/src/ws-tools/wavtools/index.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/index.js
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/audio_analysis.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/audio_analysis.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/audio_analysis.js
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/constants.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/constants.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/constants.js
  packages/coze-js/src/ws-tools/wavtools/lib/wav_packer.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_packer.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/wav_packer.js
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.js
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.js
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/audio_processor.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/audio_processor.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/audio_processor.js
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/stream_processor.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/stream_processor.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/stream_processor.js
  packages/coze-js/tsconfig.json
  tsconfig.json
Due: coze-js

chore: Publish release/20250217-351a2a
  packages/coze-js/package.json
Due: coze-js

feat: ws-tools rslib config
  common/changes/@coze/api/feat-websocket-api_2025-02-17-08-59.json
  packages/coze-js/rslib.config.ts
Due: coze-js

feat(coze-js): Update readme
  common/changes/@coze/api/feat-websocket-api_2025-02-17-09-05.json
  packages/coze-js/README.zh-CN.md
Due: coze-js

chore: Publish release/20250217-20a00c
  packages/coze-js/package.json
Due: coze-js

feat: 去掉token
  common/changes/@coze/chat-sdk/feat-feat-chat-sdk_2025-02-20-01-57.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/chat-sdk/.swc/plugins/v7_macos_aarch64_7.0.0/d011a4ca6537b54a928e37bcd1f341e5e45f44c1917f3959dc03ea09d3369158
  packages/chat-sdk/config/index.ts
  packages/chat-sdk/package.json
  packages/chat-sdk/src/pages/audio/index.config.ts
  packages/chat-sdk/src/pages/audio/index.module.less
  packages/chat-sdk/src/pages/audio/index.tsx
  packages/chat-sdk/src/pages/chatflow/index.tsx
  packages/chat-sdk/src/pages/index/index.tsx
  packages/chat-sdk/src/pages/index2/index.config.ts
  packages/chat-sdk/src/pages/index2/index.module.less
  packages/chat-sdk/src/pages/index2/index.tsx
  packages/chat-sdk/src/pages/markdown/const.ts
  packages/chat-sdk/src/pages/ui/index.tsx
Due: none

feat: 修改配置
  common/changes/@coze/chat-sdk/feat-feat-chat-sdk_2025-02-20-02-16.json
  packages/chat-sdk/src/app.config.ts
  packages/chat-sdk/tsconfig.build.json
  packages/chat-sdk/tsconfig.json
  packages/chat-sdk/tsconfig.test.json
  packages/chat-sdk/vitest.config.ts
Due: none

feat(coze-js): add WebSocket speech and transcription clients
  .gitignore
  common/changes/@coze/api/feat-websocket-api_2025-02-17-07-31.json
  examples/coze-js-web/src/pages/chat-x/index.tsx
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
  examples/coze-js-web/tsconfig.json
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/global.d.ts
  packages/coze-js/package.json
  packages/coze-js/src/ws-tools/index.ts
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/src/ws-tools/transcription/index.ts
  packages/coze-js/src/ws-tools/wavtools/README.md
  packages/coze-js/src/ws-tools/wavtools/index.d.ts
  packages/coze-js/src/ws-tools/wavtools/index.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/index.js
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/audio_analysis.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/audio_analysis.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/audio_analysis.js
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/constants.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/constants.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/constants.js
  packages/coze-js/src/ws-tools/wavtools/lib/wav_packer.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_packer.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/wav_packer.js
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.js
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.js
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/audio_processor.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/audio_processor.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/audio_processor.js
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/stream_processor.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/stream_processor.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/stream_processor.js
  packages/coze-js/tsconfig.json
  tsconfig.json
Due: coze-js

feat: 修改类型问题
  common/changes/@coze/chat-sdk/feat-feat-chat-sdk_2025-02-20-03-39.json
  packages/chat-sdk/src/chatflow/helper/chat-service.ts
  packages/chat-sdk/src/libs/services/helper/chat-service.ts
  packages/chat-sdk/src/libs/types/base/chat.ts
  packages/chat-sdk/src/libs/utils/mini-coze-api.ts
  packages/chat-sdk/src/libs/utils/play-audio.ts
  packages/chat-sdk/tsconfig.build.json
Due: none

test(api): add unit test
  .gitignore
  common/changes/@coze/api/feat-websocket-api_2025-02-20-02-54.json
  common/changes/@coze/api/feat-websocket-api_2025-02-20-03-16.json
  common/changes/@coze/api/feat-websocket-api_2025-02-20-05-13.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/coze-js/package.json
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/src/ws-tools/transcription/index.ts
  packages/coze-js/src/ws-tools/wavtools/index.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/audio_analysis.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/constants.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/wav_packer.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/audio_processor.d.ts.map
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/stream_processor.d.ts.map
  packages/coze-js/test/ws-tools/speech.spec.ts
  packages/coze-js/test/ws-tools/transcriptoins.spec.ts
  packages/coze-js/tsconfig.json
  packages/coze-js/tsconfig.misc.json
  packages/coze-js/vitest.config.ts
  tsconfig.json
Due: coze-js

chore: Publish release/20250220-4fc993
  packages/coze-js/package.json
Due: coze-js

feat: 修改package.json
  common/changes/@coze/chat-sdk/feat-feat-chat-sdk_2025-02-20-06-29.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/chat-sdk/package.json
Due: none

feat: eslint处理
  .gitignore
  common/changes/@coze/api/feat-feat-chat-2_2025-02-20-08-14.json
  common/changes/@coze/chat-sdk/feat-feat-chat-2_2025-02-20-08-14.json
  packages/chat-sdk/src/libs/framework/component/chat-group-list/command/command-audio/index.tsx
  packages/chat-sdk/src/libs/hooks/use-persist-callback.ts
  packages/chat-sdk/src/libs/services/use-audio-speech.ts
  packages/chat-sdk/src/libs/types/services/chat-service.ts
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/util/ast.ts
  packages/chat-sdk/src/libs/ui-kit/message/helper/extract-chatlow-message.ts
  packages/coze-js/src/error.ts
Due: coze-js

feat: 修改eslint
  common/changes/@coze/chat-sdk/feat-feat-chat-2_2025-02-20-08-27.json
  packages/chat-sdk/src/libs/provider/store/api-client.ts
  packages/chat-sdk/src/libs/provider/store/ui-event.ts
  packages/chat-sdk/src/libs/types/provider/api-client.ts
  packages/chat-sdk/src/libs/types/provider/ui-event.ts
Due: none

feat: 修改test代码
  common/changes/@coze/chat-sdk/feat-feat-chat-2_2025-02-20-09-45.json
  packages/chat-sdk/.env.development
  packages/chat-sdk/__tests__/chatflow/index.untest.tsx
  packages/chat-sdk/__tests__/libs/utils/get-cdn-url.test.ts
  packages/chat-sdk/__tests__/pages/index2/index.untest.tsx
  packages/chat-sdk/src/app.config.ts
  packages/chat-sdk/src/pages/chatflow/index.tsx
  packages/chat-sdk/src/pages/index/index.tsx
  packages/chat-sdk/tsconfig.build.json
Due: none

feat: 修改评论
  .gitignore
  common/changes/@coze/chat-sdk/feat-feat-chat-2_2025-02-20-10-36.json
  common/config/subspaces/default/common-versions.json
  common/config/subspaces/default/pnpm-lock.yaml
  cspell.json
  packages/chat-sdk/.env.development
  packages/chat-sdk/package.json
Due: none

feat: 提交
  common/changes/@coze/chat-sdk/feat-feat-chat-2_2025-02-20-10-44.json
  packages/chat-sdk/.env.development
  packages/chat-sdk/.gitignore
Due: none

Path conditions:
  coze-js: any of: packages/coze-js/**
  realtime-api: any of: packages/realtime-api/**
