Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

codecov.yml:

# valid this file: curl --data-binary @codecov.yml https://codecov.io/validate
# reference doc: https://docs.codecov.com/docs/common-recipe-list#set-project-coverage-checks-on-a-pull-request

# codecov:
#   require_ci_to_pass: false
#   notify:
#     wait_for_ci: false

# for overall project coverage
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%
    patch:
      default:
        target: 90%
        threshold: 10%

comment:
  layout: 'header, diff, components, files' # show component info in the PR comment
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: true # [true :: only show coverage on the git diff aka patch coverage]]

# reference doc: https://docs.codecov.com/docs/components
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 90%
        threshold: 1%
      - type: patch
        target: 90%
        threshold: 10%

  individual_components:
    - component_id: coze-js # this is an identifier that should not be changed
      name: coze-js # this is a display name, and can be changed freely
      paths:
        - packages/coze-js/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

    - component_id: realtime-api # this is an identifier that should not be changed
      name: realtime-api # this is a display name, and can be changed freely
      paths:
        - packages/realtime-api/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

chore: normalize file extensions in package config
  common/changes/@coze/realtime-api/fix-module-error_2025-04-02-11-44.json
  packages/realtime-api/package.json
  packages/realtime-api/rslib.config.ts
Due: realtime-api

chore: Publish fix/module-error
  packages/realtime-api/package.json
Due: realtime-api

feat: add user_id for chatflow
  common/changes/@coze/chat-sdk/feat-feat-chatflowid_2025-04-03-08-46.json
  packages/chat-sdk/package.json
  packages/chat-sdk/src/chatflow/helper/chat-service.ts
Due: none

feat: change version
  common/changes/@coze/chat-sdk/feat-feat-chatflowid_2025-04-03-08-47.json
  packages/chat-sdk/package.json
Due: none

feat: change lockfile
  common/config/subspaces/default/pnpm-lock.yaml
Due: none

chore: Publish feat/feat-chatflowid
  packages/chat-sdk/package.json
Due: none

Feat/feat chatflowid (#183)
  common/changes/@coze/chat-sdk/feat-feat-chatflowid_2025-04-03-08-46.json
  common/changes/@coze/chat-sdk/feat-feat-chatflowid_2025-04-03-08-47.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/chat-sdk/package.json
  packages/chat-sdk/src/chatflow/helper/chat-service.ts
Due: none

feat: change some error to answer message
  common/changes/@coze/chat-sdk/feat-pub-11_2025-04-02-10-01.json
  packages/chat-sdk/package.json
  packages/chat-sdk/src/libs/provider/store/conversation.ts
  packages/chat-sdk/src/libs/services/helper/message/send-message/async-send-message.ts
  packages/chat-sdk/src/libs/services/helper/message/send-message/raw-send-message.ts
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/helper/gen-ast.ts
  packages/chat-sdk/src/pages/markdown/const.ts
Due: none

feat: 修改版本号
  common/changes/@coze/chat-sdk/feat-pub-11_2025-04-02-10-03.json
Due: none

Fix/module error (#177)
  common/changes/@coze/api/fix-module-error_2025-04-01-05-22.json
  common/changes/@coze/realtime-api/fix-module-error_2025-04-01-06-28.json
  common/changes/@coze/realtime-api/fix-module-error_2025-04-02-10-51.json
  common/changes/@coze/realtime-api/fix-module-error_2025-04-02-11-06.json
  common/changes/@coze/realtime-api/fix-module-error_2025-04-02-11-44.json
  packages/coze-js/package.json
  packages/realtime-api/package.json
  packages/realtime-api/rslib.config.ts
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/event-handler.ts
  packages/realtime-api/src/event-names.ts
  packages/realtime-api/src/index.ts
  packages/realtime-api/test/client.spec.ts
  packages/realtime-api/test/event-handler.spec.ts
Due: coze-js, realtime-api

feat(websocket): Add websocket realtime demo
  common/changes/@coze/api/feat-realtime-quickstart_2025-03-11-18-40.json
  examples/realtime-quickstart-react/src/App.tsx
  examples/realtime-quickstart-react/src/components/settings/index.tsx
  examples/realtime-quickstart-react/src/hooks/use-token-with-pat.ts
  examples/realtime-quickstart-react/src/pages/rtc/index.tsx
  examples/realtime-quickstart-react/src/pages/ws/index.tsx
  examples/realtime-quickstart-react/src/utils/config.ts
  packages/coze-js/src/resources/websockets/chat/index.ts
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/index.ts
  rush.json
Due: coze-js

feat(realtime-quickstart): add chat realtime demo
  .gitignore
  common/changes/@coze/api/feat-realtime-quickstart_2025-03-12-11-34.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-03-14-05-20.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-03-14-07-03.json
  examples/realtime-quickstart-react/src/components/settings/index.tsx
  examples/realtime-quickstart-react/src/pages/ws/index.tsx
  examples/realtime-quickstart-react/src/utils/config.ts
  packages/coze-js/src/resources/websockets/chat/index.ts
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/index.ts
  packages/coze-js/src/ws-tools/transcription/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.js
Due: coze-js

feat(realtime-console): feat: add payment notice for voice cloning feature
  examples/realtime-console/src/pages/main/voice-select.tsx
Due: none

refactor(audio): replace MediaRecorder with Web Audio API for PCM recording
  common/changes/@coze/api/feat-realtime-quickstart_2025-03-16-17-11.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-03-24-13-16.json
  examples/realtime-quickstart-react/src/pages/ws/index.tsx
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/package.json
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/src/ws-tools/transcription/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.js
Due: coze-js

feat: Websocket Chat Client SDK & Demo
  common/changes/@coze/api/feat-realtime-quickstart_2025-03-24-16-56.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-03-27-09-08.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-03-30-03-03.json
  cspell.json
  examples/realtime-quickstart-react/public/babble_15dB.opus
  examples/realtime-quickstart-react/src/App.tsx
  examples/realtime-quickstart-react/src/components/audio-config/index.tsx
  examples/realtime-quickstart-react/src/components/settings/index.tsx
  examples/realtime-quickstart-react/src/pages/audio-test/index.tsx
  examples/realtime-quickstart-react/src/pages/rtc/index.tsx
  examples/realtime-quickstart-react/src/pages/ws/custom-track.tsx
  examples/realtime-quickstart-react/src/pages/ws/header.css
  examples/realtime-quickstart-react/src/pages/ws/header.tsx
  examples/realtime-quickstart-react/src/pages/ws/index.tsx
  examples/realtime-quickstart-react/src/pages/ws/operation.tsx
  examples/realtime-quickstart-react/src/pages/ws/receive-message.tsx
  examples/realtime-quickstart-react/src/pages/ws/send-message.tsx
  examples/realtime-quickstart-react/src/utils/config.ts
  packages/coze-js/package.json
  packages/coze-js/src/core.ts
  packages/coze-js/src/resources/websockets/chat/index.ts
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/utils.ts
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/chat/types.ts
  packages/coze-js/src/ws-tools/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/recorder/processor/pcm-audio-processor.ts
  packages/coze-js/src/ws-tools/recorder/processor/pcm-worklet-processor.ts
  packages/coze-js/src/ws-tools/recorder/processor/wav-audio-processor.ts
  packages/coze-js/src/ws-tools/recorder/processor/wav-worklet-processor.ts
  packages/coze-js/src/ws-tools/utils/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.js
Due: coze-js

feat: add console log component and UI improvements
  examples/realtime-quickstart-react/package.json
  examples/realtime-quickstart-react/src/components/audio-config/index.tsx
  examples/realtime-quickstart-react/src/logo.svg
  examples/realtime-quickstart-react/src/pages/audio-test/index.tsx
  examples/realtime-quickstart-react/src/pages/ws/console-log.tsx
  examples/realtime-quickstart-react/src/pages/ws/header.css
  examples/realtime-quickstart-react/src/pages/ws/header.tsx
  examples/realtime-quickstart-react/src/pages/ws/index.tsx
  examples/realtime-quickstart-react/src/react-app-env.d.ts
Due: none

feat: add speech synthesis and transcription examples
  examples/realtime-quickstart-react/src/App.tsx
  examples/realtime-quickstart-react/src/components/audio-config/index.tsx
  examples/realtime-quickstart-react/src/components/header/header.css
  examples/realtime-quickstart-react/src/components/header/header.tsx
  examples/realtime-quickstart-react/src/pages/speech/index.tsx
  examples/realtime-quickstart-react/src/pages/transcription/index.tsx
  examples/realtime-quickstart-react/src/pages/ws/index.tsx
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/src/ws-tools/transcription/base.ts
  packages/coze-js/src/ws-tools/transcription/index.ts
  packages/coze-js/src/ws-tools/types.ts
Due: coze-js

test(api): add unit test
  .cursor/rules/coze-js-rule.mdc
  packages/coze-js/src/index.ts
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/recorder/processor/wav-audio-processor.ts
  packages/coze-js/src/ws-tools/transcription/base.ts
  packages/coze-js/test/core.spec.ts
  packages/coze-js/test/resources/websockets/chat.spec.ts
  packages/coze-js/test/ws-tools/chat.spec.ts
  packages/coze-js/test/ws-tools/recorder/pcm-recorder.spec.ts
  packages/coze-js/test/ws-tools/speech.spec.ts
  packages/coze-js/test/ws-tools/transcription.spec.ts
  packages/coze-js/tsconfig.build.json
  packages/coze-js/tsconfig.json
  packages/coze-js/tsconfig.misc.json
  packages/coze-js/vitest.config.ts
Due: coze-js

fix: eslint
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-08-12-45.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-quickstart-react/src/App.tsx
  examples/realtime-quickstart-react/src/components/audio-config/index.tsx
  examples/realtime-quickstart-react/src/components/header/header.tsx
  examples/realtime-quickstart-react/src/pages/speech/index.tsx
  examples/realtime-quickstart-react/src/pages/transcription/index.tsx
  examples/realtime-quickstart-react/src/pages/ws/operation.tsx
  examples/realtime-quickstart-react/src/pages/ws/receive-message.tsx
  examples/realtime-quickstart-react/src/pages/ws/send-message.tsx
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/recorder/processor/pcm-audio-processor.ts
  packages/coze-js/src/ws-tools/recorder/processor/wav-audio-processor.ts
  packages/coze-js/src/ws-tools/transcription/index.ts
  packages/coze-js/src/ws-tools/types.ts
  packages/coze-js/src/ws-tools/utils/index.ts
  packages/coze-js/test/utils.spec.ts
  packages/coze-js/test/ws-tools/chat.spec.ts
  packages/coze-js/test/ws-tools/recorder/pcm-recorder.spec.ts
Due: coze-js

fix: remove oauth hook
  examples/realtime-quickstart-react/package.json
  examples/realtime-websocket/index.html
  examples/realtime-websocket/package.json
  examples/realtime-websocket/src/hooks/index.ts
  examples/realtime-websocket/src/hooks/use-token-with-device.ts
  examples/realtime-websocket/src/hooks/use-token-with-jwt.ts
  examples/realtime-websocket/src/hooks/use-token-with-pat.ts
  examples/realtime-websocket/src/hooks/use-token-with-pkce.ts
  examples/realtime-websocket/src/hooks/use-token-with-web.ts
  examples/realtime-websocket/src/pages/audio-test/index.tsx
Due: none

fix: rush build error
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-08-16-06.json
  examples/coze-js-web/package.json
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
  examples/realtime-websocket/config/rush-project.json
  examples/realtime-websocket/src/components/header/header.tsx
  examples/realtime-websocket/src/pages/audio-test/index.tsx
  examples/realtime-websocket/src/pages/ws/index.tsx
  packages/coze-js/src/ws-tools/utils/index.ts
Due: coze-js

test(api): add unit test
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-08-17-18.json
  packages/coze-js/src/ws-tools/utils/index.ts
  packages/coze-js/test/ws-tools/utils.spec.ts
Due: coze-js

feat: feat: Add JSON event input and improve message handling
  examples/realtime-websocket/src/components/header/header.css
  examples/realtime-websocket/src/pages/ws/event-input.tsx
  examples/realtime-websocket/src/pages/ws/index.tsx
  examples/realtime-websocket/src/pages/ws/receive-message.tsx
Due: none

fix: add base path support
  examples/realtime-websocket/vite.config.ts
Due: none

feat(websocket): add transcription SDK and update documentation
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-09-03-34.json
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
Due: coze-js

chore: Publish release/20250409-fc4190
  packages/coze-js/package.json
Due: coze-js

feat: 修改错误文案的显示
  common/changes/@coze/chat-sdk/feat-pub-11_2025-04-09-03-35.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/chat-sdk/src/libs/services/helper/message/send-message/async-send-message.ts
Due: none

chore: Publish feat/pub-11
  packages/chat-sdk/package.json
Due: none

feat: change deps
  common/changes/@coze/chat-sdk/feat-pub-11_2025-04-09-03-41.json
  packages/chat-sdk/src/libs/services/helper/message/send-message/async-send-message.ts
Due: none

chore: Publish feat/realtime-quickstart
  packages/coze-js/package.json
Due: coze-js

feat(websocket): add transcription SDK and update documentation
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-09-03-55.json
  packages/coze-js/README.zh-CN.md
  packages/coze-js/package.json
Due: coze-js

feat(taro-api): add workflow stream sample
  examples/coze-js-taro/src/pages/index/index.tsx
Due: none

fix: taro adapter timeout (#150)
  common/changes/@coze/taro-api/fix-taro-timeout_2025-03-17-09-16.json
  packages/coze-taro/package.json
  packages/coze-taro/src/api.ts
Due: none

test: add test code
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-09-09-18.json
  common/changes/@coze/realtime-api/feat-realtime-quickstart_2025-04-09-08-28.json
  packages/coze-js/test/ws-tools/transcription.spec.ts
  packages/coze-js/test/ws-tools/utils.spec.ts
  packages/realtime-api/test/client.spec.ts
  packages/realtime-api/test/event-handler.spec.ts
Due: coze-js, realtime-api

fix: renmae
  common/changes/@coze/api/feat-realtime-quickstart_2025-04-09-11-12.json
  examples/realtime-websocket/src/App.tsx
  examples/realtime-websocket/src/pages/chat/console-log.tsx
  examples/realtime-websocket/src/pages/chat/custom-track.tsx
  examples/realtime-websocket/src/pages/chat/event-input.tsx
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/pages/chat/operation.tsx
  examples/realtime-websocket/src/pages/chat/receive-message.tsx
  examples/realtime-websocket/src/pages/chat/send-message.tsx
  packages/coze-js/test/utils.spec.ts
  packages/coze-js/test/ws-tools/recorder/pcm-recorder.spec.ts
Due: coze-js

feat: add github source link
  examples/realtime-websocket/src/components/header/header.tsx
Due: none
