Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

feat(chat): Add unit test
  common/changes/@coze/api/feat-aec_2025-05-20-07-01.json
  common/changes/@coze/api/feat-aec_2025-05-20-08-16.json
  common/changes/@coze/api/feat-aec_2025-05-20-08-19.json
  common/changes/@coze/api/feat-aec_2025-05-20-08-36.json
  examples/realtime-websocket/src/components/audio-config/index.tsx
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/audio_analysis.ts
  packages/coze-js/src/ws-tools/wavtools/lib/local-lookback.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
  packages/coze-js/test/ws-tools/chat.spec.ts
Due: coze-js

feat(WsChatClient): Fix echoCancellation bug on HuaWei HarmonyOS (#240)
  common/changes/@coze/api/feat-aec_2025-05-19-16-20.json
  common/changes/@coze/api/feat-aec_2025-05-19-19-13.json
  common/changes/@coze/api/feat-aec_2025-05-20-07-01.json
  common/changes/@coze/api/feat-aec_2025-05-20-08-16.json
  common/changes/@coze/api/feat-aec_2025-05-20-08-19.json
  common/changes/@coze/api/feat-aec_2025-05-20-08-36.json
  examples/realtime-websocket/src/components/audio-config/index.tsx
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/pcm-player/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/wavtools/index.d.ts
  packages/coze-js/src/ws-tools/wavtools/index.js
  packages/coze-js/src/ws-tools/wavtools/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/audio_analysis.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/audio_analysis.ts
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/constants.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/constants.ts
  packages/coze-js/src/ws-tools/wavtools/lib/local-lookback.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_packer.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_packer.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
  packages/coze-js/test/ws-tools/chat.spec.ts
Due: coze-js

chore: Publish feat/aec
  packages/coze-js/package.json
Due: coze-js

chore: Publish feat/feat-ios-textarea2
  packages/chat-sdk/package.json
Due: none

feat: linkclick默认值有问题
  common/changes/@coze/chat-sdk/feat-feat-ios-textarea2_2025-05-19-09-42.json
  packages/chat-sdk/src/libs/ui-kit/message/components/markdown/index.tsx
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

Feat/feat url click (#242)
  common/changes/@coze/chat-sdk/feat-feat-ios-textarea2_2025-05-19-09-42.json
  packages/chat-sdk/package.json
  packages/chat-sdk/src/libs/ui-kit/message/components/markdown/index.tsx
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

feat(realtime-api): Support mobile device front/back camera selection with friendly labels
  common/changes/@coze/realtime-api/feat-device_2025-05-22-09-19.json
  examples/realtime-quickstart-vue/src/App.vue
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/index.ts
  packages/realtime-api/src/utils.ts
  packages/realtime-api/test/client.spec.ts
Due: realtime-api

chore: Publish feat/device
  packages/realtime-api/package.json
Due: realtime-api

chore: Publish feat/device
  common/changes/@coze/realtime-api/feat-device_2025-05-22-09-23.json
  packages/realtime-api/package.json
Due: realtime-api

Support mobile device front/back camera selection with friendly labels (#243)
  common/changes/@coze/realtime-api/feat-device_2025-05-22-09-19.json
  common/changes/@coze/realtime-api/feat-device_2025-05-22-09-23.json
  examples/realtime-quickstart-vue/src/App.vue
  packages/realtime-api/package.json
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/index.ts
  packages/realtime-api/src/utils.ts
  packages/realtime-api/test/client.spec.ts
Due: realtime-api

feat(audio): Add G.711a and G.711u codec support to WavStreamPlayer
  common/changes/@coze/api/feat-opus_2025-05-23-07-16.json
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/codecs/g711.ts
  packages/coze-js/src/ws-tools/wavtools/lib/codecs/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
  packages/coze-js/test/ws-tools/chat.spec.ts
  packages/coze-js/test/ws-tools/speech.spec.ts
Due: coze-js

feat(realtime): Add ROOM_INFO event to expose room connection details
  common/changes/@coze/realtime-api/feat-opus_2025-05-23-07-35.json
  packages/realtime-api/src/event-names.ts
  packages/realtime-api/src/index.ts
Due: realtime-api

chore: Publish feat/opus
  packages/realtime-api/package.json
Due: realtime-api

feat(audio): Add G.711a and G.711u codec support to WavStreamPlayer (#244)
  common/changes/@coze/api/feat-opus_2025-05-23-07-16.json
  common/changes/@coze/realtime-api/feat-opus_2025-05-23-07-35.json
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/codecs/g711.ts
  packages/coze-js/src/ws-tools/wavtools/lib/codecs/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
  packages/coze-js/test/ws-tools/chat.spec.ts
  packages/coze-js/test/ws-tools/speech.spec.ts
  packages/realtime-api/src/event-names.ts
  packages/realtime-api/src/index.ts
Due: coze-js, realtime-api

feat(realtime-console): add room mode configuration option
  common/changes/@coze/api/feat-mode_2025-05-23-09-09.json
  common/changes/@coze/api/feat-mode_2025-05-23-09-30.json
  common/changes/@coze/realtime-api/feat-mode_2025-05-23-09-09.json
  common/changes/@coze/realtime-api/feat-mode_2025-05-23-09-22.json
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/utils/local-manager.ts
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/realtime-api/src/event-names.ts
  packages/realtime-api/src/index.ts
Due: coze-js, realtime-api

chore: Publish feat/mode
  packages/realtime-api/package.json
Due: realtime-api

feat(realtime-console): add room mode configuration option (#245)
  common/changes/@coze/api/feat-mode_2025-05-23-09-09.json
  common/changes/@coze/api/feat-mode_2025-05-23-09-30.json
  common/changes/@coze/realtime-api/feat-mode_2025-05-23-09-09.json
  common/changes/@coze/realtime-api/feat-mode_2025-05-23-09-22.json
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/utils/local-manager.ts
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/realtime-api/src/event-names.ts
  packages/realtime-api/src/index.ts
Due: coze-js, realtime-api

feat: 修改背景图的默认图片
  common/changes/@coze/chat-sdk/feat-background-color_2025-05-26-02-04.json
  packages/chat-sdk/src/chatflow/helper/chat-service.ts
Due: none

feat(uniapp): Add Websocket WebSocket implementation for better UniApp compatibility
  common/changes/@coze/api/feat-weex-realtime_2025-05-26-02-04.json
  common/changes/@coze/uniapp-api/feat-weex-realtime_2025-05-26-02-04.json
  packages/coze-js/src/core.ts
  packages/coze-js/src/websocket-api.ts
  packages/coze-uniapp/package.json
  packages/coze-uniapp/src/api.ts
  packages/coze-uniapp/src/ws-tool/websocket/factory.ts
  packages/coze-uniapp/src/ws-tool/websocket/global-registry.ts
  packages/coze-uniapp/src/ws-tool/websocket/index.d.ts
  packages/coze-uniapp/src/ws-tool/websocket/index.ts
  packages/coze-uniapp/src/ws-tool/websocket/integrator.ts
Due: coze-js

chore: Publish feat/weex-realtime
  packages/coze-js/package.json
Due: coze-js

chore: Publish feat/background-color
  packages/chat-sdk/package.json
Due: none

chore: Publish feat/weex-realtime
  packages/coze-uniapp/package.json
Due: none

chore: Publish feat/weex-realtime
  common/changes/@coze/api/feat-weex-realtime_2025-05-26-02-21.json
  common/changes/@coze/uniapp-api/feat-weex-realtime_2025-05-26-02-21.json
  packages/coze-js/test/websocket-api.spec.ts
  packages/coze-uniapp/package.json
  packages/coze-uniapp/src/ws-tool/websocket/global-registry.ts
  packages/coze-uniapp/src/ws-tool/websocket/index.ts
Due: coze-js

feat(uniapp): Fix unit test error
  common/changes/@coze/api/feat-weex-realtime_2025-05-26-03-17.json
  packages/coze-js/src/core.ts
  packages/coze-js/test/core.spec.ts
Due: coze-js

fix: Fix microphone permission check in browsers without permissions API
  common/changes/@coze/api/feat-weex-realtime_2025-05-26-06-15.json
  packages/coze-js/src/ws-tools/utils/index.ts
Due: coze-js

Feat/background color (#248)
  common/changes/@coze/chat-sdk/feat-background-color_2025-05-26-02-04.json
  packages/chat-sdk/package.json
  packages/chat-sdk/src/chatflow/helper/chat-service.ts
Due: none

feat(uniapp): Add WebSocket implementation for better UniApp compatibility (#247)
  common/changes/@coze/api/feat-weex-realtime_2025-05-26-02-04.json
  common/changes/@coze/api/feat-weex-realtime_2025-05-26-02-21.json
  common/changes/@coze/api/feat-weex-realtime_2025-05-26-03-17.json
  common/changes/@coze/api/feat-weex-realtime_2025-05-26-06-15.json
  common/changes/@coze/uniapp-api/feat-weex-realtime_2025-05-26-02-04.json
  common/changes/@coze/uniapp-api/feat-weex-realtime_2025-05-26-02-21.json
  packages/coze-js/package.json
  packages/coze-js/src/core.ts
  packages/coze-js/src/websocket-api.ts
  packages/coze-js/src/ws-tools/utils/index.ts
  packages/coze-js/test/core.spec.ts
  packages/coze-js/test/websocket-api.spec.ts
  packages/coze-uniapp/package.json
  packages/coze-uniapp/src/api.ts
  packages/coze-uniapp/src/ws-tool/websocket/factory.ts
  packages/coze-uniapp/src/ws-tool/websocket/global-registry.ts
  packages/coze-uniapp/src/ws-tool/websocket/index.d.ts
  packages/coze-uniapp/src/ws-tool/websocket/index.ts
  packages/coze-uniapp/src/ws-tool/websocket/integrator.ts
Due: coze-js

feat(uniapp): Add PcmStreamPlayer & WsSpeechClient
  common/changes/@coze/uniapp-api/feat-ws-speech_2025-05-26-11-53.json
  examples/coze-js-uniapp/src/composables/use-speech.ts
  examples/coze-js-uniapp/src/pages.json
  examples/coze-js-uniapp/src/pages/speech/index.vue
  packages/coze-uniapp/package.json
  packages/coze-uniapp/src/ws-tool/index.ts
  packages/coze-uniapp/src/ws-tool/pcm-stream-player/index.ts
  packages/coze-uniapp/src/ws-tool/speech/index.ts
Due: none

fix(api): Fix type error
  common/changes/@coze/api/feat-ws-speech_2025-05-26-12-39.json
  packages/coze-js/src/resources/datasets/index.ts
Due: coze-js

chore: Publish feat/ws-speech
  packages/coze-js/package.json
Due: coze-js

feat(uniapp): Add PcmRecorder & Transcription API
  common/changes/@coze/api/feat-ws-speech_2025-05-27-02-20.json
  common/changes/@coze/uniapp-api/feat-ws-speech_2025-05-27-02-20.json
  examples/coze-js-uniapp/src/composables/use-transcription.ts
  examples/coze-js-uniapp/src/pages.json
  examples/coze-js-uniapp/src/pages/transcription/index.vue
  packages/coze-js/src/ws-tools/index.ts
  packages/coze-uniapp/src/ws-tool/index.ts
  packages/coze-uniapp/src/ws-tool/pcm-recorder/index.ts
  packages/coze-uniapp/src/ws-tool/transcription/base.ts
  packages/coze-uniapp/src/ws-tool/transcription/index.ts
Due: coze-js

feat(websocket): Add WebRTC demo
  examples/realtime-websocket/src/App.tsx
  examples/realtime-websocket/src/components/settings/index.tsx
  examples/realtime-websocket/src/pages/publish/ControlsPanel.tsx
  examples/realtime-websocket/src/pages/publish/InstructionsCard.tsx
  examples/realtime-websocket/src/pages/publish/MicrophoneButton.tsx
  examples/realtime-websocket/src/pages/publish/PublishContext.tsx
  examples/realtime-websocket/src/pages/publish/QRShareModal.tsx
  examples/realtime-websocket/src/pages/publish/VolumeIndicator.tsx
  examples/realtime-websocket/src/pages/publish/index.tsx
  examples/realtime-websocket/src/pages/subscribe/AudioCards.tsx
  examples/realtime-websocket/src/pages/subscribe/AudioPlayer.tsx
  examples/realtime-websocket/src/pages/subscribe/HeaderSection.tsx
  examples/realtime-websocket/src/pages/subscribe/SubscribeContext.tsx
  examples/realtime-websocket/src/pages/subscribe/index.tsx
  examples/realtime-websocket/src/utils/config.ts
  examples/realtime-websocket/src/utils/webrtc-service.ts
Due: none

feat: Add screen sharing event support and downgrade RTC SDK
  common/changes/@coze/api/fix-bug_2025-05-27-08-29.json
  common/changes/@coze/realtime-api/fix-bug_2025-05-27-08-29.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-console/package.json
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-quickstart-vue/package.json
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/realtime-api/package.json
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/event-names.ts
  packages/realtime-api/test/client.spec.ts
Due: coze-js, realtime-api

chore: Publish fix/bug
  common/changes/@coze/api/fix-bug_2025-05-27-08-32.json
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: Publish fix/bug
  packages/realtime-api/package.json
Due: realtime-api

Path conditions:
  coze-js: any of: packages/coze-js/**
  realtime-api: any of: packages/realtime-api/**
