Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

feat(auth): add workspace_id support for PKCE authentication
  examples/coze-js-node/src/auth/auth-oauth-device.ts
  packages/coze-js/src/auth.ts
  packages/coze-js/test/auth.spec.ts
Due: coze-js

Feat: oauth pkce support workspace id (#23)
  common/config/subspaces/default/pnpm-lock.yaml
  config/vitest-config/src/preset-default.ts
  examples/coze-js-node/src/auth/auth-oauth-device.ts
  packages/coze-js/src/auth.ts
  packages/coze-js/test/auth.spec.ts
  packages/realtime-api/test/client.spec.ts
Due: coze-js, realtime-api

Update utils.ts
  packages/coze-js/src/utils.ts
Due: coze-js

chore: enable codecov
  .github/workflows/ci.yml
  codecov.yml
Due: none

fix: 版本
  .github/workflows/ci.yml
Due: none

chore: 优化codecov配置
  codecov.yml
Due: none

chore: 新增badge配置
  README.md
Due: none

feat: rslib
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-console/config/webpack.config.js
  packages/coze-js/package.json
  packages/coze-js/rslib.config.ts
  packages/realtime-api/package.json
  packages/realtime-api/rslib.config.ts
Due: coze-js, realtime-api

chore: 优化badge
  README.md
Due: none

chore: 修复paths配置
  codecov.yml
Due: none

chore: 优化cov配置
  .github/workflows/ci.yml
Due: none

chore: enable codecov (#25)
  .github/workflows/ci.yml
  README.md
  codecov.yml
Due: none

feat: autoExternal false
  packages/realtime-api/rslib.config.ts
Due: realtime-api

feat: dts and autoExternal
  packages/coze-js/package.json
  packages/coze-js/rslib.config.ts
  packages/realtime-api/package.json
  packages/realtime-api/rslib.config.ts
Due: coze-js, realtime-api

feat: umdName
  packages/coze-js/rslib.config.ts
  packages/realtime-api/rslib.config.ts
Due: coze-js, realtime-api

feat: use rslib to build esm cjs umd (#27)
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-console/config/webpack.config.js
  packages/coze-js/package.json
  packages/coze-js/rslib.config.ts
  packages/realtime-api/package.json
  packages/realtime-api/rslib.config.ts
Due: coze-js, realtime-api

fix: 优化代码
  examples/coze-js-web/scripts/start.js
  examples/realtime-call-up/scripts/start.js
  examples/realtime-console/scripts/start.js
Due: none

chore: 优化配置
  config/eslint-config/src/define-config.ts
Due: none

feat: update lock file
  common/config/subspaces/default/pnpm-lock.yaml
Due: none

feat: add user-agent header for node env
  examples/coze-js-node/src/bot.ts
  packages/coze-js/package.json
  packages/coze-js/src/core.ts
  packages/coze-js/src/version.ts
Due: coze-js

refactor(auth): improve device code flow polling mechanism
  examples/coze-js-node/src/auth/auth-oauth-device.ts
  packages/coze-js/src/auth.ts
  packages/coze-js/src/constant.ts
Due: coze-js

feat: add x-coze-client-user-agent header for Node
  packages/coze-js/src/core.ts
  packages/coze-js/src/version.ts
Due: coze-js

fix: authorization enum error
  packages/coze-js/src/auth.ts
Due: coze-js

feat: move JWT token generation logic into getJWTToken function
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-node/src/auth/auth-oauth-jwt-channel.ts
  examples/coze-js-node/src/auth/auth-oauth-jwt.ts
  packages/coze-js/package.json
  packages/coze-js/rslib.config.ts
  packages/coze-js/src/auth.ts
  packages/coze-js/test/auth.spec.ts
Due: coze-js

fix: review feedback
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-node/package.json
  packages/coze-js/package.json
  packages/coze-js/src/auth.ts
  packages/coze-js/src/version.ts
Due: coze-js

test: add version.ts test
  packages/coze-js/src/auth.ts
  packages/coze-js/test/auth.spec.ts
  packages/coze-js/test/core.spec.ts
  packages/coze-js/test/version.spec.ts
  packages/coze-js/vitest.config.ts
Due: coze-js

refactor(auth): improve device code flow polling mechanism (#28)
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-node/package.json
  examples/coze-js-node/src/auth/auth-oauth-device.ts
  examples/coze-js-node/src/auth/auth-oauth-jwt-channel.ts
  examples/coze-js-node/src/auth/auth-oauth-jwt.ts
  examples/coze-js-node/src/bot.ts
  packages/coze-js/package.json
  packages/coze-js/rslib.config.ts
  packages/coze-js/src/auth.ts
  packages/coze-js/src/constant.ts
  packages/coze-js/src/core.ts
  packages/coze-js/src/version.ts
  packages/coze-js/test/auth.spec.ts
  packages/coze-js/test/core.spec.ts
  packages/coze-js/test/version.spec.ts
  packages/coze-js/vitest.config.ts
Due: coze-js

fix: Fix bot select disabled state
  examples/realtime-console/src/Settings.tsx
Due: none

fix: update bots length check
  examples/realtime-console/src/Settings.tsx
Due: none

docs: improve package visibility
  CONTRIBUTING.md
  LICENSE
  README.md
  examples/coze-js-node/src/request-options.ts
  examples/coze-js-node/tsconfig.json
  packages/coze-js/CONTRIBUTING.md
  packages/coze-js/README.md
  packages/coze-js/package.json
  packages/realtime-api/CONTRIBUTING.md
  packages/realtime-api/README.md
  packages/realtime-api/package.json
Due: coze-js, realtime-api

docs: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: improve package visibility (#30)
  CONTRIBUTING.md
  LICENSE
  README.md
  examples/coze-js-node/src/request-options.ts
  examples/coze-js-node/tsconfig.json
  packages/coze-js/CONTRIBUTING.md
  packages/coze-js/README.md
  packages/coze-js/package.json
  packages/realtime-api/CONTRIBUTING.md
  packages/realtime-api/README.md
  packages/realtime-api/package.json
Due: coze-js, realtime-api

feat: support audio stream
  examples/realtime-console/src/App.css
  examples/realtime-console/src/ConsoleFooter.tsx
  examples/realtime-console/src/Player.tsx
  examples/realtime-console/src/RealtimeConsole.tsx
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/event-handler.ts
  packages/realtime-api/src/index.ts
  packages/realtime-api/src/utils.ts
  packages/realtime-api/test/client.spec.ts
  packages/realtime-api/test/index.spec.ts
  packages/realtime-api/test/utils.spec.ts
Due: realtime-api

feat: add token refresh handling for realtime console
  examples/realtime-console/src/RealtimeConsole.tsx
  examples/realtime-console/src/Settings.tsx
  examples/realtime-console/src/use-access-token.tsx
  packages/realtime-api/src/error.ts
  packages/realtime-api/src/index.ts
Due: realtime-api

feat: add conversation.chat.requires_action support
  examples/realtime-console/src/ConsoleFooter.tsx
  examples/realtime-console/src/MessageForm.tsx
  examples/realtime-console/src/VoiceSelect.tsx
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/error.ts
  packages/realtime-api/src/event-handler.ts
  packages/realtime-api/src/index.ts
Due: realtime-api

Path conditions:
  coze-js: any of: packages/coze-js/**
  realtime-api: any of: packages/realtime-api/**
