Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

chore: Publish feat/realtime-api
  packages/realtime-api/package.json
Due: realtime-api

docs: add Chinese translations for README files
  README.md
  README.zh-CN.md
  common/changes/@coze/api/docs-readme_2025-01-05-03-17.json
  common/changes/@coze/api/docs-readme_2025-01-05-04-19.json
  common/changes/@coze/api/docs-readme_2025-01-05-04-37.json
  common/changes/@coze/realtime-api/docs-readme_2025-01-05-03-17.json
  common/changes/@coze/realtime-api/docs-readme_2025-01-05-04-19.json
  common/changes/@coze/taro-api/docs-readme_2025-01-05-03-17.json
  common/changes/@coze/taro-api/docs-readme_2025-01-05-04-19.json
  examples/coze-js-node/README.md
  examples/coze-js-node/README.zh-CN.md
  examples/coze-js-web/README.md
  examples/coze-js-web/README.zh-CN.md
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/package.json
  packages/coze-taro/README.zh-CN.md
  packages/coze-taro/package.json
  packages/realtime-api/README.md
  packages/realtime-api/README.zh-CN.md
  packages/realtime-api/package.json
Due: coze-js, realtime-api

feat: add screen sharing support to realtime API (#72)
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-02-11-41.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-02-12-21.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-02-12-49.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-02-13-03.json
  examples/realtime-console/src/pages/main/header.tsx
  packages/realtime-api/README.md
  packages/realtime-api/package.json
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/event-handler.ts
  packages/realtime-api/src/index.ts
  packages/realtime-api/src/utils.ts
  packages/realtime-api/test/client.spec.ts
  packages/realtime-api/test/index.spec.ts
  packages/realtime-api/test/utils.spec.ts
Due: realtime-api

docs: add Chinese translations for README files (#73)
  README.md
  README.zh-CN.md
  common/changes/@coze/api/docs-readme_2025-01-05-03-17.json
  common/changes/@coze/api/docs-readme_2025-01-05-04-19.json
  common/changes/@coze/api/docs-readme_2025-01-05-04-37.json
  common/changes/@coze/realtime-api/docs-readme_2025-01-05-03-17.json
  common/changes/@coze/realtime-api/docs-readme_2025-01-05-04-19.json
  common/changes/@coze/taro-api/docs-readme_2025-01-05-03-17.json
  common/changes/@coze/taro-api/docs-readme_2025-01-05-04-19.json
  examples/coze-js-node/README.md
  examples/coze-js-node/README.zh-CN.md
  examples/coze-js-web/README.md
  examples/coze-js-web/README.zh-CN.md
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/package.json
  packages/coze-taro/README.zh-CN.md
  packages/coze-taro/package.json
  packages/realtime-api/README.md
  packages/realtime-api/README.zh-CN.md
  packages/realtime-api/package.json
Due: coze-js, realtime-api

fix: screen sharing bug
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-07-08-19.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-07-08-27.json
  packages/realtime-api/src/client.ts
  packages/realtime-api/test/client.spec.ts
Due: realtime-api

fix(realtime-api): Add check for video support before throwing device error
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-08-06-20.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-08-06-32.json
  examples/realtime-console/src/pages/main/header.tsx
  packages/realtime-api/src/client.ts
  packages/realtime-api/test/client.spec.ts
Due: realtime-api

fix: screen sharing bug (#75)
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-07-08-19.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-07-08-27.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-08-06-20.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-08-06-32.json
  examples/realtime-console/src/pages/main/header.tsx
  packages/realtime-api/package.json
  packages/realtime-api/src/client.ts
  packages/realtime-api/test/client.spec.ts
Due: realtime-api

feat: add translation api
  common/changes/@coze/api/feat-audio_2024-12-20-06-46.json
  common/changes/@coze/api/feat-audio_2024-12-29-02-59.json
  common/changes/@coze/api/feat-audio_2025-01-07-07-20.json
  common/changes/@coze/api/feat-audio_2025-01-07-09-33.json
  common/changes/@coze/realtime-api/feat-audio_2024-12-23-10-46.json
  examples/coze-js-node/src/voice.ts
  examples/realtime-console/README.md
  examples/realtime-console/src/hooks/use-coze-api.tsx
  examples/realtime-console/src/pages/main/comfort-strategy-form.tsx
  examples/realtime-console/src/pages/main/header.tsx
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/message-form.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/utils/local-manager.ts
  packages/coze-js/src/core.ts
  packages/coze-js/src/resources/audio/index.ts
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/coze-js/src/resources/audio/transcriptions/index.ts
  packages/coze-js/src/resources/audio/transcriptions/transcriptions.ts
  packages/coze-js/src/resources/audio/voices/voices.ts
  packages/coze-js/test/core.spec.ts
  packages/coze-js/test/resources/transcriptions.spec.ts
  packages/realtime-api/src/index.ts
Due: coze-js, realtime-api

feat: Add browser user agent and template support (#65)
  common/changes/@coze/api/feat-coze-api_2024-12-24-12-18.json
  common/changes/@coze/api/feat-coze-api_2024-12-25-02-45.json
  examples/coze-js-node/src/templates.ts
  packages/coze-js/README.md
  packages/coze-js/src/core.ts
  packages/coze-js/src/index.ts
  packages/coze-js/src/resources/audio/speech/speech.ts
  packages/coze-js/src/resources/conversations/messages/messages.ts
  packages/coze-js/src/resources/index.ts
  packages/coze-js/src/resources/templates/index.ts
  packages/coze-js/src/resources/templates/templates.ts
  packages/coze-js/test/core.spec.ts
  packages/coze-js/test/resources/speech.spec.ts
  packages/coze-js/test/resources/templates.test.ts
Due: coze-js

chore: Publish release/20250109-1607f5
  common/changes/@coze/api/docs-readme_2025-01-05-03-17.json
  common/changes/@coze/api/docs-readme_2025-01-05-04-19.json
  common/changes/@coze/api/docs-readme_2025-01-05-04-37.json
  common/changes/@coze/api/feat-coze-api_2024-12-24-12-18.json
  common/changes/@coze/api/feat-coze-api_2024-12-25-02-45.json
  common/changes/@coze/api/feat-datasets_2024-12-17-11-50.json
  common/changes/@coze/api/feat-datasets_2024-12-18-06-17.json
  common/changes/@coze/api/feat-datasets_2024-12-18-06-50.json
  common/changes/@coze/api/feat-datasets_2024-12-30-08-55.json
  common/changes/@coze/api/feat-datasets_2024-12-30-09-03.json
  common/changes/@coze/api/feat-publish-flow_2024-12-20-06-42.json
  common/changes/@coze/api/feat-publish-flow_2024-12-20-07-01.json
  common/changes/@coze/api/feat-publish-flow_2024-12-23-07-36.json
  common/changes/@coze/api/feat-publish-flow_2024-12-24-02-56.json
  common/changes/@coze/api/fix-bug_2024-12-31-14-39.json
  common/changes/@coze/api/fix-bug_2025-01-02-03-11.json
  common/changes/@coze/realtime-api/docs-readme_2025-01-05-03-17.json
  common/changes/@coze/realtime-api/docs-readme_2025-01-05-04-19.json
  common/changes/@coze/realtime-api/feat-publish-flow_2024-12-20-06-42.json
  common/changes/@coze/realtime-api/feat-publish-flow_2024-12-20-07-01.json
  common/changes/@coze/realtime-api/feat-publish-flow_2024-12-23-07-36.json
  common/changes/@coze/realtime-api/feat-publish-flow_2024-12-24-02-56.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-02-11-41.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-02-12-21.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-02-12-49.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-02-13-03.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-07-08-19.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-07-08-27.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-08-06-20.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-08-06-32.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
  packages/realtime-api/CHANGELOG.json
  packages/realtime-api/CHANGELOG.md
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: Publish release/20250109-1607f5 (#77)
  common/changes/@coze/api/docs-readme_2025-01-05-03-17.json
  common/changes/@coze/api/docs-readme_2025-01-05-04-19.json
  common/changes/@coze/api/docs-readme_2025-01-05-04-37.json
  common/changes/@coze/api/feat-coze-api_2024-12-24-12-18.json
  common/changes/@coze/api/feat-coze-api_2024-12-25-02-45.json
  common/changes/@coze/api/feat-datasets_2024-12-17-11-50.json
  common/changes/@coze/api/feat-datasets_2024-12-18-06-17.json
  common/changes/@coze/api/feat-datasets_2024-12-18-06-50.json
  common/changes/@coze/api/feat-datasets_2024-12-30-08-55.json
  common/changes/@coze/api/feat-datasets_2024-12-30-09-03.json
  common/changes/@coze/api/feat-publish-flow_2024-12-20-06-42.json
  common/changes/@coze/api/feat-publish-flow_2024-12-20-07-01.json
  common/changes/@coze/api/feat-publish-flow_2024-12-23-07-36.json
  common/changes/@coze/api/feat-publish-flow_2024-12-24-02-56.json
  common/changes/@coze/api/fix-bug_2024-12-31-14-39.json
  common/changes/@coze/api/fix-bug_2025-01-02-03-11.json
  common/changes/@coze/realtime-api/docs-readme_2025-01-05-03-17.json
  common/changes/@coze/realtime-api/docs-readme_2025-01-05-04-19.json
  common/changes/@coze/realtime-api/feat-publish-flow_2024-12-20-06-42.json
  common/changes/@coze/realtime-api/feat-publish-flow_2024-12-20-07-01.json
  common/changes/@coze/realtime-api/feat-publish-flow_2024-12-23-07-36.json
  common/changes/@coze/realtime-api/feat-publish-flow_2024-12-24-02-56.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-02-11-41.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-02-12-21.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-02-12-49.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-02-13-03.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-07-08-19.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-07-08-27.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-08-06-20.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-08-06-32.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
  packages/realtime-api/CHANGELOG.json
  packages/realtime-api/CHANGELOG.md
  packages/realtime-api/package.json
Due: coze-js, realtime-api

feat: coze-js remove import .js
  common/changes/@coze/api/feat-dev-source_2025-01-07-08-18.json
  packages/coze-js/src/auth.ts
  packages/coze-js/src/core.ts
  packages/coze-js/src/fetcher.ts
  packages/coze-js/src/index.ts
  packages/coze-js/src/resources/audio/index.ts
  packages/coze-js/src/resources/audio/rooms/index.ts
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/coze-js/src/resources/audio/speech/index.ts
  packages/coze-js/src/resources/audio/speech/speech.ts
  packages/coze-js/src/resources/audio/voices/index.ts
  packages/coze-js/src/resources/audio/voices/voices.ts
  packages/coze-js/src/resources/bots/bots.ts
  packages/coze-js/src/resources/bots/index.ts
  packages/coze-js/src/resources/chat/chat.ts
  packages/coze-js/src/resources/chat/index.ts
  packages/coze-js/src/resources/chat/messages/index.ts
  packages/coze-js/src/resources/conversations/index.ts
  packages/coze-js/src/resources/conversations/messages/index.ts
  packages/coze-js/src/resources/conversations/messages/messages.ts
  packages/coze-js/src/resources/datasets/documents/documents.ts
  packages/coze-js/src/resources/datasets/documents/index.ts
  packages/coze-js/src/resources/datasets/images/images.ts
  packages/coze-js/src/resources/datasets/images/index.ts
  packages/coze-js/src/resources/datasets/index.ts
  packages/coze-js/src/resources/files/files.ts
  packages/coze-js/src/resources/files/index.ts
  packages/coze-js/src/resources/index.ts
  packages/coze-js/src/resources/knowledge/documents/documents.ts
  packages/coze-js/src/resources/knowledge/documents/index.ts
  packages/coze-js/src/resources/knowledge/index.ts
  packages/coze-js/src/resources/workflows/chat/chat.ts
  packages/coze-js/src/resources/workflows/chat/index.ts
  packages/coze-js/src/resources/workflows/index.ts
  packages/coze-js/src/resources/workflows/runs/index.ts
  packages/coze-js/src/resources/workflows/runs/runs.ts
  packages/coze-js/src/resources/workspaces/index.ts
  packages/coze-js/src/resources/workspaces/workspaces.ts
Due: coze-js

feat: @coze/api 源码引入到coze-js-web、coze-js-node
  common/changes/@coze/api/feat-dev-source_2025-01-08-06-37.json
  examples/coze-js-node/tsconfig.json
  examples/coze-js-web/config/webpack.config.js
  packages/coze-js/package.json
Due: coze-js

feat: realtime-api 源码引入到 examples
  common/changes/@coze/realtime-api/feat-dev-source_2025-01-08-07-25.json
  packages/realtime-api/package.json
Due: realtime-api

feat: rebase 0109
  common/changes/@coze/api/feat-dev-source_2025-01-09-03-50.json
  common/changes/@coze/realtime-api/feat-dev-source_2025-01-09-03-50.json
  packages/coze-js/src/resources/templates/index.ts
  packages/coze-js/src/resources/templates/templates.ts
  packages/realtime-api/package.json
Due: coze-js, realtime-api

feat: tsconfig
  examples/coze-js-node/tsconfig.json
Due: none

chore: bump @rslib/core to 0.3.0
  common/config/subspaces/default/pnpm-lock.yaml
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: Publish release/20250110-886287
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: Publish release/20250110-a41ff2
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: Publish release/20250110-cb41a9
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: Publish release/20250113-2d8e39
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

feat: add translation api (#66)
  common/changes/@coze/api/feat-audio_2024-12-20-06-46.json
  common/changes/@coze/api/feat-audio_2024-12-29-02-59.json
  common/changes/@coze/api/feat-audio_2025-01-07-07-20.json
  common/changes/@coze/api/feat-audio_2025-01-07-09-33.json
  common/changes/@coze/realtime-api/feat-audio_2024-12-23-10-46.json
  examples/coze-js-node/src/voice.ts
  examples/realtime-console/README.md
  examples/realtime-console/src/hooks/use-coze-api.tsx
  examples/realtime-console/src/pages/main/comfort-strategy-form.tsx
  examples/realtime-console/src/pages/main/header.tsx
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/message-form.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/utils/local-manager.ts
  packages/coze-js/src/core.ts
  packages/coze-js/src/resources/audio/index.ts
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/coze-js/src/resources/audio/transcriptions/index.ts
  packages/coze-js/src/resources/audio/transcriptions/transcriptions.ts
  packages/coze-js/src/resources/audio/voices/voices.ts
  packages/coze-js/test/core.spec.ts
  packages/coze-js/test/resources/transcriptions.spec.ts
  packages/realtime-api/src/index.ts
Due: coze-js, realtime-api

feat: cozePub
  common/changes/@coze/api/release-20250113-2d8e39_2025-01-13-11-26.json
  common/changes/@coze/realtime-api/release-20250113-2d8e39_2025-01-13-11-26.json
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: Publish release/20250113-aea086
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

feat: rebase 0109
  common/changes/@coze/api/feat-dev-source_2025-01-09-03-50.json
  common/changes/@coze/api/feat-dev-source_2025-01-13-11-30.json
  common/changes/@coze/realtime-api/feat-dev-source_2025-01-09-03-50.json
  common/changes/@coze/realtime-api/feat-dev-source_2025-01-13-11-30.json
  examples/coze-js-node/tsconfig.json
  packages/coze-js/package.json
  packages/coze-js/src/resources/templates/index.ts
  packages/coze-js/src/resources/templates/templates.ts
  packages/realtime-api/package.json
Due: coze-js, realtime-api

feat: rebase 0113
  common/changes/@coze/api/feat-dev-source_2025-01-13-13-06.json
  packages/coze-js/src/resources/audio/transcriptions/index.ts
  packages/coze-js/src/resources/audio/transcriptions/transcriptions.ts
  packages/coze-js/src/resources/resource.ts
Due: coze-js

feat: taro dev source
  common/changes/@coze/realtime-api/feat-dev-source_2025-01-13-14-22.json
  common/changes/@coze/taro-api/feat-dev-source_2025-01-13-14-22.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-taro3/config/index.ts
  examples/coze-js-taro3/package.json
  packages/coze-taro/package.json
  packages/realtime-api/package.json
Due: realtime-api

chore: Publish release/20250113-d316f6
  packages/coze-js/package.json
  packages/coze-taro/package.json
Due: coze-js

chore: Publish release/20250113-832983
  packages/coze-js/package.json
  packages/coze-taro/package.json
Due: coze-js

chore: Publish release/20250113-2a15d0
  packages/coze-js/package.json
  packages/coze-taro/package.json
Due: coze-js

chore: Publish release/20250113-00f8b5
  packages/coze-js/package.json
  packages/coze-taro/package.json
Due: coze-js

feat(realtime-api): feat: add getRtcEngine method to expose RTC engine instance
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-20-11-15.json
  packages/realtime-api/README.md
  packages/realtime-api/README.zh-CN.md
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/index.ts
Due: realtime-api

Path conditions:
  coze-js: any of: packages/coze-js/**
  realtime-api: any of: packages/realtime-api/**
