Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

feat: change input to textarea
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-27-08-58.json
  packages/chat-sdk/src/libs/framework/component/chat-group-list/chat-group/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/block/list/index.module.less
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/block/list/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-safari-anchor-hack.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/hooks/use-text-input-handle.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/index.module.less
  packages/chat-sdk/src/libs/ui-kit/chat-input/index.tsx
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.module.less
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.tsx
Due: none

feat: fix audio and textarea height
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-27-10-00.json
  packages/chat-sdk/package.json
  packages/chat-sdk/scripts/lib-publish.sh
  packages/chat-sdk/src/libs/ui-kit/chat-input/audio-input/index.module.less
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.module.less
Due: none

feat: opt scroll-view
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-28-03-01.json
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-scroll-handle.ts
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-scroll-top.ts
Due: none

feat: 修改键盘弹起位置,以及placeholder
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-27-12-38.json
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.module.less
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.tsx
  packages/chat-sdk/src/pages/chat/index.tsx
  packages/chat-sdk/src/pages/ui/index.module.less
  packages/chat-sdk/src/pages/ui/index.tsx
Due: none

feat: fix click change
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-28-07-21.json
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.tsx
Due: none

feat: fix mobile keyborad handle
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-28-10-29.json
  packages/chat-sdk/src/libs/framework/component/chat-framework/index.module.less
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.module.less
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.tsx
Due: none

feat: 添加requireAction函数
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-28-13-24.json
  packages/chat-sdk/src/exports/index.ts
  packages/chat-sdk/src/libs/index.ts
  packages/chat-sdk/src/libs/provider/store/conversation.ts
  packages/chat-sdk/src/libs/services/helper/message/send-message/async-send-message.ts
  packages/chat-sdk/src/libs/services/helper/message/send-message/raw-send-message.ts
  packages/chat-sdk/src/libs/services/use-send-message.ts
  packages/chat-sdk/src/libs/types/base/event-callback.ts
  packages/chat-sdk/src/libs/types/services/send-message.ts
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

feat: 延迟发送消息
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-03-09-07.json
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-scroll-handle.ts
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

feat: 通用触发判断
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-03-09-49.json
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-scroll-handle.ts
Due: none

chore: Publish feat/feat-nl2app
  packages/chat-sdk/package.json
Due: none

feat: 修改代码
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-03-13-42.json
  packages/chat-sdk/src/libs/framework/component/chat-background/index.tsx
  packages/chat-sdk/src/libs/framework/component/chat-framework/index.tsx
  packages/chat-sdk/src/libs/framework/component/chat-input/index.tsx
  packages/chat-sdk/src/libs/framework/component/chat-scroll-view/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/tooltip/index.tsx
  packages/chat-sdk/src/libs/ui-kit/chat-input/index.tsx
  packages/chat-sdk/src/libs/utils/nanoid.ts
Due: none

feat: 暴露新的接口
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-04-06.json
  packages/chat-sdk/src/exports/index.ts
  packages/chat-sdk/src/libs/i18n/resource/simple/zh.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.tsx
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

feat: 添加inputvalue设置
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-06-41.json
  packages/chat-sdk/src/exports/index.ts
  packages/chat-sdk/src/libs/framework/component/chat-input/index.tsx
  packages/chat-sdk/src/libs/i18n/resource/simple/en.ts
  packages/chat-sdk/src/libs/index.ts
  packages/chat-sdk/src/libs/provider/index.tsx
  packages/chat-sdk/src/libs/provider/store/chat-input.ts
  packages/chat-sdk/src/libs/types/provider/chat-input.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/hooks/use-text-input-handle.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/index.tsx
  packages/chat-sdk/src/libs/ui-kit/index.ts
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

feat: workflow添加header
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-09-51.json
  packages/chat-sdk/src/chatflow/helper/chat-service.ts
  packages/chat-sdk/src/chatflow/type.ts
Due: none

feat: 修改eslint
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-06-43.json
  packages/chat-sdk/src/libs/provider/store/chat-input.ts
Due: none

feat: change markdown
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-11-09.json
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/context/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/phrase/image/index.tsx
  packages/chat-sdk/src/pages/markdown/index.tsx
Due: none

feat: 版本号修改
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-12-32.json
  packages/chat-sdk/package.json
Due: none

feat: 修改评论内容
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-12-45.json
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-safari-anchor-hack.ts
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-scroll-top.ts
Due: none

feat: change version
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-12-49.json
  packages/chat-sdk/package.json
Due: none

feat: change version
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-12-54.json
  packages/chat-sdk/package.json
Due: none

feat: clear timeout before exit
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-13-44.json
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-scroll-top.ts
Due: none

feat: change version
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-13-45.json
  packages/chat-sdk/package.json
Due: none

feat: change version
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-13-50.json
  packages/chat-sdk/package.json
Due: none

feat: add getRoomInfo customization option to RealtimeClient
  common/changes/@coze/realtime-api/feat-realtime-api_2025-02-14-10-11.json
  packages/realtime-api/README.md
  packages/realtime-api/README.zh-CN.md
  packages/realtime-api/package.json
  packages/realtime-api/src/index.ts
Due: realtime-api

feat: add getRoomInfo customization option to RealtimeClient (#127)
  common/changes/@coze/realtime-api/feat-realtime-api_2025-02-14-10-11.json
  packages/realtime-api/README.md
  packages/realtime-api/README.zh-CN.md
  packages/realtime-api/package.json
  packages/realtime-api/src/index.ts
Due: realtime-api

feat: 修改代码
  common/changes/@coze/chat-sdk/feat-feat-nl2app2_2025-03-05-06-22.json
  packages/chat-sdk/src/libs/provider/store/conversation.ts
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

chore: Publish release/20250305-4d3ed2
  packages/chat-sdk/package.json
Due: none

feat(realtime-console): add mobile support and network error handling
  common/changes/@coze/realtime-api/feat-network_2025-03-04-05-18.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-console/package.json
  examples/realtime-console/src/hooks/use-is-mobile.ts
  examples/realtime-console/src/hooks/use-network-error.tsx
  examples/realtime-console/src/pages/main/console-log.tsx
  examples/realtime-console/src/pages/main/header.tsx
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/player.tsx
  examples/realtime-console/src/pages/main/settings.tsx
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/event-handler.ts
  packages/realtime-api/src/index.ts
Due: realtime-api

fix(realtime-api): Hard code test_app_id for Debug
  common/changes/@coze/api/feat-network_2025-03-05-07-11.json
  common/changes/@coze/realtime-api/feat-network_2025-03-05-07-10.json
  packages/coze-js/package.json
  packages/realtime-api/src/index.ts
Due: coze-js, realtime-api

fix(realtime-api): CR bug
  common/changes/@coze/api/feat-network_2025-03-05-11-19.json
  examples/realtime-console/src/hooks/use-network-error.tsx
  examples/realtime-console/src/pages/main/console-log.tsx
  examples/realtime-console/src/pages/main/player.tsx
  packages/coze-js/src/resources/chat/chat.ts
Due: coze-js

test(realtime-api): add unit test
  common/changes/@coze/realtime-api/feat-network_2025-03-05-12-16.json
  packages/realtime-api/test/client.spec.ts
  packages/realtime-api/test/event-handler.spec.ts
Due: realtime-api

feat(realtime-console): add network error handling (#128)
  common/changes/@coze/api/feat-network_2025-03-05-07-11.json
  common/changes/@coze/api/feat-network_2025-03-05-11-19.json
  common/changes/@coze/realtime-api/feat-network_2025-03-04-05-18.json
  common/changes/@coze/realtime-api/feat-network_2025-03-05-07-10.json
  common/changes/@coze/realtime-api/feat-network_2025-03-05-12-16.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-console/package.json
  examples/realtime-console/src/hooks/use-is-mobile.ts
  examples/realtime-console/src/hooks/use-network-error.tsx
  examples/realtime-console/src/pages/main/console-log.tsx
  examples/realtime-console/src/pages/main/header.tsx
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/player.tsx
  examples/realtime-console/src/pages/main/settings.tsx
  packages/coze-js/package.json
  packages/coze-js/src/resources/chat/chat.ts
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/event-handler.ts
  packages/realtime-api/src/index.ts
  packages/realtime-api/test/client.spec.ts
  packages/realtime-api/test/event-handler.spec.ts
Due: coze-js, realtime-api

feat: init project
  examples/realtime-uniapp/.gitignore
  examples/realtime-uniapp/index.html
  examples/realtime-uniapp/package.json
  examples/realtime-uniapp/pnpm-lock.yaml
  examples/realtime-uniapp/shims-uni.d.ts
  examples/realtime-uniapp/src/App.vue
  examples/realtime-uniapp/src/env.d.ts
  examples/realtime-uniapp/src/main.ts
  examples/realtime-uniapp/src/manifest.json
  examples/realtime-uniapp/src/pages.json
  examples/realtime-uniapp/src/pages/index/index.vue
  examples/realtime-uniapp/src/shime-uni.d.ts
  examples/realtime-uniapp/src/static/logo.png
  examples/realtime-uniapp/src/uni.scss
  examples/realtime-uniapp/tsconfig.json
  examples/realtime-uniapp/vite.config.ts
Due: none

fix: Add error handling for JWT token exchange (#95)
  common/changes/@coze/api/fix-bug_2025-02-12-06-45.json
  packages/coze-js/package.json
  packages/coze-js/src/auth.ts
Due: coze-js

chore: Publish release/20250212-4ca95c (#96)
  common/changes/@coze/api/feat-audio_2025-01-16-12-11.json
  common/changes/@coze/api/feat-audio_2025-01-19-12-54.json
  common/changes/@coze/api/feat-quickstart_2025-02-08-08-03.json
  common/changes/@coze/api/feat-quickstart_2025-02-11-01-56.json
  common/changes/@coze/api/feat-quickstart_2025-02-11-02-04.json
  common/changes/@coze/api/feat-realtime-api_2025-02-07-03-11.json
  common/changes/@coze/api/feat-realtime-api_2025-02-07-03-33.json
  common/changes/@coze/api/feat-realtime-api_2025-02-07-06-55.json
  common/changes/@coze/api/feat-workflow_id_2025-02-05-09-07.json
  common/changes/@coze/api/fix-bug_2025-02-12-06-45.json
  common/changes/@coze/api/fix-win_2025-02-10-12-17.json
  common/changes/@coze/realtime-api/feat-audio_2024-12-23-10-46.json
  common/changes/@coze/realtime-api/feat-dev-source_2025-01-08-07-25.json
  common/changes/@coze/realtime-api/feat-dev-source_2025-01-09-03-50.json
  common/changes/@coze/realtime-api/feat-dev-source_2025-01-13-11-30.json
  common/changes/@coze/realtime-api/feat-dev-source_2025-01-13-14-22.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-20-11-15.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-02-06-04-00.json
  common/changes/@coze/realtime-api/feat-workflow_id_2025-02-05-09-07.json
  common/changes/@coze/realtime-api/fix-win_2025-02-10-12-17.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
  packages/realtime-api/CHANGELOG.json
  packages/realtime-api/CHANGELOG.md
  packages/realtime-api/package.json
Due: coze-js, realtime-api

feat(coze-js-web): Add text-to-speech functionality and improve audio handling (#97)
  examples/coze-js-web/src/pages/chat-x/config.ts
  examples/coze-js-web/src/pages/chat-x/index.tsx
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
Due: none

Path conditions:
  coze-js: any of: packages/coze-js/**
  realtime-api: any of: packages/realtime-api/**
