Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

feat: 展示html标签
  common/changes/@coze/chat-sdk/feat-feat-copy_2025-03-12-02-11.json
  packages/chat-sdk/README.md
  packages/chat-sdk/src/libs/ui-kit/message/components/markdown/index.tsx
  packages/chat-sdk/src/pages/markdown/const.ts
Due: none

chore: Publish release/20250312-78b8f1
  packages/chat-sdk/package.json
Due: none

fix(coze/api): fix speech bug
  common/changes/@coze/api/fix-speech_2025-03-12-13-51.json
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/src/ws-tools/speech/index.ts
Due: coze-js

chore: Publish fix/speech
  packages/coze-js/package.json
Due: coze-js

feat: 添加input判断逻辑
  common/changes/@coze/chat-sdk/feat-feat-nl2app3_2025-03-13-02-28.json
  packages/chat-sdk/src/libs/services/use-send-message.ts
  packages/chat-sdk/src/libs/types/base/ui.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/hooks/use-text-input-handle.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/type.ts
  packages/chat-sdk/src/pages/chat/index.tsx
Due: none

chore: Publish release/20250313-413650
  packages/chat-sdk/package.json
Due: none

chore: Publish feat/version
  packages/realtime-api/package.json
Due: realtime-api

fix(coze/api): fix speech bug
  common/changes/@coze/api/fix-speech_2025-03-14-03-48.json
  packages/coze-js/src/ws-tools/speech/index.ts
Due: coze-js

chore: Publish fix/speech
  common/changes/@coze/api/fix-speech_2025-03-14-04-06.json
  common/changes/@coze/api/fix-speech_2025-03-14-04-11.json
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/package.json
  packages/coze-js/test/ws-tools/speech.spec.ts
Due: coze-js

fix(coze/api): fix speech bug (#141)
  common/changes/@coze/api/fix-speech_2025-03-12-13-51.json
  common/changes/@coze/api/fix-speech_2025-03-14-03-48.json
  common/changes/@coze/api/fix-speech_2025-03-14-04-06.json
  common/changes/@coze/api/fix-speech_2025-03-14-04-11.json
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/package.json
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/test/ws-tools/speech.spec.ts
Due: coze-js

fix: taro adapter timeout
  common/changes/@coze/taro-api/fix-taro-timeout_2025-03-17-09-16.json
  packages/coze-taro/src/api.ts
Due: none

chore: Publish fix/taro-timeout
  packages/coze-taro/package.json
Due: none

chore: Publish release/20250321-2f1d79
  common/changes/@coze/chat-sdk/feat-feat-copy_2025-03-07-06-35.json
  common/changes/@coze/chat-sdk/feat-feat-copy_2025-03-07-06-37.json
  common/changes/@coze/chat-sdk/feat-feat-copy_2025-03-07-06-47.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app2_2025-03-05-06-22.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app2_2025-03-06-07-38.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app2_2025-03-06-07-47.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-24-07-31.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-24-07-42.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-24-08-32.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-24-09-16.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-25-08-51.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-26-12-22.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-27-08-58.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-27-10-00.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-27-12-38.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-28-03-01.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-28-07-21.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-28-10-29.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-28-13-24.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-03-09-07.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-03-09-49.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-03-13-42.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-04-06.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-06-41.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-06-43.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-09-51.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-11-09.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-12-32.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-12-45.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-12-49.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-12-54.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-13-44.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-13-45.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-13-50.json
  packages/chat-sdk/CHANGELOG.json
  packages/chat-sdk/CHANGELOG.md
  packages/chat-sdk/package.json
Due: none

chore: Publish release/20250321-2f1d79 (#155)
  common/changes/@coze/chat-sdk/feat-feat-copy_2025-03-07-06-35.json
  common/changes/@coze/chat-sdk/feat-feat-copy_2025-03-07-06-37.json
  common/changes/@coze/chat-sdk/feat-feat-copy_2025-03-07-06-47.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app2_2025-03-05-06-22.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app2_2025-03-06-07-38.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app2_2025-03-06-07-47.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-24-07-31.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-24-07-42.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-24-08-32.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-24-09-16.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-25-08-51.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-26-12-22.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-27-08-58.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-27-10-00.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-27-12-38.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-28-03-01.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-28-07-21.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-28-10-29.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-28-13-24.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-03-09-07.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-03-09-49.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-03-13-42.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-04-06.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-06-41.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-06-43.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-09-51.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-11-09.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-12-32.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-12-45.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-12-49.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-12-54.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-13-44.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-13-45.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-13-50.json
  packages/chat-sdk/CHANGELOG.json
  packages/chat-sdk/CHANGELOG.md
  packages/chat-sdk/package.json
Due: none

feat: 发送前检测
  common/changes/@coze/chat-sdk/feat-feat-nl2app3_2025-03-21-02-23.json
  packages/chat-sdk/src/libs/types/base/ui.ts
  packages/chat-sdk/src/pages/chat/index.tsx
Due: none

feat: fix bug in tt mini app
  common/changes/@coze/chat-sdk/feat-feat-nl2app3_2025-03-21-08-49.json
  packages/chat-sdk/src/libs/framework/component/chat-group-list/command/command-audio/index.tsx
  packages/chat-sdk/src/libs/ui-kit/message/components/chatflow-node/index.module.less
  packages/chat-sdk/src/libs/ui-kit/message/components/chatflow-node/index.tsx
  packages/chat-sdk/src/libs/utils/event-source/request.ts
  packages/chat-sdk/src/libs/utils/play-audio.ts
  packages/chat-sdk/src/libs/utils/recorder-manager/taro-recorder-manager.ts
Due: none

feat: fix apiclient refreshtoken on error
  common/changes/@coze/chat-sdk/feat-feat-nl2app3_2025-03-24-02-17.json
  packages/chat-sdk/package.json
  packages/chat-sdk/src/libs/services/helper/chat-service.ts
  packages/chat-sdk/src/libs/services/helper/message/send-message/async-send-message.ts
  packages/chat-sdk/src/libs/types/services/chat-service.ts
  packages/chat-sdk/src/libs/utils/mini-coze-api.ts
Due: none

feat: change dependcies
  common/changes/@coze/chat-sdk/feat-feat-nl2app3_2025-03-24-02-37.json
  packages/chat-sdk/package.json
Due: none

chore: Publish feat/feat-nl2app3
  packages/chat-sdk/package.json
Due: none

Initial commit
  .gitignore
  LICENSE
Due: none

feat(websocket): Add websocket realtime demo
  common/changes/@coze/api/feat-realtime-quickstart_2025-03-11-18-40.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-quickstart-react/src/App.tsx
  examples/realtime-quickstart-react/src/components/settings/index.tsx
  examples/realtime-quickstart-react/src/hooks/use-token-with-pat.ts
  examples/realtime-quickstart-react/src/pages/rtc/index.tsx
  examples/realtime-quickstart-react/src/pages/ws/index.tsx
  examples/realtime-quickstart-react/src/utils/config.ts
  packages/coze-js/src/resources/websockets/chat/index.ts
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/index.ts
  rush.json
Due: coze-js

feat(realtime-quickstart): add chat realtime demo
  .gitignore
  common/changes/@coze/api/feat-realtime-quickstart_2025-03-12-11-34.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-03-14-05-20.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-03-14-07-03.json
  examples/realtime-quickstart-react/src/components/settings/index.tsx
  examples/realtime-quickstart-react/src/pages/ws/index.tsx
  examples/realtime-quickstart-react/src/utils/config.ts
  packages/coze-js/src/resources/websockets/chat/index.ts
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/index.ts
  packages/coze-js/src/ws-tools/transcription/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.js
Due: coze-js

feat(realtime-console): feat: add payment notice for voice cloning feature
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-console/src/pages/main/voice-select.tsx
Due: none

refactor(audio): replace MediaRecorder with Web Audio API for PCM recording
  common/changes/@coze/api/feat-realtime-quickstart_2025-03-16-17-11.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-03-24-13-16.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-quickstart-react/src/pages/ws/index.tsx
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/package.json
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/src/ws-tools/transcription/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.js
Due: coze-js

chore: Publish feat/realtime-quickstart
  packages/coze-js/package.json
Due: coze-js

chore: add sensitive checker (#2)
  .gitignore
  common/autoinstallers/sensitive-check/package.json
  common/autoinstallers/sensitive-check/pnpm-lock.yaml
  common/autoinstallers/sensitive-check/tool.ts
  common/config/rush/command-line.json
Due: none

feat: mcp server to retrive npm package information (#3)
  .cursor/rules/000-cursor-rules.mdc
  .cursor/rules/001-emoji-communication.mdc
  .cursor/rules/400-en-readme.mdc
  .cursor/rules/400-md-docs.mdc
  .vscode/settings.json
  README.md
  common/_templates/component-core/package.json
  common/_templates/node-core/package.json
  common/config/subspaces/default/pnpm-lock.yaml
  config/eslint-config/package.json
  config/vitest-config/package.json
  cspell.json
  mcp/npm/LICENSE
  mcp/npm/README.md
  mcp/npm/__e2e__/http.test.ts
  mcp/npm/__e2e__/stdio.test.ts
  mcp/npm/__tests__/actions/serve.test.ts
  mcp/npm/__tests__/actions/start.test.ts
  mcp/npm/__tests__/mcp/fetch.test.ts
  mcp/npm/__tests__/mcp/search.test.ts
  mcp/npm/__tests__/mcp/server.test.ts
  mcp/npm/__tests__/utils/logger.test.ts
  mcp/npm/bin/main
  mcp/npm/eslint.config.js
  mcp/npm/package.json
  mcp/npm/rollup.config.mjs
  mcp/npm/src/actions/serve.ts
  mcp/npm/src/actions/start.ts
  mcp/npm/src/cli.ts
  mcp/npm/src/mcp/fetch.ts
  mcp/npm/src/mcp/search.ts
  mcp/npm/src/mcp/server.ts
  mcp/npm/src/types.d.ts
  mcp/npm/src/utils/logger.ts
  mcp/npm/tsconfig.build.json
  mcp/npm/tsconfig.json
  mcp/npm/tsconfig.misc.json
  rush.json
Due: none

chore: rush tsc plugin (#4)
  common/_templates/_plugins/SetDefaultAuthorPlugin.ts
  common/autoinstallers/plugins/package.json
  common/autoinstallers/plugins/pnpm-lock.yaml
  common/autoinstallers/plugins/rush-plugins/@coze-infra/rush-run-tsc-plugin/@coze-infra/rush-run-tsc-plugin/command-line.json
  common/autoinstallers/plugins/rush-plugins/@coze-infra/rush-run-tsc-plugin/rush-plugin-manifest.json
  common/config/rush/rush-plugins.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/rush-plugins/run-tsc-plugin/README.md
  packages/rush-plugins/run-tsc-plugin/command-line.json
  packages/rush-plugins/run-tsc-plugin/package.json
  packages/rush-plugins/run-tsc-plugin/rush-plugin-manifest.json
  packages/rush-plugins/run-tsc-plugin/tsconfig.build.json
  rush.json
Due: none

chore: rush plugin for generate change logs
  common/_templates/rush-plugin/README.md
  common/_templates/rush-plugin/__tests__/.gitkeep
  common/_templates/rush-plugin/command-line.json
  common/_templates/rush-plugin/config/rush-project.json
  common/_templates/rush-plugin/eslint.config.js
  common/_templates/rush-plugin/init.config.ts
  common/_templates/rush-plugin/package.json
  common/_templates/rush-plugin/rush-plugin-manifest.json
  common/_templates/rush-plugin/src/index.ts
  common/_templates/rush-plugin/tsconfig.build.json
  common/_templates/rush-plugin/tsconfig.json
  common/_templates/rush-plugin/tsconfig.misc.json
  common/_templates/rush-plugin/vitest.config.ts
Due: none

chore: rush plugin for generate change logs
  common/_templates/rush-plugin/package.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/rush-plugins/change/README.md
  packages/rush-plugins/change/__tests__/.gitkeep
  packages/rush-plugins/change/__tests__/actions/action.test.ts
  packages/rush-plugins/change/__tests__/actions/amend-commit.test.ts
  packages/rush-plugins/change/__tests__/actions/helper.test.ts
  packages/rush-plugins/change/command-line.json
  packages/rush-plugins/change/config/rush-project.json
  packages/rush-plugins/change/eslint.config.js
  packages/rush-plugins/change/package.json
  packages/rush-plugins/change/rush-plugin-manifest.json
  packages/rush-plugins/change/src/action/action.ts
  packages/rush-plugins/change/src/action/amend-commit.ts
  packages/rush-plugins/change/src/action/helper.ts
  packages/rush-plugins/change/src/action/index.ts
  packages/rush-plugins/change/src/action/types.ts
  packages/rush-plugins/change/src/index.ts
  packages/rush-plugins/change/src/types.ts
  packages/rush-plugins/change/tsconfig.build.json
  packages/rush-plugins/change/tsconfig.json
  packages/rush-plugins/change/tsconfig.misc.json
  packages/rush-plugins/change/vitest.config.ts
  rush.json
Due: none

feat: bugfix for tt and refreshtoken in chat (#157)
  common/changes/@coze/chat-sdk/feat-feat-nl2app3_2025-03-13-02-28.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app3_2025-03-21-02-23.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app3_2025-03-21-08-49.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app3_2025-03-24-02-17.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app3_2025-03-24-02-37.json
  packages/chat-sdk/package.json
  packages/chat-sdk/src/libs/framework/component/chat-group-list/command/command-audio/index.tsx
  packages/chat-sdk/src/libs/services/helper/chat-service.ts
  packages/chat-sdk/src/libs/services/helper/message/send-message/async-send-message.ts
  packages/chat-sdk/src/libs/services/use-send-message.ts
  packages/chat-sdk/src/libs/types/base/ui.ts
  packages/chat-sdk/src/libs/types/services/chat-service.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/hooks/use-text-input-handle.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/type.ts
  packages/chat-sdk/src/libs/ui-kit/message/components/chatflow-node/index.module.less
  packages/chat-sdk/src/libs/ui-kit/message/components/chatflow-node/index.tsx
  packages/chat-sdk/src/libs/utils/event-source/request.ts
  packages/chat-sdk/src/libs/utils/mini-coze-api.ts
  packages/chat-sdk/src/libs/utils/play-audio.ts
  packages/chat-sdk/src/libs/utils/recorder-manager/taro-recorder-manager.ts
  packages/chat-sdk/src/pages/chat/index.tsx
Due: none

chore: rush plugin for generate change logs
  common/changes/@coze-infra/npm-mcp-server/feat-rush-change-plugin_2025-03-25-09-24.json
  common/config/subspaces/default/pnpm-lock.yaml
  mcp/npm/package.json
  packages/rush-plugins/change/__tests__/.gitkeep
  packages/rush-plugins/change/command-line.json
  packages/rush-plugins/change/src/index.ts
  packages/rush-plugins/change/src/types.ts
  packages/rush-plugins/publish/README.md
  packages/rush-plugins/publish/__tests__/actions/action.test.ts
  packages/rush-plugins/publish/__tests__/actions/amend-commit.test.ts
  packages/rush-plugins/publish/__tests__/actions/helper.test.ts
  packages/rush-plugins/publish/__tests__/generate-changelog/generate-changelog.test.ts
  packages/rush-plugins/publish/command-line.json
  packages/rush-plugins/publish/config/rush-project.json
  packages/rush-plugins/publish/eslint.config.js
  packages/rush-plugins/publish/package.json
  packages/rush-plugins/publish/rush-plugin-manifest.json
  packages/rush-plugins/publish/src/action/change/action.ts
  packages/rush-plugins/publish/src/action/change/amend-commit.ts
  packages/rush-plugins/publish/src/action/change/helper.ts
  packages/rush-plugins/publish/src/action/change/index.ts
  packages/rush-plugins/publish/src/action/change/types.ts
  packages/rush-plugins/publish/src/generate-changelog/README.md
  packages/rush-plugins/publish/src/generate-changelog/change-file.schema.json
  packages/rush-plugins/publish/src/generate-changelog/changelog.schema.json
  packages/rush-plugins/publish/src/generate-changelog/generate-changelog.ts
  packages/rush-plugins/publish/src/index.ts
  packages/rush-plugins/publish/src/types.ts
  packages/rush-plugins/publish/src/utils/exec.ts
  packages/rush-plugins/publish/src/utils/get-rush-config.ts
  packages/rush-plugins/publish/src/utils/git-staged.ts
  packages/rush-plugins/publish/src/utils/logger.ts
  packages/rush-plugins/publish/src/utils/whoami.ts
  packages/rush-plugins/publish/tsconfig.build.json
  packages/rush-plugins/publish/tsconfig.json
  packages/rush-plugins/publish/tsconfig.misc.json
  packages/rush-plugins/publish/vitest.config.ts
  rush.json
Due: none

chore: use rush change in pre-commit hook
  common/autoinstallers/plugins/package.json
  common/autoinstallers/plugins/pnpm-lock.yaml
  common/autoinstallers/plugins/rush-plugins/@coze-infra/rush-publish-plugin/@coze-infra/rush-publish-plugin/command-line.json
  common/autoinstallers/plugins/rush-plugins/@coze-infra/rush-publish-plugin/rush-plugin-manifest.json
  common/changes/@coze-infra/rush-publish-plugin/feat-rush-change-plugin_2025-03-25-09-44.json
  common/config/rush/rush-plugins.json
  common/config/subspaces/default/pnpm-lock.yaml
  common/git-hooks/commit-msg
  common/git-hooks/post-commit
  packages/rush-plugins/publish/package.json
  packages/rush-plugins/publish/src/index.ts
  packages/rush-plugins/publish/src/run.js
Due: none

chore: publish & release command
  common/changes/@coze-infra/rush-publish-plugin/feat-rush-change-plugin_2025-03-25-10-05.json
  common/changes/@coze-infra/rush-run-tsc-plugin/feat-rush-change-plugin_2025-03-25-10-05.json
  packages/rush-plugins/publish/src/action/change/helper.ts
  packages/rush-plugins/publish/src/action/publish/action.ts
  packages/rush-plugins/publish/src/action/publish/index.ts
  packages/rush-plugins/publish/src/action/publish/packages.ts
  packages/rush-plugins/publish/src/action/publish/version.ts
  packages/rush-plugins/publish/src/action/release/action.ts
  packages/rush-plugins/publish/src/action/release/index.ts
  packages/rush-plugins/publish/src/action/release/manifest.ts
  packages/rush-plugins/publish/src/action/release/package.ts
  packages/rush-plugins/publish/src/action/release/release.ts
  packages/rush-plugins/run-tsc-plugin/package.json
Due: none

chore: publish & release command
  common/autoinstallers/plugins/rush-plugins/@coze-infra/rush-publish-plugin/@coze-infra/rush-publish-plugin/command-line.json
  common/changes/@coze-infra/rush-publish-plugin/feat-rush-change-plugin_2025-03-25-10-07.json
  packages/rush-plugins/publish/command-line.json
Due: none

chore: publish & release command
  common/autoinstallers/plugins/rush-plugins/@coze-infra/rush-publish-plugin/@coze-infra/rush-publish-plugin/command-line.json
  common/changes/@coze-infra/rush-publish-plugin/feat-rush-change-plugin_2025-03-25-10-08.json
  packages/rush-plugins/publish/command-line.json
Due: none

Path conditions:
  coze-js: any of: packages/coze-js/**
  realtime-api: any of: packages/realtime-api/**
