Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

chore: Publish feat/realtime-api
  packages/realtime-api/package.json
Due: realtime-api

fix: remove multiplatform
  common/changes/@coze/taro-api/feat-taro-multi_2024-12-23-08-11.json
  packages/coze-taro/src/event-source/request.ts
  packages/coze-taro/src/mixins/platform.ts
Due: none

docs: example
  common/changes/@coze/taro-api/feat-taro-multi_2024-12-23-13-09.json
  examples/coze-js-taro3/config/index.ts
  packages/coze-taro/README.md
  packages/coze-taro/test/setup.ts
Due: none

fix: modify api
  common/changes/@coze/taro-api/feat-taro-multi_2024-12-30-11-19.json
  examples/coze-js-taro/src/pages/index/index.tsx
  examples/coze-js-taro3/src/pages/index/index.vue
  packages/coze-taro/src/api.ts
  packages/coze-taro/src/api/index.h5.ts
  packages/coze-taro/src/api/index.ts
  packages/coze-taro/src/api/types.ts
  packages/coze-taro/src/index.ts
  packages/coze-taro/test/api.h5.spec.ts
  packages/coze-taro/test/setup.ts
Due: none

test: weapp
  common/changes/@coze/taro-api/feat-taro-multi_2024-12-31-02-23.json
  packages/coze-taro/test/api.spec.ts
  packages/coze-taro/test/request.spec.ts
  packages/coze-taro/test/setup.ts
  packages/coze-taro/test/stubs.ts
Due: none

feat: expose response error
  common/changes/@coze/taro-api/feat-taro-multi_2025-01-22-10-14.json
  packages/coze-taro/src/api.ts
  packages/coze-taro/src/event-source/base.ts
  packages/coze-taro/src/event-source/index.tt.ts
  packages/coze-taro/src/event-source/index.weapp.ts
  packages/coze-taro/src/event-source/request.ts
  packages/coze-taro/src/mixins/mixins.ts
Due: none

chore: Publish feat/taro-multi
  packages/coze-taro/package.json
Due: none

test: fix testcase
  common/changes/@coze/taro-api/feat-taro-multi_2025-02-05-03-02.json
  packages/coze-taro/package.json
  packages/coze-taro/src/api.ts
  packages/coze-taro/test/api.spec.ts
  packages/coze-taro/test/stubs.ts
Due: none

refactor: update error handling and remove help_doc field
  common/changes/@coze/api/feat-api_2025-02-05-06-33.json
  packages/coze-js/src/error.ts
  packages/coze-js/test/error.spec.ts
Due: coze-js

chore: update version
  common/changes/@coze/taro-api/feat-taro-multi_2025-02-05-07-16.json
  packages/coze-taro/package.json
Due: none

feat: add workflow ID support to realtime console
  common/changes/@coze/api/feat-workflow_id_2025-02-05-09-07.json
  common/changes/@coze/realtime-api/feat-workflow_id_2025-02-05-09-07.json
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/utils/local-manager.ts
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/realtime-api/src/index.ts
Due: coze-js, realtime-api

feat: add node-fetch for streaming support in older Node.js versions
  common/changes/@coze/api/fix-bug_2025-02-05-11-43.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/coze-js/package.json
  packages/coze-js/src/fetcher.ts
Due: coze-js

chore: fix version
  common/changes/@coze/api/feat-taro-multi_2025-02-06-01-53.json
  common/changes/@coze/taro-api/feat-taro-multi_2025-02-06-01-53.json
  packages/coze-js/package.json
  packages/coze-taro/package.json
Due: coze-js

feat: enhance multiple platform (#64)
  common/changes/@coze/api/feat-taro-multi_2025-02-06-01-53.json
  common/changes/@coze/taro-api/feat-taro-multi_2024-12-23-08-11.json
  common/changes/@coze/taro-api/feat-taro-multi_2024-12-23-13-09.json
  common/changes/@coze/taro-api/feat-taro-multi_2024-12-30-11-19.json
  common/changes/@coze/taro-api/feat-taro-multi_2024-12-31-02-23.json
  common/changes/@coze/taro-api/feat-taro-multi_2025-01-22-10-14.json
  common/changes/@coze/taro-api/feat-taro-multi_2025-02-05-03-02.json
  common/changes/@coze/taro-api/feat-taro-multi_2025-02-05-07-16.json
  common/changes/@coze/taro-api/feat-taro-multi_2025-02-06-01-53.json
  examples/coze-js-taro/src/pages/index/index.tsx
  examples/coze-js-taro3/config/index.ts
  examples/coze-js-taro3/src/pages/index/index.vue
  packages/coze-js/package.json
  packages/coze-taro/README.md
  packages/coze-taro/package.json
  packages/coze-taro/src/api.ts
  packages/coze-taro/src/api/index.h5.ts
  packages/coze-taro/src/api/index.ts
  packages/coze-taro/src/api/types.ts
  packages/coze-taro/src/event-source/base.ts
  packages/coze-taro/src/event-source/index.tt.ts
  packages/coze-taro/src/event-source/index.weapp.ts
  packages/coze-taro/src/event-source/request.ts
  packages/coze-taro/src/index.ts
  packages/coze-taro/src/mixins/mixins.ts
  packages/coze-taro/src/mixins/platform.ts
  packages/coze-taro/test/api.h5.spec.ts
  packages/coze-taro/test/api.spec.ts
  packages/coze-taro/test/request.spec.ts
  packages/coze-taro/test/setup.ts
  packages/coze-taro/test/stubs.ts
Due: coze-js

test: add test code
  common/changes/@coze/realtime-api/feat-realtime-api_2025-02-06-04-00.json
  packages/realtime-api/test/client.spec.ts
  packages/realtime-api/test/index.spec.ts
Due: realtime-api

test: add test code
  common/changes/@coze/api/fix-bug_2025-02-06-05-16.json
  common/changes/@coze/api/fix-bug_2025-02-06-06-14.json
  packages/coze-js/src/fetcher.ts
  packages/coze-js/test/fetcher.spec.ts
Due: coze-js

feat(realtime-api): feat: add getRtcEngine method to expose RTC engine (#83)
  common/changes/@coze/realtime-api/feat-realtime-api_2025-01-20-11-15.json
  common/changes/@coze/realtime-api/feat-realtime-api_2025-02-06-04-00.json
  packages/realtime-api/README.md
  packages/realtime-api/README.zh-CN.md
  packages/realtime-api/package.json
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/index.ts
  packages/realtime-api/test/client.spec.ts
  packages/realtime-api/test/index.spec.ts
Due: realtime-api

feat: add node-fetch for streaming support in older Node.js versions (#85)
  common/changes/@coze/api/fix-bug_2025-02-05-11-43.json
  common/changes/@coze/api/fix-bug_2025-02-06-05-16.json
  common/changes/@coze/api/fix-bug_2025-02-06-06-14.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/coze-js/package.json
  packages/coze-js/src/fetcher.ts
  packages/coze-js/test/fetcher.spec.ts
Due: coze-js

refactor: update error handling and remove help_doc field (#84)
  common/changes/@coze/api/feat-api_2025-02-05-06-33.json
  packages/coze-js/src/error.ts
  packages/coze-js/test/error.spec.ts
Due: coze-js

fix: fix bug when running release
  infra/rush-x/src/actions/release/action.ts
Due: none

fix: fix bug when running release (#86)
  infra/rush-x/src/actions/release/action.ts
Due: none

chore: Publish release/20250206-c8b58d
  common/changes/@coze/api/feat-api_2025-02-05-06-33.json
  common/changes/@coze/api/feat-audio_2024-12-20-06-46.json
  common/changes/@coze/api/feat-audio_2024-12-29-02-59.json
  common/changes/@coze/api/feat-audio_2025-01-07-07-20.json
  common/changes/@coze/api/feat-audio_2025-01-07-09-33.json
  common/changes/@coze/api/feat-dev-source_2025-01-07-08-18.json
  common/changes/@coze/api/feat-dev-source_2025-01-08-06-37.json
  common/changes/@coze/api/feat-dev-source_2025-01-09-03-50.json
  common/changes/@coze/api/feat-dev-source_2025-01-13-11-30.json
  common/changes/@coze/api/feat-dev-source_2025-01-13-13-06.json
  common/changes/@coze/api/feat-taro-multi_2025-02-06-01-53.json
  common/changes/@coze/api/fix-bug_2025-02-05-11-43.json
  common/changes/@coze/api/fix-bug_2025-02-06-05-16.json
  common/changes/@coze/api/fix-bug_2025-02-06-06-14.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20250206-c8b58d (#87)
  common/changes/@coze/api/feat-api_2025-02-05-06-33.json
  common/changes/@coze/api/feat-audio_2024-12-20-06-46.json
  common/changes/@coze/api/feat-audio_2024-12-29-02-59.json
  common/changes/@coze/api/feat-audio_2025-01-07-07-20.json
  common/changes/@coze/api/feat-audio_2025-01-07-09-33.json
  common/changes/@coze/api/feat-dev-source_2025-01-07-08-18.json
  common/changes/@coze/api/feat-dev-source_2025-01-08-06-37.json
  common/changes/@coze/api/feat-dev-source_2025-01-09-03-50.json
  common/changes/@coze/api/feat-dev-source_2025-01-13-11-30.json
  common/changes/@coze/api/feat-dev-source_2025-01-13-13-06.json
  common/changes/@coze/api/feat-taro-multi_2025-02-06-01-53.json
  common/changes/@coze/api/fix-bug_2025-02-05-11-43.json
  common/changes/@coze/api/fix-bug_2025-02-06-05-16.json
  common/changes/@coze/api/fix-bug_2025-02-06-06-14.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
Due: coze-js

fix(deps): downgrade node-fetch from ^3.3.2 to ^2.x
  common/changes/@coze/api/fix-bug_2025-02-06-12-48.json
  common/changes/@coze/api/fix-bug_2025-02-06-12-56.json
  common/changes/@coze/api/fix-bug_2025-02-06-13-14.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/coze-js/package.json
Due: coze-js

fix(deps): downgrade node-fetch from ^3.3.2 to ^2.x (#89)
  common/changes/@coze/api/fix-bug_2025-02-06-12-48.json
  common/changes/@coze/api/fix-bug_2025-02-06-12-56.json
  common/changes/@coze/api/fix-bug_2025-02-06-13-14.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20250207-685898
  common/changes/@coze/api/fix-bug_2025-02-06-12-48.json
  common/changes/@coze/api/fix-bug_2025-02-06-12-56.json
  common/changes/@coze/api/fix-bug_2025-02-06-13-14.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20250207-685898 (#90)
  common/changes/@coze/api/fix-bug_2025-02-06-12-48.json
  common/changes/@coze/api/fix-bug_2025-02-06-12-56.json
  common/changes/@coze/api/fix-bug_2025-02-06-13-14.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
Due: coze-js

feat: Add Websocket Support
  common/changes/@coze/api/feat-audio_2025-01-16-12-11.json
  cspell.json
  examples/coze-js-node/package.json
  examples/coze-js-node/src/client.ts
  examples/coze-js-node/src/config/config.default.ts
  examples/coze-js-node/src/websockets/chat.ts
  examples/coze-js-node/src/websockets/speech.ts
  examples/coze-js-node/src/websockets/transcriptions.ts
  examples/coze-js-web/package.json
  examples/coze-js-web/src/pages/chat-x/index.tsx
  examples/coze-js-web/src/pages/chat-x/use-coze-api.ts
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
  packages/coze-js/package.json
  packages/coze-js/src/constant.ts
  packages/coze-js/src/core.ts
  packages/coze-js/src/index.ts
  packages/coze-js/src/resources/index.ts
  packages/coze-js/src/resources/websockets/audio/index.ts
  packages/coze-js/src/resources/websockets/audio/speech/index.ts
  packages/coze-js/src/resources/websockets/audio/transcriptions/index.ts
  packages/coze-js/src/resources/websockets/chat/index.ts
  packages/coze-js/src/resources/websockets/index.ts
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/websocket-api.ts
Due: coze-js

fix: Fix chat-x websocket bug
  common/changes/@coze/api/feat-audio_2025-01-19-12-54.json
  examples/coze-js-web/src/pages/chat-x/index.tsx
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
  packages/coze-js/src/resources/websockets/audio/index.ts
  packages/coze-js/src/resources/websockets/audio/speech/index.ts
  packages/coze-js/src/resources/websockets/audio/transcriptions/index.ts
  packages/coze-js/src/resources/websockets/chat/index.ts
  packages/coze-js/src/resources/websockets/index.ts
  packages/coze-js/src/websocket-api.ts
Due: coze-js

fix: fix bug
  examples/coze-js-node/src/websockets/chat.ts
  examples/coze-js-node/src/websockets/speech.ts
  examples/coze-js-node/src/websockets/transcriptions.ts
  examples/coze-js-web/src/pages/chat-x/components/voice-chat-modal.tsx
  examples/coze-js-web/src/pages/chat-x/index.tsx
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
Due: none

test(api): add unit test
  common/changes/@coze/api/feat-realtime-api_2025-02-07-03-11.json
  common/changes/@coze/api/feat-realtime-api_2025-02-07-03-33.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-node/src/websockets/chat.ts
  examples/coze-js-node/src/websockets/speech.ts
  examples/coze-js-node/src/websockets/transcriptions.ts
  packages/coze-js/src/websocket-api.ts
  packages/coze-js/test/core.spec.ts
  packages/coze-js/test/resources/websockets/chat.spec.ts
  packages/coze-js/test/resources/websockets/speech.spec.ts
  packages/coze-js/test/resources/websockets/transcriptions.spec.ts
  packages/coze-js/test/websocket-api.spec.ts
Due: coze-js

chore: fix ci install failure
  .github/workflows/ci.yml
  .github/workflows/ci@main.yml
  .github/workflows/release.yml
Due: none

feat: add WebSocket chat examples and documentation
  common/changes/@coze/api/feat-realtime-api_2025-02-07-06-55.json
  examples/coze-js-node/src/websockets/chat.ts
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
Due: coze-js

feat: Add Websocket Support (#88)
  .github/workflows/ci.yml
  .github/workflows/ci@main.yml
  .github/workflows/release.yml
  common/changes/@coze/api/feat-audio_2025-01-16-12-11.json
  common/changes/@coze/api/feat-audio_2025-01-19-12-54.json
  common/changes/@coze/api/feat-realtime-api_2025-02-07-03-11.json
  common/changes/@coze/api/feat-realtime-api_2025-02-07-03-33.json
  common/changes/@coze/api/feat-realtime-api_2025-02-07-06-55.json
  common/config/subspaces/default/pnpm-lock.yaml
  cspell.json
  examples/coze-js-node/package.json
  examples/coze-js-node/src/client.ts
  examples/coze-js-node/src/config/config.default.ts
  examples/coze-js-node/src/websockets/chat.ts
  examples/coze-js-node/src/websockets/speech.ts
  examples/coze-js-node/src/websockets/transcriptions.ts
  examples/coze-js-web/package.json
  examples/coze-js-web/src/pages/chat-x/components/voice-chat-modal.tsx
  examples/coze-js-web/src/pages/chat-x/index.tsx
  examples/coze-js-web/src/pages/chat-x/use-coze-api.ts
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/package.json
  packages/coze-js/src/constant.ts
  packages/coze-js/src/core.ts
  packages/coze-js/src/index.ts
  packages/coze-js/src/resources/index.ts
  packages/coze-js/src/resources/websockets/audio/index.ts
  packages/coze-js/src/resources/websockets/audio/speech/index.ts
  packages/coze-js/src/resources/websockets/audio/transcriptions/index.ts
  packages/coze-js/src/resources/websockets/chat/index.ts
  packages/coze-js/src/resources/websockets/index.ts
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/websocket-api.ts
  packages/coze-js/test/core.spec.ts
  packages/coze-js/test/resources/websockets/chat.spec.ts
  packages/coze-js/test/resources/websockets/speech.spec.ts
  packages/coze-js/test/resources/websockets/transcriptions.spec.ts
  packages/coze-js/test/websocket-api.spec.ts
Due: coze-js

feat: add workflow ID support to realtime console (#91)
  common/changes/@coze/api/feat-workflow_id_2025-02-05-09-07.json
  common/changes/@coze/realtime-api/feat-workflow_id_2025-02-05-09-07.json
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/utils/local-manager.ts
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/realtime-api/src/index.ts
Due: coze-js, realtime-api

fix: Add Windows-specific environment variable commands for CMD and PowerShell
  common/changes/@coze/api/fix-win_2025-02-10-12-17.json
  common/changes/@coze/realtime-api/fix-win_2025-02-10-12-17.json
  common/changes/@coze/taro-api/fix-win_2025-02-10-12-17.json
  examples/coze-js-node/README.md
  examples/coze-js-node/README.zh-CN.md
  examples/realtime-console/README.md
  packages/coze-js/package.json
  packages/coze-taro/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

fix: fix bug
  examples/realtime-quickstart-react/src/hooks/use-token-with-device.ts
  examples/realtime-quickstart-vue/src/App.vue
  examples/realtime-quickstart-vue/src/hooks/use-token-with-device.ts
Due: none

Path conditions:
  coze-js: any of: packages/coze-js/**
  realtime-api: any of: packages/realtime-api/**
