Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

codecov.yml:

# valid this file: curl --data-binary @codecov.yml https://codecov.io/validate
# reference doc: https://docs.codecov.com/docs/common-recipe-list#set-project-coverage-checks-on-a-pull-request

# codecov:
#   require_ci_to_pass: false
#   notify:
#     wait_for_ci: false

# for overall project coverage
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%
    patch:
      default:
        target: 90%
        threshold: 10%

comment:
  layout: 'header, diff, components, files' # show component info in the PR comment
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: true # [true :: only show coverage on the git diff aka patch coverage]]

# reference doc: https://docs.codecov.com/docs/components
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 90%
        threshold: 1%
      - type: patch
        target: 90%
        threshold: 10%

  individual_components:
    - component_id: coze-js # this is an identifier that should not be changed
      name: coze-js # this is a display name, and can be changed freely
      paths:
        - packages/coze-js/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

    - component_id: realtime-api # this is an identifier that should not be changed
      name: realtime-api # this is a display name, and can be changed freely
      paths:
        - packages/realtime-api/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

feat: Add Console Log
  examples/realtime-websocket/src/pages/speech/index.tsx
Due: none

fix(speech): implement audioDeltaList for sequential audio processing
  common/changes/@coze/api/fix-realtime_2025-05-06-10-01.json
  packages/coze-js/src/ws-tools/speech/index.ts
Due: coze-js

chore: Publish fix/realtime
  packages/coze-js/package.json
Due: coze-js

test: add test code
  common/changes/@coze/api/fix-realtime_2025-05-06-11-21.json
  packages/coze-js/test/ws-tools/speech.spec.ts
Due: coze-js

fix(speech): implement audioDeltaList for sequential audio processing (#232)
  common/changes/@coze/api/fix-realtime_2025-05-06-10-01.json
  common/changes/@coze/api/fix-realtime_2025-05-06-11-21.json
  examples/realtime-websocket/src/pages/speech/index.tsx
  packages/coze-js/package.json
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/test/ws-tools/speech.spec.ts
Due: coze-js

feat(realtime): Add prologue content support (#230)
  common/changes/@coze/api/feat-realtime-console_2025-04-30-03-51.json
  common/changes/@coze/realtime-api/feat-realtime-console_2025-04-30-03-51.json
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/pages/main/settings.tsx
  examples/realtime-console/src/utils/local-manager.ts
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/coze-js/src/utils.ts
  packages/realtime-api/src/index.ts
Due: coze-js, realtime-api

feat(api): chat websocket support opus coder
  common/changes/@coze/api/feat-opus_2025-05-08-02-37.json
  common/changes/@coze/api/feat-opus_2025-05-08-02-38.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-websocket/src/pages/chat/index.tsx
  packages/coze-js/package.json
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/recorder/processor/base-audio-processor.ts
  packages/coze-js/src/ws-tools/recorder/processor/opus-audio-processor.ts
  packages/coze-js/src/ws-tools/recorder/processor/pcm-audio-processor.ts
Due: coze-js

feat(api): chat websocket support g711a&g711u coder
  common/changes/@coze/api/feat-opus_2025-05-08-08-20.json
  common/changes/@coze/api/feat-opus_2025-05-08-08-58.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/recorder/processor/pcm-audio-processor.ts
  packages/coze-js/src/ws-tools/utils/index.ts
Due: coze-js

feat(api): Add unit test
  common/changes/@coze/api/feat-opus_2025-05-08-09-22.json
  packages/coze-js/test/ws-tools/recorder/pcm-recorder.spec.ts
  packages/coze-js/test/ws-tools/utils.spec.ts
Due: coze-js

chore: Publish feat/opus
  packages/coze-taro/package.json
Due: none

fix: Critical dependency: require function is used in a way in which dependencies cannot be statically extracted
  examples/coze-js-web/config/webpack.config.js
Due: none

feat(news-verify): init project
  common/changes/@coze/api/feat-news_2025-05-06-12-20.json
  common/changes/@coze/api/feat-news_2025-05-07-05-39.json
  examples/fact-check-extension/eslint.config.cjs
  examples/fact-check-extension/package.json
  examples/fact-check-extension/public/icons/icon128.png
  examples/fact-check-extension/public/icons/icon16.png
  examples/fact-check-extension/public/icons/icon48.png
  examples/fact-check-extension/public/manifest.json
  examples/fact-check-extension/scripts/postbuild.js
  examples/fact-check-extension/src/background/main.ts
  examples/fact-check-extension/src/content/index.ts
  examples/fact-check-extension/src/popup/App.tsx
  examples/fact-check-extension/src/popup/Settings.tsx
  examples/fact-check-extension/src/popup/index.css
  examples/fact-check-extension/src/popup/index.html
  examples/fact-check-extension/src/popup/index.tsx
  examples/fact-check-extension/src/popup/markdown.css
  examples/fact-check-extension/src/utils/api.ts
  examples/fact-check-extension/tsconfig.json
  examples/fact-check-extension/tsconfig.node.json
  examples/fact-check-extension/vite.config.ts
  examples/news-verify-extension/public/icons/icon128.svg
  examples/news-verify-extension/public/icons/icon16.svg
  examples/news-verify-extension/public/icons/icon48.svg
  examples/news-verify-extension/src/background/main.ts
  examples/news-verify-extension/src/content/index.ts
  examples/news-verify-extension/src/popup/App.tsx
  packages/coze-js/src/auth.ts
  packages/coze-js/src/core.ts
  packages/coze-js/src/fetcher.ts
  packages/coze-js/src/utils.ts
  rush.json
Due: coze-js

feat: add readme.md
  common/config/subspaces/default/pnpm-lock.yaml
  examples/fact-check-extension/README.md
  examples/fact-check-extension/fact-check-extension.zip
  examples/fact-check-extension/package.json
  examples/fact-check-extension/scripts/preinstall.cjs
  examples/realtime-websocket/package.json
  examples/realtime-websocket/scripts/preinstall.cjs
Due: none

fix: cr bug
  common/changes/@coze/api/feat-news_2025-05-09-10-24.json
  examples/fact-check-extension/config/rush-project.json
  examples/fact-check-extension/fact-check-extension.zip
  examples/fact-check-extension/src/content/index.ts
  examples/realtime-console/README.md
  packages/coze-js/src/auth.ts
  packages/coze-js/test/fetcher.spec.ts
Due: coze-js

feat(api): Add opus/g711a/g711u codec support for realtime weboscket chat (#234)
  common/changes/@coze/api/feat-opus_2025-05-08-02-37.json
  common/changes/@coze/api/feat-opus_2025-05-08-02-38.json
  common/changes/@coze/api/feat-opus_2025-05-08-08-20.json
  common/changes/@coze/api/feat-opus_2025-05-08-08-58.json
  common/changes/@coze/api/feat-opus_2025-05-08-09-22.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-web/config/webpack.config.js
  examples/realtime-websocket/src/pages/chat/index.tsx
  packages/coze-js/package.json
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/recorder/processor/base-audio-processor.ts
  packages/coze-js/src/ws-tools/recorder/processor/opus-audio-processor.ts
  packages/coze-js/src/ws-tools/recorder/processor/pcm-audio-processor.ts
  packages/coze-js/src/ws-tools/utils/index.ts
  packages/coze-js/test/ws-tools/recorder/pcm-recorder.spec.ts
  packages/coze-js/test/ws-tools/utils.spec.ts
Due: coze-js

Feat: Add fact check extension Demo (#235)
  common/changes/@coze/api/feat-news_2025-05-06-12-20.json
  common/changes/@coze/api/feat-news_2025-05-07-05-39.json
  common/changes/@coze/api/feat-news_2025-05-09-10-24.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/fact-check-extension/README.md
  examples/fact-check-extension/config/rush-project.json
  examples/fact-check-extension/eslint.config.cjs
  examples/fact-check-extension/fact-check-extension.zip
  examples/fact-check-extension/package.json
  examples/fact-check-extension/public/icons/icon128.png
  examples/fact-check-extension/public/icons/icon16.png
  examples/fact-check-extension/public/icons/icon48.png
  examples/fact-check-extension/public/manifest.json
  examples/fact-check-extension/scripts/postbuild.js
  examples/fact-check-extension/scripts/preinstall.cjs
  examples/fact-check-extension/src/background/main.ts
  examples/fact-check-extension/src/content/index.ts
  examples/fact-check-extension/src/popup/App.tsx
  examples/fact-check-extension/src/popup/Settings.tsx
  examples/fact-check-extension/src/popup/index.css
  examples/fact-check-extension/src/popup/index.html
  examples/fact-check-extension/src/popup/index.tsx
  examples/fact-check-extension/src/popup/markdown.css
  examples/fact-check-extension/src/utils/api.ts
  examples/fact-check-extension/tsconfig.json
  examples/fact-check-extension/tsconfig.node.json
  examples/fact-check-extension/vite.config.ts
  examples/realtime-console/README.md
  examples/realtime-websocket/scripts/preinstall.cjs
  packages/coze-js/src/auth.ts
  packages/coze-js/src/core.ts
  packages/coze-js/src/fetcher.ts
  packages/coze-js/src/utils.ts
  packages/coze-js/test/fetcher.spec.ts
  rush.json
Due: coze-js

fix: workflow resumt bug
  common/changes/@coze/api/fix-debug_2025-05-12-13-50.json
  packages/coze-js/src/resources/workflows/runs/runs.ts
  packages/coze-js/test/resources/workflows.spec.ts
Due: coze-js

chore: Publish fix/debug
  packages/coze-js/package.json
Due: coze-js

chore: Publish fix/debug
  examples/coze-js-node/src/workflow.ts
  packages/coze-js/package.json
Due: coze-js

feat: 添加 onLinkClick
  common/changes/@coze/chat-sdk/feat-feat-ios-textarea2_2025-05-14-06-43.json
  packages/chat-sdk/src/chatflow/hooks/use-init-chat.ts
  packages/chat-sdk/src/chatflow/type.ts
  packages/chat-sdk/src/libs/framework/component/chat-group-list/resp-message-list/index.tsx
  packages/chat-sdk/src/libs/types/base/ui.ts
  packages/chat-sdk/src/libs/types/framework.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.tsx
  packages/chat-sdk/src/libs/ui-kit/message/components/markdown/index.tsx
  packages/chat-sdk/src/libs/ui-kit/message/content/index.tsx
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

chore: Publish feat/feat-ios-textarea2
  packages/chat-sdk/package.json
Due: none

feat: 添加遗漏位置
  common/changes/@coze/chat-sdk/feat-feat-ios-textarea2_2025-05-14-06-46.json
  packages/chat-sdk/src/libs/ui-kit/message/content/index.tsx
Due: none

feat: 修改connector-id的内容
  common/changes/@coze/chat-sdk/feat-feat-ios-textarea2_2025-05-15-02-20.json
  packages/chat-sdk/src/chatflow/helper/get-connector-id.ts
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

feat: xss问题过滤
  common/changes/@coze/chat-sdk/feat-feat-ios-textarea2_2025-05-19-03-28.json
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/phrase/link/index.tsx
  packages/chat-sdk/src/pages/chatflow/index.tsx
  packages/chat-sdk/src/pages/markdown/const.ts
  packages/chat-sdk/src/pages/markdown/index.tsx
Due: none

chore: Publish release/20250519-0ec8e1
  packages/coze-js/package.json
Due: coze-js

Feat/feat ios textarea2 (#237)
  common/changes/@coze/chat-sdk/feat-feat-ios-textarea2_2025-05-14-06-43.json
  common/changes/@coze/chat-sdk/feat-feat-ios-textarea2_2025-05-14-06-46.json
  common/changes/@coze/chat-sdk/feat-feat-ios-textarea2_2025-05-15-02-20.json
  common/changes/@coze/chat-sdk/feat-feat-ios-textarea2_2025-05-19-03-28.json
  packages/chat-sdk/package.json
  packages/chat-sdk/src/chatflow/helper/get-connector-id.ts
  packages/chat-sdk/src/chatflow/hooks/use-init-chat.ts
  packages/chat-sdk/src/chatflow/type.ts
  packages/chat-sdk/src/libs/framework/component/chat-group-list/resp-message-list/index.tsx
  packages/chat-sdk/src/libs/types/base/ui.ts
  packages/chat-sdk/src/libs/types/framework.ts
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/phrase/link/index.tsx
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.tsx
  packages/chat-sdk/src/libs/ui-kit/message/components/markdown/index.tsx
  packages/chat-sdk/src/libs/ui-kit/message/content/index.tsx
  packages/chat-sdk/src/pages/chatflow/index.tsx
  packages/chat-sdk/src/pages/markdown/const.ts
  packages/chat-sdk/src/pages/markdown/index.tsx
Due: none

fix: workflow resumt bug (#236)
  common/changes/@coze/api/fix-debug_2025-05-12-13-50.json
  examples/coze-js-node/src/workflow.ts
  packages/coze-js/package.json
  packages/coze-js/src/resources/workflows/runs/runs.ts
  packages/coze-js/test/resources/workflows.spec.ts
Due: coze-js

feat: linkclick默认值有问题
  common/changes/@coze/chat-sdk/feat-feat-ios-textarea2_2025-05-19-09-42.json
  packages/chat-sdk/src/libs/ui-kit/message/components/markdown/index.tsx
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

feat(speech): add speech rate and opus config support
  common/changes/@coze/api/feat-speech_2025-05-20-06-15.json
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/speech/index.ts
Due: coze-js

chore: Publish feat/speech
  packages/coze-js/package.json
Due: coze-js

feat(speech): add speech rate and opus config support (#239)
  common/changes/@coze/api/feat-speech_2025-05-20-06-15.json
  packages/coze-js/package.json
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/speech/index.ts
Due: coze-js

refactor(wavtools): convert JavaScript files to TypeScript
  common/changes/@coze/api/feat-aec_2025-05-19-16-20.json
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/wavtools/index.d.ts
  packages/coze-js/src/ws-tools/wavtools/index.js
  packages/coze-js/src/ws-tools/wavtools/index.ts
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/audio_analysis.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/audio_analysis.ts
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/constants.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/constants.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_packer.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_packer.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
Due: coze-js

feat(audio): improve LocalLookback implementation
  common/changes/@coze/api/feat-aec_2025-05-19-19-13.json
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/pcm-player/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/wavtools/lib/local-lookback.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
Due: coze-js
