Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

codecov.yml:

# valid this file: curl --data-binary @codecov.yml https://codecov.io/validate
# reference doc: https://docs.codecov.com/docs/common-recipe-list#set-project-coverage-checks-on-a-pull-request

# codecov:
#   require_ci_to_pass: false
#   notify:
#     wait_for_ci: false

# for overall project coverage
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%
    patch:
      default:
        target: 90%
        threshold: 10%

comment:
  layout: 'header, diff, components, files' # show component info in the PR comment
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: true # [true :: only show coverage on the git diff aka patch coverage]]

# reference doc: https://docs.codecov.com/docs/components
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 90%
        threshold: 1%
      - type: patch
        target: 90%
        threshold: 10%

  individual_components:
    - component_id: coze-js # this is an identifier that should not be changed
      name: coze-js # this is a display name, and can be changed freely
      paths:
        - packages/coze-js/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

    - component_id: realtime-api # this is an identifier that should not be changed
      name: realtime-api # this is a display name, and can be changed freely
      paths:
        - packages/realtime-api/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

feat: add message wrapper renderslot
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-24-08-32.json
  packages/chat-sdk/src/libs/framework/component/chat-group-list/chat-group/index.tsx
  packages/chat-sdk/src/libs/framework/component/chat-group-list/query-message/index.tsx
  packages/chat-sdk/src/libs/framework/component/chat-group-list/resp-message-list/index.tsx
  packages/chat-sdk/src/libs/types/base/ui.ts
  packages/chat-sdk/src/libs/ui-kit/message/container/index.module.less
  packages/chat-sdk/src/libs/ui-kit/message/container/index.tsx
  packages/chat-sdk/src/pages/chat/index.tsx
Due: none

chore: Publish release/20250224-6b256f
  packages/chat-sdk/package.json
Due: none

chore: Publish release/20250224-87528e (#114)
  common/changes/@coze/chat-sdk/feat-feat-chat-2_2025-02-20-08-14.json
  common/changes/@coze/chat-sdk/feat-feat-chat-2_2025-02-20-08-27.json
  common/changes/@coze/chat-sdk/feat-feat-chat-2_2025-02-20-09-45.json
  common/changes/@coze/chat-sdk/feat-feat-chat-2_2025-02-20-10-36.json
  common/changes/@coze/chat-sdk/feat-feat-chat-2_2025-02-20-10-44.json
  common/changes/@coze/chat-sdk/feat-feat-chat-2_2025-02-20-11-05.json
  common/changes/@coze/chat-sdk/feat-feat-chat-sdk_2025-02-20-01-57.json
  common/changes/@coze/chat-sdk/feat-feat-chat-sdk_2025-02-20-02-16.json
  common/changes/@coze/chat-sdk/feat-feat-chat-sdk_2025-02-20-03-39.json
  common/changes/@coze/chat-sdk/feat-feat-chat-sdk_2025-02-20-06-29.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-03-41.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-05-07.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-06-48.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-06-55.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-07-41.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-08-39.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-09-27.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-09-47.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-11-35.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-22-00-27.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-22-02-55.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-22-05-25.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-22-05-29.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-24-03-14.json
  packages/chat-sdk/CHANGELOG.json
  packages/chat-sdk/CHANGELOG.md
  packages/chat-sdk/package.json
Due: none

feat(api): Add plugin_id_list and workflow_id_list to UpdateBotReq
  common/changes/@coze/api/fix-jwt2_2025-02-24-09-06.json
  packages/coze-js/src/resources/bots/bots.ts
Due: coze-js

feat: add chatflow message wrapper config
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-24-09-16.json
  packages/chat-sdk/src/chatflow/hooks/use-init-chat.ts
  packages/chat-sdk/src/chatflow/type.ts
  packages/chat-sdk/src/libs/types/base/index.ts
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

chore: Publish release/20250224-42f6fa
  packages/chat-sdk/package.json
Due: none

feat(auth): add accountId support for JWT token generation (#113)
  common/changes/@coze/api/fix-jwt2_2025-02-24-08-21.json
  common/changes/@coze/api/fix-jwt2_2025-02-24-09-06.json
  packages/coze-js/src/auth.ts
  packages/coze-js/src/resources/bots/bots.ts
  packages/coze-js/test/auth.spec.ts
Due: coze-js

fix: change document list endpoint from GET to POST (#107)
  common/changes/@coze/api/fix-bug_2025-02-21-10-26.json
  packages/coze-js/package.json
  packages/coze-js/src/resources/datasets/documents/documents.ts
  packages/coze-js/test/resources/documents.spec.ts
Due: coze-js

feat(api): feat: add async workflow execution and history tracking
  common/changes/@coze/api/fix-workflow_2025-02-24-12-00.json
  examples/coze-js-node/src/workflow.ts
  packages/coze-js/src/resources/workflows/runs/runs.ts
  packages/coze-js/test/resources/workflows.spec.ts
Due: coze-js

chore: Publish fix/workflow
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20250224-28b38a
  common/changes/@coze/api/feat-feat-chat-2_2025-02-20-08-14.json
  common/changes/@coze/api/feat-feat-chat-test_2025-02-21-07-41.json
  common/changes/@coze/api/feat-proxy_2025-02-11-08-38.json
  common/changes/@coze/api/fix-bug_2025-02-21-10-26.json
  common/changes/@coze/api/fix-jwt2_2025-02-24-08-21.json
  common/changes/@coze/api/fix-jwt2_2025-02-24-09-06.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20250224-28b38a (#116)
  common/changes/@coze/api/feat-feat-chat-2_2025-02-20-08-14.json
  common/changes/@coze/api/feat-feat-chat-test_2025-02-21-07-41.json
  common/changes/@coze/api/feat-proxy_2025-02-11-08-38.json
  common/changes/@coze/api/fix-bug_2025-02-21-10-26.json
  common/changes/@coze/api/fix-jwt2_2025-02-24-08-21.json
  common/changes/@coze/api/fix-jwt2_2025-02-24-09-06.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
Due: coze-js

feat: 修改scrollview问题
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-25-08-51.json
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/index.module.less
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/index.tsx
Due: none

feat: fix scroll view
  common/changes/@coze/chat-sdk/feat-feat-test_2025-02-25-09-08.json
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/index.module.less
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/index.tsx
Due: none

chore: Publish feat/feat-test
  packages/chat-sdk/package.json
Due: none

feat: add getRoomInfo customization option to RealtimeClient
  common/changes/@coze/realtime-api/feat-realtime-api_2025-02-14-10-11.json
  packages/realtime-api/README.md
  packages/realtime-api/README.zh-CN.md
  packages/realtime-api/src/index.ts
Due: realtime-api

chore: Publish feat/realtime-api
  packages/realtime-api/package.json
Due: realtime-api

chore: Publish feat/realtime-api2
  packages/realtime-api/package.json
Due: realtime-api

feat(api): feat: add async workflow execution and history tracking (#115)
  common/changes/@coze/api/fix-workflow_2025-02-24-12-00.json
  examples/coze-js-node/src/workflow.ts
  packages/coze-js/src/resources/workflows/runs/runs.ts
  packages/coze-js/test/resources/workflows.spec.ts
Due: coze-js

feat(coze-js): add WebSocket speech and transcription clients (#99)
  common/changes/@coze/api/feat-websocket-api_2025-02-17-07-31.json
  common/changes/@coze/api/feat-websocket-api_2025-02-17-08-59.json
  common/changes/@coze/api/feat-websocket-api_2025-02-17-09-05.json
  common/changes/@coze/api/feat-websocket-api_2025-02-20-02-54.json
  common/changes/@coze/api/feat-websocket-api_2025-02-20-03-16.json
  common/changes/@coze/api/feat-websocket-api_2025-02-20-05-13.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-web/src/pages/chat-x/index.tsx
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
  examples/coze-js-web/tsconfig.json
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/global.d.ts
  packages/coze-js/package.json
  packages/coze-js/rslib.config.ts
  packages/coze-js/src/ws-tools/index.ts
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/src/ws-tools/transcription/index.ts
  packages/coze-js/src/ws-tools/wavtools/README.md
  packages/coze-js/src/ws-tools/wavtools/index.d.ts
  packages/coze-js/src/ws-tools/wavtools/index.js
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/audio_analysis.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/audio_analysis.js
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/constants.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/constants.js
  packages/coze-js/src/ws-tools/wavtools/lib/wav_packer.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_packer.js
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.js
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.js
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/audio_processor.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/audio_processor.js
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/stream_processor.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/stream_processor.js
  packages/coze-js/test/ws-tools/speech.spec.ts
  packages/coze-js/test/ws-tools/transcriptoins.spec.ts
  packages/coze-js/tsconfig.json
  packages/coze-js/tsconfig.misc.json
  packages/coze-js/vitest.config.ts
Due: coze-js

feat(realtime-console): implement pagination for voice fetching
  examples/realtime-console/src/hooks/use-coze-api.tsx
Due: none

feat(realtime-console): add interrupt functionality to realtime console
  examples/realtime-console/src/hooks/use-interrupt.tsx
  examples/realtime-console/src/pages/main/header.tsx
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/utils/local-manager.ts
Due: none

feat: 修改safari问题
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-26-12-22.json
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-helper-button.ts
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-safari-anchor-hack.ts
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-wheel-handle.ts
  packages/chat-sdk/src/libs/utils/device.ts
  packages/chat-sdk/src/libs/utils/index.ts
Due: none

feat: 修复safari问题2
  common/changes/@coze/chat-sdk/feat-feat-test_2025-02-26-12-22.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/chat-sdk/package.json
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-safari-anchor-hack.ts
  packages/chat-sdk/src/libs/utils/device.ts
  packages/chat-sdk/src/libs/utils/index.ts
  packages/chat-sdk/src/pages/markdown/const.ts
  packages/chat-sdk/src/pages/markdown/index.tsx
Due: none

chore: Publish release/20250226-311834
  packages/chat-sdk/package.json
Due: none

fix(realtime-console): allowPersonalAccessTokenInBrowser = true
  examples/realtime-console/src/hooks/use-interrupt.tsx
Due: none

feat: change input to textarea
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-27-08-58.json
  packages/chat-sdk/src/libs/framework/component/chat-group-list/chat-group/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/block/list/index.module.less
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/block/list/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-safari-anchor-hack.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/hooks/use-text-input-handle.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/index.module.less
  packages/chat-sdk/src/libs/ui-kit/chat-input/index.tsx
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.module.less
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.tsx
Due: none

chore: Publish release/20250227-2d41eb
  packages/chat-sdk/package.json
Due: none

feat: fix audio and textarea height
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-27-10-00.json
  packages/chat-sdk/package.json
  packages/chat-sdk/scripts/lib-publish.sh
  packages/chat-sdk/src/libs/ui-kit/chat-input/audio-input/index.module.less
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.module.less
Due: none

chore: Publish release/20250227-a99adb
  packages/chat-sdk/package.json
Due: none

feat(api): Add playback timing and state management
  common/changes/@coze/api/feat-api_2025-02-27-11-10.json
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/test/ws-tools/speech.spec.ts
Due: coze-js

chore: Publish feat/api
  packages/coze-js/package.json
Due: coze-js

feat(realtime-console): add screen sharing support and video device persistence
  common/changes/@coze/api/feat-share_screen_2025-02-21-09-29.json
  common/changes/@coze/api/feat-share_screen_2025-02-24-06-38.json
  common/changes/@coze/realtime-api/feat-share_screen_2025-02-21-09-29.json
  common/changes/@coze/realtime-api/feat-share_screen_2025-02-24-06-38.json
  examples/realtime-console/src/pages/main/header.tsx
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/utils/local-manager.ts
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/realtime-api/src/index.ts
Due: coze-js, realtime-api

feat: 修改键盘弹起位置,以及placeholder
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-27-12-38.json
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.module.less
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.tsx
  packages/chat-sdk/src/pages/chat/index.tsx
  packages/chat-sdk/src/pages/ui/index.module.less
  packages/chat-sdk/src/pages/ui/index.tsx
Due: none

feat(api): update README.md
  common/changes/@coze/api/feat-api_2025-02-27-12-38.json
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
Due: coze-js

chore: Publish release/20250227-2dc1fc
  packages/chat-sdk/package.json
Due: none

feat(realtime-api): Add test code
  common/changes/@coze/realtime-api/feat-share_screen_2025-02-27-12-50.json
  packages/realtime-api/test/index.spec.ts
Due: realtime-api

feat(api): add unit test
  common/changes/@coze/api/feat-share_screen_2025-02-27-13-12.json
  common/changes/@coze/realtime-api/feat-share_screen_2025-02-27-13-27.json
  packages/coze-js/test/auth.spec.ts
  packages/realtime-api/test/index.spec.ts
Due: coze-js, realtime-api

feat: opt scroll-view
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-28-03-01.json
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-scroll-handle.ts
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-scroll-top.ts
Due: none
