Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

chore: Upgrade vitest to version 2.1.9 for security bug
  common/changes/@coze/api/fix-bug_2025-05-27-08-37.json
  common/changes/@coze/chat-sdk/fix-bug_2025-05-27-08-37.json
  common/changes/@coze/realtime-api/fix-bug_2025-05-27-08-37.json
  common/changes/@coze/taro-api/fix-bug_2025-05-27-08-37.json
  common/changes/@coze/uniapp-api/fix-bug_2025-05-27-08-37.json
  common/config/subspaces/default/pnpm-lock.yaml
  config/vitest-config/package.json
  infra/actions/event-sync/package.json
  infra/package-audit/package.json
  infra/rush-x/package.json
  infra/utils/fs-enhance/package.json
  infra/utils/rush-logger/package.json
  packages/chat-sdk/package.json
  packages/coze-js/package.json
  packages/coze-taro/package.json
  packages/coze-uniapp/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: Publish fix/bug
  packages/realtime-api/package.json
Due: realtime-api

chore: Publish fix/bug
  examples/realtime-console/src/utils/constants.ts
  packages/realtime-api/package.json
Due: realtime-api

feat(uniapp): Add WsChatClient API
  common/changes/@coze/api/feat-ws-speech_2025-05-28-03-46.json
  common/changes/@coze/uniapp-api/feat-ws-speech_2025-05-28-03-46.json
  examples/coze-js-uniapp/src/composables/use-chat.ts
  examples/coze-js-uniapp/src/composables/use-transcription.ts
  examples/coze-js-uniapp/src/composables/use-voice-chat.ts
  examples/coze-js-uniapp/src/pages.json
  examples/coze-js-uniapp/src/pages/chat/index.vue
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-uniapp/src/ws-tool/chat/base.ts
  packages/coze-uniapp/src/ws-tool/chat/event-names.ts
  packages/coze-uniapp/src/ws-tool/chat/index.ts
  packages/coze-uniapp/src/ws-tool/index.ts
  packages/coze-uniapp/src/ws-tool/pcm-recorder/index.ts
  packages/coze-uniapp/src/ws-tool/pcm-stream-player/codecs/g711.ts
  packages/coze-uniapp/src/ws-tool/pcm-stream-player/index.ts
  packages/coze-uniapp/src/ws-tool/pcm-stream-player/resampler.ts
  packages/coze-uniapp/src/ws-tool/transcription/base.ts
Due: coze-js

feat(uniapp): enhance UniApp example project
  common/changes/@coze/uniapp-api/feat-ws-speech_2025-05-28-05-36.json
  examples/coze-js-uniapp/README.md
  examples/coze-js-uniapp/package.json
  examples/coze-js-uniapp/scripts/preinstall.cjs
  examples/coze-js-uniapp/src/pages.json
  examples/coze-js-uniapp/src/pages/api/index.vue
  examples/coze-js-uniapp/src/pages/chat/index.vue
  examples/coze-js-uniapp/src/pages/home/index.vue
  examples/coze-js-uniapp/src/pages/speech/index.vue
  examples/coze-js-uniapp/src/pages/transcription/index.vue
  packages/coze-uniapp/README.md
  packages/coze-uniapp/README.zh-CN.md
  packages/coze-uniapp/src/ws-tool/transcription/index.ts
Due: none

chore: Publish feat/ws-speech
  packages/coze-js/package.json
Due: coze-js

feat: 分别导出markdown组件和chat组件
  common/changes/@coze/chat-sdk/feat-feat-mdstream-only_2025-05-28-06-19.json
  packages/chat-sdk/config/index.ts
  packages/chat-sdk/package.json
  packages/chat-sdk/src/app.config.ts
  packages/chat-sdk/src/exports/markdown/index.config.ts
  packages/chat-sdk/src/exports/markdown/index.ts
Due: none

chore: Publish release/20250528-8a2468
  packages/chat-sdk/package.json
Due: none

chore: Upgrade vitest to version 2.1.9 for security bug
  common/changes/@coze/api/fix-bug_2025-05-28-06-36.json
  common/changes/@coze/chat-sdk/fix-bug_2025-05-28-06-36.json
  common/changes/@coze/realtime-api/fix-bug_2025-05-28-06-36.json
  common/changes/@coze/taro-api/fix-bug_2025-05-28-06-36.json
  common/changes/@coze/uniapp-api/fix-bug_2025-05-28-06-36.json
  common/config/subspaces/default/pnpm-lock.yaml
  config/vitest-config/package.json
  infra/actions/event-sync/package.json
  infra/package-audit/package.json
  infra/rush-x/package.json
  infra/rush-x/src/actions/release/__tests__/action.test.ts
  infra/utils/fs-enhance/package.json
  infra/utils/rush-logger/package.json
  packages/chat-sdk/package.json
  packages/coze-js/package.json
  packages/coze-taro/package.json
  packages/coze-uniapp/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

feat: Add screen sharing event support and downgrade RTC SDK (#250)
  common/changes/@coze/api/fix-bug_2025-05-27-08-29.json
  common/changes/@coze/api/fix-bug_2025-05-27-08-32.json
  common/changes/@coze/api/fix-bug_2025-05-27-08-37.json
  common/changes/@coze/api/fix-bug_2025-05-28-06-36.json
  common/changes/@coze/chat-sdk/fix-bug_2025-05-27-08-37.json
  common/changes/@coze/chat-sdk/fix-bug_2025-05-28-06-36.json
  common/changes/@coze/realtime-api/fix-bug_2025-05-27-08-29.json
  common/changes/@coze/realtime-api/fix-bug_2025-05-27-08-37.json
  common/changes/@coze/realtime-api/fix-bug_2025-05-28-06-36.json
  common/changes/@coze/taro-api/fix-bug_2025-05-27-08-37.json
  common/changes/@coze/taro-api/fix-bug_2025-05-28-06-36.json
  common/changes/@coze/uniapp-api/fix-bug_2025-05-27-08-37.json
  common/changes/@coze/uniapp-api/fix-bug_2025-05-28-06-36.json
  common/config/subspaces/default/pnpm-lock.yaml
  config/vitest-config/package.json
  examples/realtime-console/package.json
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/utils/constants.ts
  examples/realtime-quickstart-vue/package.json
  infra/actions/event-sync/package.json
  infra/package-audit/package.json
  infra/rush-x/package.json
  infra/rush-x/src/actions/release/__tests__/action.test.ts
  infra/utils/fs-enhance/package.json
  infra/utils/rush-logger/package.json
  packages/chat-sdk/package.json
  packages/coze-js/package.json
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/coze-taro/package.json
  packages/coze-uniapp/package.json
  packages/realtime-api/package.json
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/event-names.ts
  packages/realtime-api/test/client.spec.ts
Due: coze-js, realtime-api

feat(uniapp): Add PcmStreamPlayer & WsSpeechClient
  common/changes/@coze/uniapp-api/feat-ws-speech_2025-05-26-11-53.json
  examples/coze-js-uniapp/src/composables/use-speech.ts
  examples/coze-js-uniapp/src/pages.json
  examples/coze-js-uniapp/src/pages/speech/index.vue
  packages/coze-uniapp/package.json
  packages/coze-uniapp/src/ws-tool/index.ts
  packages/coze-uniapp/src/ws-tool/pcm-stream-player/index.ts
  packages/coze-uniapp/src/ws-tool/speech/index.ts
Due: none

fix(api): Fix type error
  common/changes/@coze/api/feat-ws-speech_2025-05-26-12-39.json
  packages/coze-js/src/resources/datasets/index.ts
Due: coze-js

feat(uniapp): Add PcmRecorder & Transcription API
  common/changes/@coze/api/feat-ws-speech_2025-05-27-02-20.json
  common/changes/@coze/uniapp-api/feat-ws-speech_2025-05-27-02-20.json
  examples/coze-js-uniapp/src/composables/use-transcription.ts
  examples/coze-js-uniapp/src/pages.json
  examples/coze-js-uniapp/src/pages/transcription/index.vue
  packages/coze-js/src/ws-tools/index.ts
  packages/coze-uniapp/src/ws-tool/index.ts
  packages/coze-uniapp/src/ws-tool/pcm-recorder/index.ts
  packages/coze-uniapp/src/ws-tool/transcription/base.ts
  packages/coze-uniapp/src/ws-tool/transcription/index.ts
Due: coze-js

feat(uniapp): fix ci bug
  common/changes/@coze/api/feat-ws-speech_2025-05-28-06-54.json
  common/changes/@coze/uniapp-api/feat-ws-speech_2025-05-28-06-54.json
  packages/coze-js/test/ws-tools/chat.spec.ts
  packages/coze-uniapp/src/ws-tool/pcm-recorder/index.ts
  packages/coze-uniapp/src/ws-tool/pcm-stream-player/index.ts
  packages/coze-uniapp/src/ws-tool/transcription/index.ts
Due: coze-js

chore: Publish fix/bug
  packages/coze-uniapp/package.json
Due: none

chore: Publish feat/ws-speech
  packages/coze-uniapp/package.json
Due: none

fix: bug
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
Due: none

feat: optimize local audio loopback and chat client config
  common/changes/@coze/api/feat-realtime-websocket_2025-05-29-10-15.json
  common/changes/@coze/uniapp-api/feat-realtime-websocket_2025-05-29-10-15.json
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/pages/chat/operation.tsx
  examples/realtime-websocket/src/pages/chat/receive-message.tsx
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/types.ts
  packages/coze-js/src/ws-tools/wavtools/lib/local-lookback.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
  packages/coze-uniapp/package.json
Due: coze-js

fix: package.json error
  common/changes/@coze/uniapp-api/feat-realtime-websocket_2025-05-29-12-14.json
  examples/coze-js-uniapp/vite.config.ts
  packages/coze-uniapp/package.json
Due: none

chore: Publish release/20250529-8ffdc4
  packages/coze-uniapp/package.json
Due: none

fix: package.json error
  common/changes/@coze/uniapp-api/feat-realtime-websocket_2025-05-29-12-14.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-uniapp/package.json
  packages/coze-uniapp/package.json
Due: none

chore: Publish release/20250529-23e03f
  packages/coze-uniapp/package.json
Due: none

fix: package.json error
  common/changes/@coze/uniapp-api/feat-realtime-websocket_2025-05-29-12-14.json
  common/changes/@coze/uniapp-api/feat-realtime-websocket_2025-05-29-12-31.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-uniapp/package.json
  packages/coze-uniapp/README.md
  packages/coze-uniapp/package.json
Due: none

feat(coze-api): Add client_interrupt support
  common/changes/@coze/api/feat-realtime-websocket_2025-05-29-13-59.json
  common/changes/@coze/uniapp-api/feat-realtime-websocket_2025-05-29-13-59.json
  examples/realtime-websocket/src/components/settings/index.tsx
  examples/realtime-websocket/src/pages/chat/index.css
  examples/realtime-websocket/src/pages/chat/index.tsx
  examples/realtime-websocket/src/utils/config.ts
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-uniapp/src/ws-tool/chat/index.ts
Due: coze-js

feat: 修改license
  common/changes/@coze/chat-sdk/feat-feat-mdstream-only_2025-05-30-03-15.json
  packages/chat-sdk/package.json
Due: none

chore: Publish feat/feat-mdstream-only
  packages/chat-sdk/package.json
Due: none

feat: 添加license
  common/changes/@coze/chat-sdk/feat-feat-mdstream-only_2025-05-30-03-54.json
  packages/chat-sdk/LICENSE
  packages/chat-sdk/README.md
  packages/chat-sdk/package.json
Due: none

Feat/feat mdstream only (#253)
  common/changes/@coze/chat-sdk/feat-feat-mdstream-only_2025-05-28-06-19.json
  common/changes/@coze/chat-sdk/feat-feat-mdstream-only_2025-05-30-03-15.json
  common/changes/@coze/chat-sdk/feat-feat-mdstream-only_2025-05-30-03-54.json
  packages/chat-sdk/LICENSE
  packages/chat-sdk/README.md
  packages/chat-sdk/config/index.ts
  packages/chat-sdk/package.json
  packages/chat-sdk/src/app.config.ts
  packages/chat-sdk/src/exports/markdown/index.config.ts
  packages/chat-sdk/src/exports/markdown/index.ts
Due: none

chore: Publish feat/realtime-websocket
  packages/coze-js/package.json
Due: coze-js

Path conditions:
  coze-js: any of: packages/coze-js/**
  realtime-api: any of: packages/realtime-api/**
