Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

codecov.yml:

# valid this file: curl --data-binary @codecov.yml https://codecov.io/validate
# reference doc: https://docs.codecov.com/docs/common-recipe-list#set-project-coverage-checks-on-a-pull-request

# codecov:
#   require_ci_to_pass: false
#   notify:
#     wait_for_ci: false

# for overall project coverage
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%
    patch:
      default:
        target: 90%
        threshold: 10%

comment:
  layout: 'header, diff, components, files' # show component info in the PR comment
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: true # [true :: only show coverage on the git diff aka patch coverage]]

# reference doc: https://docs.codecov.com/docs/components
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 90%
        threshold: 1%
      - type: patch
        target: 90%
        threshold: 10%

  individual_components:
    - component_id: coze-js # this is an identifier that should not be changed
      name: coze-js # this is a display name, and can be changed freely
      paths:
        - packages/coze-js/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

    - component_id: realtime-api # this is an identifier that should not be changed
      name: realtime-api # this is a display name, and can be changed freely
      paths:
        - packages/realtime-api/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

docs: Updates comment in auth-oauth-pkce.ts to correctly specify "Mobile/PC/Single-page application"
  examples/coze-js-node/src/auth/auth-oauth-device.ts
  examples/coze-js-node/src/auth/auth-oauth-jwt-channel.ts
  examples/coze-js-node/src/auth/auth-oauth-jwt.ts
  examples/coze-js-node/src/auth/auth-oauth-pkce.ts
  examples/coze-js-node/src/auth/auth-oauth-web.ts
Due: none

docs: Updates comment in auth-oauth-pkce.ts to correctly specify "Mobile/PC/Single-page application" (#213)
  examples/coze-js-node/src/auth/auth-oauth-device.ts
  examples/coze-js-node/src/auth/auth-oauth-jwt-channel.ts
  examples/coze-js-node/src/auth/auth-oauth-jwt.ts
  examples/coze-js-node/src/auth/auth-oauth-pkce.ts
  examples/coze-js-node/src/auth/auth-oauth-web.ts
Due: none

test: add test code
  common/changes/@coze/api/feat-coze-api_2025-04-21-13-10.json
  common/changes/@coze/api/feat-coze-api_2025-04-21-13-17.json
  packages/coze-js/src/fetcher.ts
  packages/coze-js/test/fetcher.spec.ts
Due: coze-js

feat: UI and websocket improvements
  common/changes/@coze/api/feat-websocket_2025-04-21-13-46.json
  examples/realtime-console/src/pages/main/settings.tsx
  examples/realtime-websocket/src/App.tsx
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/test/ws-tools/chat.spec.ts
Due: coze-js

feat: 提供自动定位配置
  common/changes/@coze/chat-sdk/feat-opt-cursor-conf_2025-04-22-12-30.json
  packages/chat-sdk/src/chatflow/hooks/use-init-chat.ts
  packages/chat-sdk/src/chatflow/type.ts
  packages/chat-sdk/src/libs/framework/component/chat-framework/hooks/use-web-keyboard-handle.ts
  packages/chat-sdk/src/libs/types/base/ui.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/type.ts
  packages/chat-sdk/src/libs/ui-kit/onboarding/index.module.less
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

chore: Publish release/20250422-450376
  packages/chat-sdk/package.json
Due: none

feat: 设置tabIndex为-1
  common/changes/@coze/chat-sdk/feat-opt-cursor-conf_2025-04-23-12-16.json
  packages/chat-sdk/src/libs/framework/component/chat-framework/hooks/use-web-keyboard-handle.ts
Due: none

chore: Publish feat/opt-cursor-conf
  packages/chat-sdk/package.json
Due: none

Feat/opt cursor conf (#218)
  common/changes/@coze/chat-sdk/feat-opt-cursor-conf_2025-04-22-12-30.json
  common/changes/@coze/chat-sdk/feat-opt-cursor-conf_2025-04-23-12-16.json
  packages/chat-sdk/package.json
  packages/chat-sdk/src/chatflow/hooks/use-init-chat.ts
  packages/chat-sdk/src/chatflow/type.ts
  packages/chat-sdk/src/libs/framework/component/chat-framework/hooks/use-web-keyboard-handle.ts
  packages/chat-sdk/src/libs/types/base/ui.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/type.ts
  packages/chat-sdk/src/libs/ui-kit/onboarding/index.module.less
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

build(deps): update axios from 1.7.7 to 1.8.2[security]
  common/changes/@coze/api/fix-bug_2025-04-24-06-54.json
  common/changes/@coze/api/fix-bug_2025-04-24-06-55.json
  common/changes/@coze/chat-sdk/fix-bug_2025-04-24-06-54.json
  common/changes/@coze/realtime-api/fix-bug_2025-04-24-06-54.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-node/package.json
  examples/quickstart-oauth-server/package.json
  infra/actions/event-sync/package.json
  infra/rush-x/package.json
  packages/chat-sdk/package.json
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: Publish fix/bug
  packages/coze-js/package.json
Due: coze-js

chore: Publish fix/bug
  common/changes/@coze/api/fix-bug_2025-04-24-07-20.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20250424-8e8db2
  packages/coze-js/package.json
Due: coze-js

chore: Publish fix/bug
  common/changes/@coze/api/fix-bug_2025-04-24-07-20.json
  common/changes/@coze/api/fix-bug_2025-04-24-07-38.json
  common/changes/@coze/chat-sdk/fix-bug_2025-04-24-07-38.json
  common/changes/@coze/realtime-api/fix-bug_2025-04-24-07-38.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-node/package.json
  examples/quickstart-oauth-server/package.json
  infra/actions/event-sync/package.json
  infra/rush-x/package.json
  packages/chat-sdk/package.json
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: Publish release/20250424-c77c39
  packages/coze-js/package.json
Due: coze-js

chore: Publish fix/bug
  common/changes/@coze/api/fix-bug_2025-04-24-07-20.json
  common/changes/@coze/api/fix-bug_2025-04-24-07-38.json
  common/changes/@coze/api/fix-bug_2025-04-24-08-02.json
  common/changes/@coze/chat-sdk/fix-bug_2025-04-24-07-38.json
  common/changes/@coze/realtime-api/fix-bug_2025-04-24-07-38.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-node/package.json
  examples/quickstart-oauth-server/package.json
  infra/actions/event-sync/package.json
  infra/rush-x/package.json
  packages/chat-sdk/package.json
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: Publish release/20250424-45e318
  packages/coze-js/package.json
Due: coze-js

chore: Publish fix/bug
  common/changes/@coze/api/fix-bug_2025-04-24-07-20.json
  common/changes/@coze/api/fix-bug_2025-04-24-07-38.json
  common/changes/@coze/api/fix-bug_2025-04-24-08-02.json
  common/changes/@coze/api/fix-bug_2025-04-24-08-13.json
  common/changes/@coze/chat-sdk/fix-bug_2025-04-24-07-38.json
  common/changes/@coze/realtime-api/fix-bug_2025-04-24-07-38.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-node/package.json
  examples/quickstart-oauth-server/package.json
  infra/actions/event-sync/package.json
  infra/rush-x/package.json
  packages/chat-sdk/package.json
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: Publish release/20250424-c0557c
  packages/coze-js/package.json
Due: coze-js

chore: security bug
  common/changes/@coze/api/fix-bug_2025-04-25-07-26.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20250425-93cd9f
  packages/coze-js/package.json
Due: coze-js

test: add test code (#214)
  common/changes/@coze/api/feat-coze-api_2025-04-21-13-10.json
  common/changes/@coze/api/feat-coze-api_2025-04-21-13-17.json
  packages/coze-js/src/fetcher.ts
  packages/coze-js/test/fetcher.spec.ts
Due: coze-js

feat: UI and websocket improvements (#215)
  common/changes/@coze/api/feat-websocket_2025-04-21-13-46.json
  examples/realtime-console/src/pages/main/settings.tsx
  examples/realtime-websocket/src/App.tsx
  packages/coze-js/src/ws-tools/chat/base.ts
  packages/coze-js/test/ws-tools/chat.spec.ts
Due: coze-js

build(deps): fix security bug (#220)
  common/changes/@coze/api/fix-bug_2025-04-25-07-26.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/coze-js/package.json
Due: coze-js

feat: 解决IOS placeholder重叠问题
  common/changes/@coze/chat-sdk/feat-feat-ios-textarea_2025-04-25-08-50.json
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.module.less
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.tsx
  packages/chat-sdk/src/libs/utils/mini-coze-api.ts
  packages/chat-sdk/src/libs/utils/webm-to-wav.ts
Due: none

chore: Publish feat/feat-ios-textarea
  packages/chat-sdk/package.json
Due: none

Feat/feat ios textarea (#222)
  common/changes/@coze/chat-sdk/feat-feat-ios-textarea_2025-04-25-08-50.json
  packages/chat-sdk/package.json
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.module.less
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.tsx
  packages/chat-sdk/src/libs/utils/mini-coze-api.ts
  packages/chat-sdk/src/libs/utils/webm-to-wav.ts
Due: none

feat: Add Variables api
  common/changes/@coze/api/feat-variable_2025-04-27-11-53.json
  examples/coze-js-node/src/templates.ts
  examples/coze-js-node/src/variables.ts
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/src/index.ts
  packages/coze-js/src/resources/index.ts
  packages/coze-js/src/resources/variables/index.ts
  packages/coze-js/src/resources/variables/variables.ts
  packages/coze-js/test/resources/variables.test.ts
Due: coze-js

chore: Publish feat/variable
  packages/coze-js/package.json
Due: coze-js

chore: Publish feat/variable
  examples/coze-js-node/src/variables.ts
  packages/coze-js/package.json
Due: coze-js

feat: Add Variables Open API (#225)
  common/changes/@coze/api/feat-variable_2025-04-27-11-53.json
  examples/coze-js-node/src/templates.ts
  examples/coze-js-node/src/variables.ts
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/package.json
  packages/coze-js/src/index.ts
  packages/coze-js/src/resources/index.ts
  packages/coze-js/src/resources/variables/index.ts
  packages/coze-js/src/resources/variables/variables.ts
  packages/coze-js/test/resources/variables.test.ts
Due: coze-js

feat: Add Users API with me() method, support chat with files/images
  common/changes/@coze/api/feat-api_2025-04-29-01-27.json
  examples/coze-js-node/src/auth/auth-oauth-device.ts
  examples/coze-js-node/src/auth/auth-oauth-jwt-channel.ts
  examples/coze-js-node/src/auth/auth-oauth-jwt.ts
  examples/coze-js-node/src/auth/auth-oauth-web.ts
  examples/coze-js-node/src/bot.ts
  examples/coze-js-node/src/chat-local-plugin.ts
  examples/coze-js-node/src/chat-with-file.ts
  examples/coze-js-node/src/chat.ts
  examples/coze-js-node/src/client.ts
  examples/coze-js-node/src/conversation.ts
  examples/coze-js-node/src/datasets.ts
  examples/coze-js-node/src/error-handle.ts
  examples/coze-js-node/src/file.ts
  examples/coze-js-node/src/knowledge.ts
  examples/coze-js-node/src/request-options.ts
  examples/coze-js-node/src/users-me.ts
  examples/coze-js-node/src/utils.ts
  examples/coze-js-node/src/voice.ts
  examples/coze-js-node/src/workflow.ts
  examples/coze-js-node/src/workspace.ts
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/src/index.ts
  packages/coze-js/src/resources/audio/voices/voices.ts
  packages/coze-js/src/resources/bots/bots.ts
  packages/coze-js/src/resources/chat/chat.ts
  packages/coze-js/src/resources/index.ts
  packages/coze-js/src/resources/users/index.ts
  packages/coze-js/src/resources/workspaces/workspaces.ts
  packages/coze-js/test/resources/users.spec.ts
Due: coze-js

feat: typo issue for chat api in @coze/api
  common/changes/@coze/api/fix-typo-chat-parameters-support_2025-04-29-07-04.json
  packages/coze-js/src/resources/chat/chat.ts
Due: coze-js

feat: typo issue for chat api in @coze/api (#228)
  common/changes/@coze/api/fix-typo-chat-parameters-support_2025-04-29-07-04.json
  packages/coze-js/src/resources/chat/chat.ts
Due: coze-js

feat: Add Users API with me() method, support chat with files/images (#227)
  common/changes/@coze/api/feat-api_2025-04-29-01-27.json
  examples/coze-js-node/src/auth/auth-oauth-device.ts
  examples/coze-js-node/src/auth/auth-oauth-jwt-channel.ts
  examples/coze-js-node/src/auth/auth-oauth-jwt.ts
  examples/coze-js-node/src/auth/auth-oauth-web.ts
  examples/coze-js-node/src/bot.ts
  examples/coze-js-node/src/chat-local-plugin.ts
  examples/coze-js-node/src/chat-with-file.ts
  examples/coze-js-node/src/chat.ts
  examples/coze-js-node/src/client.ts
  examples/coze-js-node/src/conversation.ts
  examples/coze-js-node/src/datasets.ts
  examples/coze-js-node/src/error-handle.ts
  examples/coze-js-node/src/file.ts
  examples/coze-js-node/src/knowledge.ts
  examples/coze-js-node/src/request-options.ts
  examples/coze-js-node/src/users-me.ts
  examples/coze-js-node/src/utils.ts
  examples/coze-js-node/src/voice.ts
  examples/coze-js-node/src/workflow.ts
  examples/coze-js-node/src/workspace.ts
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/src/index.ts
  packages/coze-js/src/resources/audio/voices/voices.ts
  packages/coze-js/src/resources/bots/bots.ts
  packages/coze-js/src/resources/chat/chat.ts
  packages/coze-js/src/resources/index.ts
  packages/coze-js/src/resources/users/index.ts
  packages/coze-js/src/resources/workspaces/workspaces.ts
  packages/coze-js/test/resources/users.spec.ts
Due: coze-js

chore: Publish feat/api
  packages/coze-js/package.json
Due: coze-js

feat(realtime): Add prologue content support
  common/changes/@coze/api/feat-realtime-console_2025-04-30-03-51.json
  common/changes/@coze/realtime-api/feat-realtime-console_2025-04-30-03-51.json
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/pages/main/settings.tsx
  examples/realtime-console/src/utils/local-manager.ts
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/coze-js/src/utils.ts
  packages/realtime-api/src/index.ts
Due: coze-js, realtime-api

feat(news-verify): init project
  common/config/subspaces/default/pnpm-lock.yaml
  examples/news-verify-extension/eslint.config.cjs
  examples/news-verify-extension/package.json
  examples/news-verify-extension/public/icons/icon128.svg
  examples/news-verify-extension/public/icons/icon16.svg
  examples/news-verify-extension/public/icons/icon48.svg
  examples/news-verify-extension/public/manifest.json
  examples/news-verify-extension/scripts/postbuild.js
  examples/news-verify-extension/src/background/main.ts
  examples/news-verify-extension/src/content/index.ts
  examples/news-verify-extension/src/popup/App.tsx
  examples/news-verify-extension/src/popup/index.css
  examples/news-verify-extension/src/popup/index.html
  examples/news-verify-extension/src/popup/index.tsx
  examples/news-verify-extension/tsconfig.json
  examples/news-verify-extension/tsconfig.node.json
  examples/news-verify-extension/vite.config.ts
  rush.json
Due: none
