Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

codecov.yml:

# valid this file: curl --data-binary @codecov.yml https://codecov.io/validate
# reference doc: https://docs.codecov.com/docs/common-recipe-list#set-project-coverage-checks-on-a-pull-request

# codecov:
#   require_ci_to_pass: false
#   notify:
#     wait_for_ci: false

# for overall project coverage
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%
    patch:
      default:
        target: 90%
        threshold: 10%

comment:
  layout: 'header, diff, components, files' # show component info in the PR comment
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: true # [true :: only show coverage on the git diff aka patch coverage]]

# reference doc: https://docs.codecov.com/docs/components
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 90%
        threshold: 1%
      - type: patch
        target: 90%
        threshold: 10%

  individual_components:
    - component_id: coze-js # this is an identifier that should not be changed
      name: coze-js # this is a display name, and can be changed freely
      paths:
        - packages/coze-js/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

    - component_id: realtime-api # this is an identifier that should not be changed
      name: realtime-api # this is a display name, and can be changed freely
      paths:
        - packages/realtime-api/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

fix(uniapp-api): fix Websocket undefined
  common/changes/@coze/uniapp-api/fix-uniappbug_2025-07-06-13-31.json
  packages/coze-uniapp/src/ws-tool/chat/base.ts
  packages/coze-uniapp/src/ws-tool/transcription/base.ts
Due: none

chore: Publish release/20250706-371b63
  packages/coze-js/package.json
  packages/coze-uniapp/package.json
Due: coze-js

fix(uniapp-api): fix Websocket undefined (#283)
  common/changes/@coze/uniapp-api/fix-uniappbug_2025-07-06-13-31.json
  packages/coze-uniapp/src/ws-tool/chat/base.ts
  packages/coze-uniapp/src/ws-tool/transcription/base.ts
Due: none

chore: Publish release/20250703-6d64c9 (#282)
  common/changes/@coze/api/fix-websocket_2025-07-02-01-45.json
  common/changes/@coze/api/fix-websocket_2025-07-02-13-26.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20250708-8acb90
  common/changes/@coze/uniapp-api/fix-uniappbug_2025-07-06-13-31.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
  packages/coze-uniapp/CHANGELOG.json
  packages/coze-uniapp/CHANGELOG.md
  packages/coze-uniapp/package.json
Due: coze-js

chore: Publish release/20250708-8acb90 (#284)
  common/changes/@coze/uniapp-api/fix-uniappbug_2025-07-06-13-31.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
  packages/coze-uniapp/CHANGELOG.json
  packages/coze-uniapp/CHANGELOG.md
  packages/coze-uniapp/package.json
Due: coze-js

fix: 修复小程序输入框输入超过 4 行是失去焦点的问题
  common/changes/@coze/chat-sdk/fix-chat_input_4_lines_2025-07-10-03-56.json
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.module.less
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.tsx
Due: none

chore: Publish release/20250710-959ef4
  packages/chat-sdk/package.json
Due: none

fix: taro chat 增加 card 节点
  common/changes/@coze/chat-sdk/fix-chat_input_4_lines_2025-07-11-08-55.json
  packages/chat-sdk/src/chatflow/helper/chat-service.ts
Due: none

chore: Publish fix/chat_input_4_lines
  packages/chat-sdk/package.json
Due: none

chore: tmp
  common/changes/@coze/chat-sdk/fix-chat_input_4_lines_2025-07-11-11-52.json
  packages/chat-sdk/package.json
Due: none

feat: chat input limt 4 lines and support card message (#286)
  common/changes/@coze/chat-sdk/fix-chat_input_4_lines_2025-07-10-03-56.json
  common/changes/@coze/chat-sdk/fix-chat_input_4_lines_2025-07-11-08-55.json
  packages/chat-sdk/package.json
  packages/chat-sdk/src/chatflow/helper/chat-service.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.module.less
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.tsx
Due: none

fix: md xss 过滤白名单增加 video 和 audio
  common/changes/@coze/chat-sdk/fix-chat_sdk_md_2025-07-31-04-00.json
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/phrase/html/index.tsx
  packages/chat-sdk/src/pages/markdown/const.ts
Due: none

chore: Publish release/20250731-67dd45
  packages/chat-sdk/package.json
Due: none

fix: md xss 过滤白名单增加 video 和 audio (#291)
  common/changes/@coze/chat-sdk/fix-chat_sdk_md_2025-07-31-04-00.json
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/phrase/html/index.tsx
  packages/chat-sdk/src/pages/markdown/const.ts
Due: none

feat: 开源 coze 现在用的这个 chat，其中一个接口需要替换，临时先发一个 alpha 版本给他们用，后续会切到内部 chat
  common/changes/@coze/chat-sdk/feat-open_coze_chat_conversation_create_2025-08-11-07-39.json
  packages/chat-sdk/src/chatflow/helper/chat-service.ts
Due: none

chore: Publish release/20250811-36540a
  packages/chat-sdk/package.json
Due: none

fix: fix ChatV3Message Type and ws no voice in mobile
  common/changes/@coze/api/fix-coze-js-cyl_2025-08-11-13-13.json
  packages/coze-js/package.json
  packages/coze-js/src/resources/chat/chat.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
Due: coze-js

chore: Publish release/20250811-08d3be
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20250811-31920c
  common/changes/@coze/api/release-20250811-31920c_2025-09-04-03-30.json
  packages/coze-js/package.json
Due: coze-js

fix: WavStreamPlayer (#298)
  common/changes/@coze/api/fix-coze-js-cyl_2025-08-11-13-13.json
  common/changes/@coze/api/release-20250811-31920c_2025-09-04-03-30.json
  packages/coze-js/package.json
  packages/coze-js/src/resources/chat/chat.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.ts
Due: coze-js

Update package.json
  packages/coze-js/package.json
Due: coze-js

feat: rpc demo add turn detection
  common/changes/@coze/api/feat-dev-rpc-turn-detection_2025-09-10-12-10.json
  common/changes/@coze/realtime-api/feat-dev-rpc-turn-detection_2025-09-10-12-10.json
  examples/realtime-console/src/pages/main/header.tsx
  examples/realtime-console/src/pages/main/hold-to-talk.tsx
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/utils/local-manager.ts
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/realtime-api/src/index.ts
Due: coze-js, realtime-api

fix: fix turnDetection params
  examples/realtime-console/src/pages/main/index.tsx
Due: none

feat: upgrade api version
  common/changes/@coze/api/feat-dev-rpc-turn-detection_2025-09-16-05-11.json
  common/changes/@coze/realtime-api/feat-dev-rpc-turn-detection_2025-09-16-05-11.json
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

feat: dev realtime-api TurnDetection params (#300)
  common/changes/@coze/api/feat-dev-rpc-turn-detection_2025-09-10-12-10.json
  common/changes/@coze/api/feat-dev-rpc-turn-detection_2025-09-16-05-11.json
  common/changes/@coze/realtime-api/feat-dev-rpc-turn-detection_2025-09-10-12-10.json
  common/changes/@coze/realtime-api/feat-dev-rpc-turn-detection_2025-09-16-05-11.json
  examples/realtime-console/src/pages/main/header.tsx
  examples/realtime-console/src/pages/main/hold-to-talk.tsx
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/utils/local-manager.ts
  packages/coze-js/package.json
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/realtime-api/package.json
  packages/realtime-api/src/index.ts
Due: coze-js, realtime-api

fix: license
  LICENSE
Due: none

fix: license (#307)
  LICENSE
Due: none

chore: use rollup
  .gitignore
  common/changes/@coze/api/chore-use-rollup_2025-10-28-08-14.json
  common/changes/@coze/realtime-api/chore-use-rollup_2025-10-28-08-14.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/coze-js/package.json
  packages/coze-js/rollup.config.js
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/src/ws-tools/utils/index.ts
  packages/realtime-api/package.json
  packages/realtime-api/rollup.config.js
  packages/realtime-api/rslib.config.ts
Due: coze-js, realtime-api

chore: Publish release/20251028-e445c8
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: use rollup
  common/changes/@coze/api/chore-use-rollup_2025-10-28-08-36.json
  common/changes/@coze/realtime-api/chore-use-rollup_2025-10-28-08-36.json
  packages/coze-js/rollup.config.mjs
  packages/realtime-api/rollup.config.mjs
Due: coze-js, realtime-api

chore: Publish release/20251028-f7fe14
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: upgrade rslib version
  .gitignore
  common/changes/@coze/api/chore-use-rollup_2025-10-30-07-24.json
  common/changes/@coze/realtime-api/chore-use-rollup_2025-10-30-07-24.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
  packages/coze-js/package.json
  packages/coze-js/rollup.config.mjs
  packages/coze-js/rslib.config.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/src/ws-tools/utils/index.ts
  packages/realtime-api/package.json
  packages/realtime-api/rollup.config.mjs
  packages/realtime-api/rslib.config.ts
Due: coze-js, realtime-api

chore: update version
  common/changes/@coze/api/chore-use-rollup_2025-10-30-07-25.json
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20251030-7713d3
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20251030-98611e
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: reset
  common/changes/@coze/api/chore-use-rollup_2025-10-30-08-17.json
  packages/coze-js/package.json
Due: coze-js
