Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

codecov.yml:

# valid this file: curl --data-binary @codecov.yml https://codecov.io/validate
# reference doc: https://docs.codecov.com/docs/common-recipe-list#set-project-coverage-checks-on-a-pull-request

# codecov:
#   require_ci_to_pass: false
#   notify:
#     wait_for_ci: false

# for overall project coverage
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%
    patch:
      default:
        target: 90%
        threshold: 10%

comment:
  layout: 'header, diff, components, files' # show component info in the PR comment
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: true # [true :: only show coverage on the git diff aka patch coverage]]

# reference doc: https://docs.codecov.com/docs/components
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 90%
        threshold: 1%
      - type: patch
        target: 90%
        threshold: 10%

  individual_components:
    - component_id: coze-js # this is an identifier that should not be changed
      name: coze-js # this is a display name, and can be changed freely
      paths:
        - packages/coze-js/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

    - component_id: realtime-api # this is an identifier that should not be changed
      name: realtime-api # this is a display name, and can be changed freely
      paths:
        - packages/realtime-api/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

chore: Publish release/20250325-b9563b
  packages/rush-plugins/run-tsc-plugin/package.json
Due: none

chore: publish & release command
  common/autoinstallers/plugins/rush-plugins/@coze-infra/rush-publish-plugin/@coze-infra/rush-publish-plugin/command-line.json
Due: none

chore: Publish release/20250325-b37195
  packages/rush-plugins/run-tsc-plugin/package.json
Due: none

chore: publish & release pipeline
  .github/workflows/release.yml
Due: none

chore: Publish release/20250325-451fd6
  packages/rush-plugins/run-tsc-plugin/package.json
Due: none

chore: Publish release/20250325-272a30
  packages/coze-js/package.json
Due: coze-js

feat: 修改版本号
  common/changes/@coze/chat-sdk/feat-feat-dep_2025-03-26-02-16.json
  packages/chat-sdk/package.json
Due: none

feat: 锁版本
  common/config/subspaces/default/pnpm-lock.yaml
Due: none

feat: 修改beta版本
  common/changes/@coze/chat-sdk/feat-feat-dep_2025-03-26-02-19.json
  packages/chat-sdk/package.json
Due: none

chore: Publish feat/feat-dep
  packages/chat-sdk/package.json
Due: none

feat: tmp
  common/changes/@coze/api/feat-realtime-quickstart_2025-03-24-16-56.json
  common/changes/@coze/api/feat-realtime-quickstart_2025-03-27-09-08.json
  common/config/subspaces/default/pnpm-lock.yaml
  cspell.json
  examples/realtime-quickstart-react/public/external/denoiser-wasm-simd.wasm
  examples/realtime-quickstart-react/public/external/denoiser-wasm.wasm
  examples/realtime-quickstart-react/src/pages/ws/index.tsx
  packages/coze-js/package.json
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/recorder/custom-audio-processor.ts
  packages/coze-js/src/ws-tools/recorder/external/denoiser-wasm-simd.wasm
  packages/coze-js/src/ws-tools/recorder/external/denoiser-wasm.wasm
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/recorder/pcm-worklet-processor.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.js
Due: coze-js

fix: Remove type: module from package.json files
  common/changes/@coze/api/fix-bug_2025-03-28-07-06.json
  common/changes/@coze/api/fix-bug_2025-03-28-07-07.json
  common/changes/@coze/realtime-api/fix-bug_2025-03-28-07-06.json
  examples/coze-js-node/package.json
  packages/coze-js/package.json
  packages/realtime-api/src/event-handler.ts
Due: coze-js, realtime-api

chore: Publish fix/bug
  packages/coze-js/package.json
Due: coze-js

chore: Publish fix/bug
  packages/realtime-api/package.json
Due: realtime-api

fix: Remove type: module from package.json files (#165)
  common/changes/@coze/api/fix-bug_2025-03-28-07-06.json
  common/changes/@coze/api/fix-bug_2025-03-28-07-07.json
  common/changes/@coze/realtime-api/fix-bug_2025-03-28-07-06.json
  examples/coze-js-node/package.json
  packages/coze-js/package.json
  packages/realtime-api/package.json
  packages/realtime-api/src/event-handler.ts
Due: coze-js, realtime-api

fix: file path error
  common/changes/@coze/api/fix-bug_2025-03-30-09-25.json
  packages/coze-js/package.json
Due: coze-js

fix: Resolved a module file path issue that was impacting resource access (#168)
  common/changes/@coze/api/fix-bug_2025-03-30-09-25.json
  packages/coze-js/package.json
Due: coze-js

chore: setup publish env
  common/changes/@coze/api/chore-use-corret-npm-token_2025-03-31-02-42.json
  common/changes/@coze/chat-sdk/chore-use-corret-npm-token_2025-03-31-02-42.json
  common/changes/@coze/realtime-api/chore-use-corret-npm-token_2025-03-31-02-42.json
  common/changes/@coze/taro-api/chore-use-corret-npm-token_2025-03-31-02-42.json
  infra/rush-x/src/actions/release/__tests__/release.test.ts
  infra/rush-x/src/actions/release/index.ts
  infra/rush-x/src/actions/release/release.ts
  packages/chat-sdk/.npmrc
  packages/coze-js/.npmrc
  packages/coze-taro/.npmrc
  packages/realtime-api/.npmrc
Due: coze-js, realtime-api

feat: add error handling for non-stationary noise suppression
  common/changes/@coze/realtime-api/fix-bug_2025-03-31-12-01.json
  packages/realtime-api/src/index.ts
Due: realtime-api

chore: update ESM file extensions from .js to .mjs
  common/changes/@coze/api/fix-module-error_2025-04-01-05-22.json
  packages/coze-js/package.json
Due: coze-js

chore: Publish fix/module-error
  packages/coze-js/package.json
Due: coze-js

feat: add error handling for non-stationary noise suppression (#172)
  common/changes/@coze/realtime-api/fix-bug_2025-03-31-12-01.json
  packages/realtime-api/package.json
  packages/realtime-api/src/index.ts
Due: realtime-api

refactor: move EventNames enum to separate file
  common/changes/@coze/realtime-api/fix-module-error_2025-04-01-06-28.json
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/event-handler.ts
  packages/realtime-api/src/event-names.ts
  packages/realtime-api/src/index.ts
  packages/realtime-api/test/client.spec.ts
  packages/realtime-api/test/event-handler.spec.ts
Due: realtime-api

chore: Publish fix/module-error
  packages/realtime-api/package.json
Due: realtime-api

feat: change some error to answer message
  common/changes/@coze/chat-sdk/feat-pub-11_2025-04-02-10-01.json
  common/config/subspaces/default/pnpm-lock.yaml
  packages/chat-sdk/package.json
  packages/chat-sdk/src/libs/provider/store/conversation.ts
  packages/chat-sdk/src/libs/services/helper/message/send-message/async-send-message.ts
  packages/chat-sdk/src/libs/services/helper/message/send-message/raw-send-message.ts
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/helper/gen-ast.ts
  packages/chat-sdk/src/pages/markdown/const.ts
Due: none

chore: Publish feat/pub-11
  packages/chat-sdk/package.json
Due: none

feat: 修改版本号
  common/changes/@coze/chat-sdk/feat-pub-11_2025-04-02-10-03.json
  packages/chat-sdk/package.json
Due: none

feat: add event-names subpath export
  common/changes/@coze/realtime-api/fix-module-error_2025-04-02-10-51.json
  packages/realtime-api/package.json
  packages/realtime-api/rslib.config.ts
Due: realtime-api

chore: Publish fix/module-error
  common/changes/@coze/realtime-api/fix-module-error_2025-04-02-11-06.json
  packages/realtime-api/package.json
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/event-handler.ts
  packages/realtime-api/src/event-names.ts
  packages/realtime-api/src/index.ts
  packages/realtime-api/test/client.spec.ts
  packages/realtime-api/test/event-handler.spec.ts
Due: realtime-api
