Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

codecov.yml:

# valid this file: curl --data-binary @codecov.yml https://codecov.io/validate
# reference doc: https://docs.codecov.com/docs/common-recipe-list#set-project-coverage-checks-on-a-pull-request

# codecov:
#   require_ci_to_pass: false
#   notify:
#     wait_for_ci: false

# for overall project coverage
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%
    patch:
      default:
        target: 90%
        threshold: 10%

comment:
  layout: 'header, diff, components, files' # show component info in the PR comment
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: true # [true :: only show coverage on the git diff aka patch coverage]]

# reference doc: https://docs.codecov.com/docs/components
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 90%
        threshold: 1%
      - type: patch
        target: 90%
        threshold: 10%

  individual_components:
    - component_id: coze-js # this is an identifier that should not be changed
      name: coze-js # this is a display name, and can be changed freely
      paths:
        - packages/coze-js/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

    - component_id: realtime-api # this is an identifier that should not be changed
      name: realtime-api # this is a display name, and can be changed freely
      paths:
        - packages/realtime-api/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

chore: Publish release/20250228-5678f2
  packages/chat-sdk/package.json
Due: none

feat(api): add unit test
  common/changes/@coze/api/feat-api_2025-02-28-03-27.json
  packages/coze-js/test/ws-tools/speech.spec.ts
Due: coze-js

feat(realtime-console): implement pagination for voice fetching (#121)
  examples/realtime-console/src/hooks/use-coze-api.tsx
  examples/realtime-console/src/hooks/use-interrupt.tsx
  examples/realtime-console/src/pages/main/header.tsx
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/utils/local-manager.ts
Due: none

feat(realtime-console): add screen sharing support and video device p… (#105)
  common/changes/@coze/api/feat-share_screen_2025-02-21-09-29.json
  common/changes/@coze/api/feat-share_screen_2025-02-24-06-38.json
  common/changes/@coze/api/feat-share_screen_2025-02-27-13-12.json
  common/changes/@coze/realtime-api/feat-share_screen_2025-02-21-09-29.json
  common/changes/@coze/realtime-api/feat-share_screen_2025-02-24-06-38.json
  common/changes/@coze/realtime-api/feat-share_screen_2025-02-27-12-50.json
  common/changes/@coze/realtime-api/feat-share_screen_2025-02-27-13-27.json
  examples/realtime-console/src/pages/main/header.tsx
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/utils/local-manager.ts
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/coze-js/test/auth.spec.ts
  packages/realtime-api/src/index.ts
  packages/realtime-api/test/index.spec.ts
Due: coze-js, realtime-api

feat: fix click change
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-28-07-21.json
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.tsx
Due: none

chore: Publish release/20250228-8de2a1
  packages/chat-sdk/package.json
Due: none

feat: fix mobile keyborad handle
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-28-10-29.json
  packages/chat-sdk/src/libs/framework/component/chat-framework/index.module.less
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.module.less
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.tsx
Due: none

chore: Publish release/20250228-ae51dc
  packages/chat-sdk/package.json
Due: none

feat: 添加requireAction函数
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-28-13-24.json
  packages/chat-sdk/src/exports/index.ts
  packages/chat-sdk/src/libs/index.ts
  packages/chat-sdk/src/libs/provider/store/conversation.ts
  packages/chat-sdk/src/libs/services/helper/message/send-message/async-send-message.ts
  packages/chat-sdk/src/libs/services/helper/message/send-message/raw-send-message.ts
  packages/chat-sdk/src/libs/services/use-send-message.ts
  packages/chat-sdk/src/libs/types/base/event-callback.ts
  packages/chat-sdk/src/libs/types/services/send-message.ts
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

chore: Publish release/20250228-da3965
  packages/chat-sdk/package.json
Due: none

feat(api): Add playback timing and state management (#122)
  common/changes/@coze/api/feat-api_2025-02-27-11-10.json
  common/changes/@coze/api/feat-api_2025-02-27-12-38.json
  common/changes/@coze/api/feat-api_2025-02-28-03-27.json
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/package.json
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/test/ws-tools/speech.spec.ts
Due: coze-js

chore: Publish release/20250303-4e87f3
  common/changes/@coze/api/feat-api_2025-02-27-11-10.json
  common/changes/@coze/api/feat-api_2025-02-27-12-38.json
  common/changes/@coze/api/feat-api_2025-02-28-03-27.json
  common/changes/@coze/api/feat-share_screen_2025-02-21-09-29.json
  common/changes/@coze/api/feat-share_screen_2025-02-24-06-38.json
  common/changes/@coze/api/feat-share_screen_2025-02-27-13-12.json
  common/changes/@coze/api/feat-websocket-api_2025-02-17-07-31.json
  common/changes/@coze/api/feat-websocket-api_2025-02-17-08-59.json
  common/changes/@coze/api/feat-websocket-api_2025-02-17-09-05.json
  common/changes/@coze/api/feat-websocket-api_2025-02-20-02-54.json
  common/changes/@coze/api/feat-websocket-api_2025-02-20-03-16.json
  common/changes/@coze/api/feat-websocket-api_2025-02-20-05-13.json
  common/changes/@coze/api/fix-workflow_2025-02-24-12-00.json
  common/changes/@coze/realtime-api/feat-share_screen_2025-02-21-09-29.json
  common/changes/@coze/realtime-api/feat-share_screen_2025-02-24-06-38.json
  common/changes/@coze/realtime-api/feat-share_screen_2025-02-27-12-50.json
  common/changes/@coze/realtime-api/feat-share_screen_2025-02-27-13-27.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
  packages/realtime-api/CHANGELOG.json
  packages/realtime-api/CHANGELOG.md
  packages/realtime-api/package.json
Due: coze-js, realtime-api

feat: 延迟发送消息
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-03-09-07.json
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-scroll-handle.ts
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

feat: 通用触发判断
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-03-09-49.json
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-scroll-handle.ts
Due: none

chore: Publish release/20250303-00ff13
  packages/chat-sdk/package.json
Due: none

chore(realtime-api): set sideEffects=false
  common/changes/@coze/realtime-api/fix-side-effects_2025-03-03-12-43.json
  packages/realtime-api/package.json
Due: realtime-api

chore: Publish release/20250303-126a93
  packages/realtime-api/package.json
Due: realtime-api

feat: 修改代码
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-03-13-42.json
  packages/chat-sdk/src/libs/framework/component/chat-background/index.tsx
  packages/chat-sdk/src/libs/framework/component/chat-framework/index.tsx
  packages/chat-sdk/src/libs/framework/component/chat-input/index.tsx
  packages/chat-sdk/src/libs/framework/component/chat-scroll-view/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/tooltip/index.tsx
  packages/chat-sdk/src/libs/ui-kit/chat-input/index.tsx
  packages/chat-sdk/src/libs/utils/nanoid.ts
Due: none

chore: Publish release/20250303-871980
  packages/chat-sdk/package.json
Due: none

chore: Publish feat/feat-nl2app
  packages/chat-sdk/package.json
Due: none

feat: 暴露新的接口
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-04-06.json
  packages/chat-sdk/src/exports/index.ts
  packages/chat-sdk/src/libs/i18n/resource/simple/zh.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/textarea/index.tsx
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

chore: Publish release/20250304-a5a41c
  packages/chat-sdk/package.json
Due: none

feat(realtime-console): add mobile support and network error handling
  common/changes/@coze/realtime-api/feat-network_2025-03-04-05-18.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-console/package.json
  examples/realtime-console/src/config.json
  examples/realtime-console/src/hooks/use-is-mobile.ts
  examples/realtime-console/src/hooks/use-network-error.tsx
  examples/realtime-console/src/pages/main/console-log.tsx
  examples/realtime-console/src/pages/main/header.tsx
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/player.tsx
  examples/realtime-console/src/pages/main/settings.tsx
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/event-handler.ts
  packages/realtime-api/src/index.ts
Due: realtime-api

chore: Publish release/20250304-feed0d
  packages/realtime-api/package.json
Due: realtime-api

feat: 添加inputvalue设置
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-06-41.json
  packages/chat-sdk/src/exports/index.ts
  packages/chat-sdk/src/libs/framework/component/chat-input/index.tsx
  packages/chat-sdk/src/libs/i18n/resource/simple/en.ts
  packages/chat-sdk/src/libs/index.ts
  packages/chat-sdk/src/libs/provider/index.tsx
  packages/chat-sdk/src/libs/provider/store/chat-input.ts
  packages/chat-sdk/src/libs/types/provider/chat-input.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/hooks/use-text-input-handle.ts
  packages/chat-sdk/src/libs/ui-kit/chat-input/index.tsx
  packages/chat-sdk/src/libs/ui-kit/index.ts
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

chore: Publish release/20250304-25e4cd
  packages/chat-sdk/package.json
Due: none

feat: 修改eslint
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-06-43.json
  packages/chat-sdk/src/libs/provider/store/chat-input.ts
Due: none

chore: Publish release/20250304-39a0d5
  packages/chat-sdk/package.json
Due: none

feat: workflow添加header
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-09-51.json
  packages/chat-sdk/src/chatflow/helper/chat-service.ts
  packages/chat-sdk/src/chatflow/type.ts
Due: none

chore: Publish release/20250304-03fca0
  packages/chat-sdk/package.json
Due: none

feat: change markdown
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-03-04-11-09.json
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/context/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/phrase/image/index.tsx
  packages/chat-sdk/src/pages/markdown/index.tsx
Due: none

chore: Publish release/20250304-760d9e
  packages/chat-sdk/package.json
Due: none

feat: 修改版本
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-24-07-31.json
  packages/chat-sdk/package.json
Due: none

feat: 打印版本号
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-24-07-42.json
  packages/chat-sdk/package.json
  packages/chat-sdk/src/libs/framework/component/chat-framework/index.tsx
Due: none

feat: add message wrapper renderslot
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-24-08-32.json
  packages/chat-sdk/src/libs/framework/component/chat-group-list/chat-group/index.tsx
  packages/chat-sdk/src/libs/framework/component/chat-group-list/query-message/index.tsx
  packages/chat-sdk/src/libs/framework/component/chat-group-list/resp-message-list/index.tsx
  packages/chat-sdk/src/libs/types/base/ui.ts
  packages/chat-sdk/src/libs/ui-kit/message/container/index.module.less
  packages/chat-sdk/src/libs/ui-kit/message/container/index.tsx
  packages/chat-sdk/src/pages/chat/index.tsx
Due: none

feat: add chatflow message wrapper config
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-24-09-16.json
  packages/chat-sdk/src/chatflow/hooks/use-init-chat.ts
  packages/chat-sdk/src/chatflow/type.ts
  packages/chat-sdk/src/libs/types/base/index.ts
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

feat: 修改scrollview问题
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-25-08-51.json
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/index.module.less
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/index.tsx
Due: none

feat: 修改safari问题
  common/changes/@coze/chat-sdk/feat-feat-nl2app_2025-02-26-12-22.json
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-helper-button.ts
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-safari-anchor-hack.ts
  packages/chat-sdk/src/libs/ui-kit/atomic/scroll-view/use-wheel-handle.ts
  packages/chat-sdk/src/libs/utils/device.ts
  packages/chat-sdk/src/libs/utils/index.ts
Due: none
