Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

codecov.yml:

# valid this file: curl --data-binary @codecov.yml https://codecov.io/validate
# reference doc: https://docs.codecov.com/docs/common-recipe-list#set-project-coverage-checks-on-a-pull-request

# codecov:
#   require_ci_to_pass: false
#   notify:
#     wait_for_ci: false

# for overall project coverage
coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%
    patch:
      default:
        target: 90%
        threshold: 10%

comment:
  layout: 'header, diff, components, files' # show component info in the PR comment
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: true # [true :: only show coverage on the git diff aka patch coverage]]

# reference doc: https://docs.codecov.com/docs/components
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 90%
        threshold: 1%
      - type: patch
        target: 90%
        threshold: 10%

  individual_components:
    - component_id: coze-js # this is an identifier that should not be changed
      name: coze-js # this is a display name, and can be changed freely
      paths:
        - packages/coze-js/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

    - component_id: realtime-api # this is an identifier that should not be changed
      name: realtime-api # this is a display name, and can be changed freely
      paths:
        - packages/realtime-api/**
      statuses:
        - type: project
          target: 90%
          threshold: 1%
        - type: patch
          target: 90%
          threshold: 10%

chore: Publish release/20251030-47ec69
  packages/coze-js/package.json
Due: coze-js

chore: fix build error
  common/changes/@coze/api/chore-use-rollup_2025-10-30-08-44.json
  common/changes/@coze/realtime-api/chore-use-rollup_2025-10-30-08-44.json
  packages/coze-js/rslib.config.ts
  packages/realtime-api/rslib.config.ts
Due: coze-js, realtime-api

chore: Publish release/20251030-458855
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: upgrade rslib version
  .gitignore
  common/changes/@coze/api/chore-use-rollup_2025-10-30-07-24.json
  common/changes/@coze/api/chore-use-rollup_2025-10-30-07-25.json
  common/changes/@coze/api/chore-use-rollup_2025-10-30-08-17.json
  common/changes/@coze/api/chore-use-rollup_2025-10-30-08-44.json
  common/changes/@coze/realtime-api/chore-use-rollup_2025-10-30-07-24.json
  common/changes/@coze/realtime-api/chore-use-rollup_2025-10-30-08-44.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
  packages/coze-js/package.json
  packages/coze-js/rollup.config.mjs
  packages/coze-js/rslib.config.ts
  packages/coze-js/src/ws-tools/chat/index.ts
  packages/coze-js/src/ws-tools/recorder/pcm-recorder.ts
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/src/ws-tools/utils/index.ts
  packages/realtime-api/package.json
  packages/realtime-api/rollup.config.mjs
  packages/realtime-api/rslib.config.ts
Due: coze-js, realtime-api

chore: Publish release/20251030-30153e
  packages/coze-js/package.json
  packages/realtime-api/package.json
Due: coze-js, realtime-api

chore: fix build warning
  common/changes/@coze/api/chore-use-rollup_2025-11-03-03-12.json
  packages/coze-js/rslib.config.ts
Due: coze-js

chore: Publish release/20251103-f716ec
  packages/coze-js/package.json
Due: coze-js

feat: support voice emotions
  common/changes/@coze/api/feat-voice-emotion_2025-08-12-08-11.json
  common/changes/@coze/api/feat-voice-emotion_2025-08-12-08-14.json
  common/changes/@coze/api/feat-voice-emotion_2025-08-12-08-15.json
  packages/coze-js/package.json
  packages/coze-js/src/resources/audio/speech/speech.ts
  packages/coze-js/src/resources/audio/voices/voices.ts
  packages/coze-js/src/resources/websockets/types.ts
Due: coze-js

feat: support voice emotions (#297)
  common/changes/@coze/api/feat-voice-emotion_2025-08-12-08-11.json
  common/changes/@coze/api/feat-voice-emotion_2025-08-12-08-14.json
  common/changes/@coze/api/feat-voice-emotion_2025-08-12-08-15.json
  packages/coze-js/package.json
  packages/coze-js/src/resources/audio/speech/speech.ts
  packages/coze-js/src/resources/audio/voices/voices.ts
  packages/coze-js/src/resources/websockets/types.ts
Due: coze-js

chore: Publish release/20251103-c4c99d
  packages/coze-js/package.json
Due: coze-js

feat(speech/transcription): 音播报提供释放播放器功能并支持语音识别自定义配置
  common/changes/@coze/api/myang-voice-ext-interface_2025-11-26-05-40.json
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/src/ws-tools/transcription/index.ts
  packages/coze-js/src/ws-tools/types.ts
Due: coze-js

fix: Clear timeout and close WebSocket before destroying player
  common/changes/@coze/api/myang-voice-ext-interface_2025-11-27-01-27.json
  packages/coze-js/src/ws-tools/speech/index.ts
Due: coze-js

feat(speech/transcription): 音播报提供释放播放器功能并支持语音识别自定义配置 (#324)
  common/changes/@coze/api/myang-voice-ext-interface_2025-11-26-05-40.json
  common/changes/@coze/api/myang-voice-ext-interface_2025-11-27-01-27.json
  packages/coze-js/src/resources/websockets/types.ts
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/src/ws-tools/transcription/index.ts
  packages/coze-js/src/ws-tools/types.ts
Due: coze-js

chore: Publish release/20251127-8067cb
  common/changes/@coze/api/feat-dev-rpc-turn-detection_2025-09-10-12-10.json
  common/changes/@coze/api/feat-dev-rpc-turn-detection_2025-09-16-05-11.json
  common/changes/@coze/api/feat-voice-emotion_2025-08-12-08-11.json
  common/changes/@coze/api/feat-voice-emotion_2025-08-12-08-14.json
  common/changes/@coze/api/feat-voice-emotion_2025-08-12-08-15.json
  common/changes/@coze/api/fix-coze-js-cyl_2025-08-11-13-13.json
  common/changes/@coze/api/myang-voice-ext-interface_2025-11-26-05-40.json
  common/changes/@coze/api/myang-voice-ext-interface_2025-11-27-01-27.json
  common/changes/@coze/api/release-20250811-31920c_2025-09-04-03-30.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
Due: coze-js

chore: Publish release/20251127-8067cb (#325)
  common/changes/@coze/api/feat-dev-rpc-turn-detection_2025-09-10-12-10.json
  common/changes/@coze/api/feat-dev-rpc-turn-detection_2025-09-16-05-11.json
  common/changes/@coze/api/feat-voice-emotion_2025-08-12-08-11.json
  common/changes/@coze/api/feat-voice-emotion_2025-08-12-08-14.json
  common/changes/@coze/api/feat-voice-emotion_2025-08-12-08-15.json
  common/changes/@coze/api/fix-coze-js-cyl_2025-08-11-13-13.json
  common/changes/@coze/api/myang-voice-ext-interface_2025-11-26-05-40.json
  common/changes/@coze/api/myang-voice-ext-interface_2025-11-27-01-27.json
  common/changes/@coze/api/release-20250811-31920c_2025-09-04-03-30.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
Due: coze-js

feat: 支持镜像模式
  examples/realtime-console/src/pages/main/player.tsx
  examples/realtime-console/src/utils/local-manager.ts
Due: none

chore: Publish release/20260326-1dcf1c
  packages/chat-sdk/package.json
Due: none

chore: Publish release/20260326-a61d59
  packages/chat-sdk/package.json
Due: none

chore: upgrade publish plugin version
  common/autoinstallers/plugins/package.json
  common/autoinstallers/plugins/pnpm-lock.yaml
  common/autoinstallers/plugins/rush-plugins/@coze-arch/rush-publish-plugin/@coze-arch/rush-publish-plugin/command-line.json
Due: none

fix(workflows): align run response types with the API
  packages/coze-js/src/resources/workflows/runs/runs.ts
  packages/coze-js/test/resources/workflows.spec.ts
Due: coze-js
