Repository coze-dev/coze-js: changes, and which Codecov flags are due for each by the changed paths.
All: coze-js, realtime-api

feat(api): add proxy example for coze-api (#94)
  common/changes/@coze/api/feat-proxy_2025-02-11-08-38.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-node/package.json
  examples/coze-js-node/src/proxy/proxy-example.ts
  examples/coze-js-node/src/proxy/proxy-server.ts
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
Due: coze-js

chore: Publish release/20250224-87528e (#114)
  common/changes/@coze/chat-sdk/feat-feat-chat-2_2025-02-20-08-14.json
  common/changes/@coze/chat-sdk/feat-feat-chat-2_2025-02-20-08-27.json
  common/changes/@coze/chat-sdk/feat-feat-chat-2_2025-02-20-09-45.json
  common/changes/@coze/chat-sdk/feat-feat-chat-2_2025-02-20-10-36.json
  common/changes/@coze/chat-sdk/feat-feat-chat-2_2025-02-20-10-44.json
  common/changes/@coze/chat-sdk/feat-feat-chat-2_2025-02-20-11-05.json
  common/changes/@coze/chat-sdk/feat-feat-chat-sdk_2025-02-20-01-57.json
  common/changes/@coze/chat-sdk/feat-feat-chat-sdk_2025-02-20-02-16.json
  common/changes/@coze/chat-sdk/feat-feat-chat-sdk_2025-02-20-03-39.json
  common/changes/@coze/chat-sdk/feat-feat-chat-sdk_2025-02-20-06-29.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-03-41.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-05-07.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-06-48.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-06-55.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-07-41.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-08-39.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-09-27.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-09-47.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-21-11-35.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-22-00-27.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-22-02-55.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-22-05-25.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-22-05-29.json
  common/changes/@coze/chat-sdk/feat-feat-chat-test_2025-02-24-03-14.json
  packages/chat-sdk/CHANGELOG.json
  packages/chat-sdk/CHANGELOG.md
  packages/chat-sdk/package.json
Due: none

feat(auth): add accountId support for JWT token generation (#113)
  common/changes/@coze/api/fix-jwt2_2025-02-24-08-21.json
  common/changes/@coze/api/fix-jwt2_2025-02-24-09-06.json
  packages/coze-js/src/auth.ts
  packages/coze-js/src/resources/bots/bots.ts
  packages/coze-js/test/auth.spec.ts
Due: coze-js

fix: change document list endpoint from GET to POST (#107)
  common/changes/@coze/api/fix-bug_2025-02-21-10-26.json
  packages/coze-js/package.json
  packages/coze-js/src/resources/datasets/documents/documents.ts
  packages/coze-js/test/resources/documents.spec.ts
Due: coze-js

chore: Publish release/20250224-28b38a (#116)
  common/changes/@coze/api/feat-feat-chat-2_2025-02-20-08-14.json
  common/changes/@coze/api/feat-feat-chat-test_2025-02-21-07-41.json
  common/changes/@coze/api/feat-proxy_2025-02-11-08-38.json
  common/changes/@coze/api/fix-bug_2025-02-21-10-26.json
  common/changes/@coze/api/fix-jwt2_2025-02-24-08-21.json
  common/changes/@coze/api/fix-jwt2_2025-02-24-09-06.json
  packages/coze-js/CHANGELOG.json
  packages/coze-js/CHANGELOG.md
  packages/coze-js/package.json
Due: coze-js

feat(api): feat: add async workflow execution and history tracking (#115)
  common/changes/@coze/api/fix-workflow_2025-02-24-12-00.json
  examples/coze-js-node/src/workflow.ts
  packages/coze-js/src/resources/workflows/runs/runs.ts
  packages/coze-js/test/resources/workflows.spec.ts
Due: coze-js

feat(coze-js): add WebSocket speech and transcription clients (#99)
  common/changes/@coze/api/feat-websocket-api_2025-02-17-07-31.json
  common/changes/@coze/api/feat-websocket-api_2025-02-17-08-59.json
  common/changes/@coze/api/feat-websocket-api_2025-02-17-09-05.json
  common/changes/@coze/api/feat-websocket-api_2025-02-20-02-54.json
  common/changes/@coze/api/feat-websocket-api_2025-02-20-03-16.json
  common/changes/@coze/api/feat-websocket-api_2025-02-20-05-13.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/coze-js-web/src/pages/chat-x/index.tsx
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
  examples/coze-js-web/tsconfig.json
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/global.d.ts
  packages/coze-js/package.json
  packages/coze-js/rslib.config.ts
  packages/coze-js/src/ws-tools/index.ts
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/src/ws-tools/transcription/index.ts
  packages/coze-js/src/ws-tools/wavtools/README.md
  packages/coze-js/src/ws-tools/wavtools/index.d.ts
  packages/coze-js/src/ws-tools/wavtools/index.js
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/audio_analysis.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/audio_analysis.js
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/constants.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/analysis/constants.js
  packages/coze-js/src/ws-tools/wavtools/lib/wav_packer.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_packer.js
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_recorder.js
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/wav_stream_player.js
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/audio_processor.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/audio_processor.js
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/stream_processor.d.ts
  packages/coze-js/src/ws-tools/wavtools/lib/worklets/stream_processor.js
  packages/coze-js/test/ws-tools/speech.spec.ts
  packages/coze-js/test/ws-tools/transcriptoins.spec.ts
  packages/coze-js/tsconfig.json
  packages/coze-js/tsconfig.misc.json
  packages/coze-js/vitest.config.ts
Due: coze-js

feat(realtime-console): add screen sharing support and video device p… (#105)
  common/changes/@coze/api/feat-share_screen_2025-02-21-09-29.json
  common/changes/@coze/api/feat-share_screen_2025-02-24-06-38.json
  common/changes/@coze/api/feat-share_screen_2025-02-27-13-12.json
  common/changes/@coze/realtime-api/feat-share_screen_2025-02-21-09-29.json
  common/changes/@coze/realtime-api/feat-share_screen_2025-02-24-06-38.json
  common/changes/@coze/realtime-api/feat-share_screen_2025-02-27-12-50.json
  common/changes/@coze/realtime-api/feat-share_screen_2025-02-27-13-27.json
  examples/realtime-console/src/pages/main/header.tsx
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/utils/local-manager.ts
  packages/coze-js/src/resources/audio/rooms/rooms.ts
  packages/coze-js/test/auth.spec.ts
  packages/realtime-api/src/index.ts
  packages/realtime-api/test/index.spec.ts
Due: coze-js, realtime-api

feat(api): Add playback timing and state management (#122)
  common/changes/@coze/api/feat-api_2025-02-27-11-10.json
  common/changes/@coze/api/feat-api_2025-02-27-12-38.json
  common/changes/@coze/api/feat-api_2025-02-28-03-27.json
  packages/coze-js/README.md
  packages/coze-js/README.zh-CN.md
  packages/coze-js/package.json
  packages/coze-js/src/ws-tools/speech/index.ts
  packages/coze-js/test/ws-tools/speech.spec.ts
Due: coze-js

feat: add getRoomInfo customization option to RealtimeClient (#127)
  common/changes/@coze/realtime-api/feat-realtime-api_2025-02-14-10-11.json
  packages/realtime-api/README.md
  packages/realtime-api/README.zh-CN.md
  packages/realtime-api/package.json
  packages/realtime-api/src/index.ts
Due: realtime-api

feat(realtime-console): add network error handling (#128)
  common/changes/@coze/api/feat-network_2025-03-05-07-11.json
  common/changes/@coze/api/feat-network_2025-03-05-11-19.json
  common/changes/@coze/realtime-api/feat-network_2025-03-04-05-18.json
  common/changes/@coze/realtime-api/feat-network_2025-03-05-07-10.json
  common/changes/@coze/realtime-api/feat-network_2025-03-05-12-16.json
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-console/package.json
  examples/realtime-console/src/hooks/use-is-mobile.ts
  examples/realtime-console/src/hooks/use-network-error.tsx
  examples/realtime-console/src/pages/main/console-log.tsx
  examples/realtime-console/src/pages/main/header.tsx
  examples/realtime-console/src/pages/main/index.tsx
  examples/realtime-console/src/pages/main/player.tsx
  examples/realtime-console/src/pages/main/settings.tsx
  packages/coze-js/package.json
  packages/coze-js/src/resources/chat/chat.ts
  packages/realtime-api/src/client.ts
  packages/realtime-api/src/event-handler.ts
  packages/realtime-api/src/index.ts
  packages/realtime-api/test/client.spec.ts
  packages/realtime-api/test/event-handler.spec.ts
Due: coze-js, realtime-api

fix(realtime-console): allowPersonalAccessTokenInBrowser = true
  examples/realtime-console/src/utils/local-manager.ts
Due: none

feat: fix webpakckjson conflict; markdown list is overflow
  common/changes/@coze/chat-sdk/feat-feat-nl2app2_2025-03-06-07-38.json
  packages/chat-sdk/README.md
  packages/chat-sdk/config/index.ts
  packages/chat-sdk/src/exports/index.ts
  packages/chat-sdk/src/libs/i18n/resource/simple/en.ts
  packages/chat-sdk/src/libs/i18n/resource/simple/zh.ts
  packages/chat-sdk/src/libs/index.ts
  packages/chat-sdk/src/libs/provider/context/index.tsx
  packages/chat-sdk/src/libs/provider/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/block/code/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/block/list/index.tsx
  packages/chat-sdk/src/libs/ui-kit/chat-input/upload-btn/index.tsx
  packages/chat-sdk/src/libs/utils/logger.ts
  packages/chat-sdk/src/pages/markdown/const.ts
  packages/chat-sdk/src/pages/ui/index.tsx
Due: none

feat: del mock data
  common/changes/@coze/chat-sdk/feat-feat-nl2app2_2025-03-06-07-47.json
  packages/chat-sdk/src/pages/chatflow/index.tsx
Due: none

feat: chagng version
  common/changes/@coze/chat-sdk/feat-feat-nl2app2_2025-03-06-07-56.json
  packages/chat-sdk/package.json
Due: none

chore: Publish feat/feat-nl2app2
  packages/chat-sdk/package.json
Due: none

feat(uniapp): Add webview
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-uniapp/package.json
  examples/realtime-uniapp/pnpm-lock.yaml
  examples/realtime-uniapp/src/pages/index/index.vue
  rush.json
Due: none

Feat/feat nl2app2 (#130)
  common/changes/@coze/chat-sdk/feat-feat-nl2app2_2025-03-05-06-22.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app2_2025-03-06-07-38.json
  common/changes/@coze/chat-sdk/feat-feat-nl2app2_2025-03-06-07-47.json
  packages/chat-sdk/README.md
  packages/chat-sdk/config/index.ts
  packages/chat-sdk/src/exports/index.ts
  packages/chat-sdk/src/libs/i18n/resource/simple/en.ts
  packages/chat-sdk/src/libs/i18n/resource/simple/zh.ts
  packages/chat-sdk/src/libs/index.ts
  packages/chat-sdk/src/libs/provider/context/index.tsx
  packages/chat-sdk/src/libs/provider/index.tsx
  packages/chat-sdk/src/libs/provider/store/conversation.ts
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/block/code/index.tsx
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/block/list/index.tsx
  packages/chat-sdk/src/libs/ui-kit/chat-input/upload-btn/index.tsx
  packages/chat-sdk/src/libs/utils/logger.ts
  packages/chat-sdk/src/pages/chatflow/index.tsx
  packages/chat-sdk/src/pages/markdown/const.ts
  packages/chat-sdk/src/pages/ui/index.tsx
Due: none

feat(realtime-quickstart-vue): Add network error manager
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-quickstart-vue/package.json
  examples/realtime-quickstart-vue/src/App.vue
  examples/realtime-quickstart-vue/src/network-error-manager.ts
  rush.json
Due: none

feat: add success toast in markdown code copy
  common/changes/@coze/chat-sdk/feat-feat-copy_2025-03-07-06-35.json
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/block/code/index.tsx
Due: none

chore: Publish feat/feat-copy
  packages/chat-sdk/package.json
Due: none

feat: change version
  common/changes/@coze/chat-sdk/feat-feat-copy_2025-03-07-06-37.json
  packages/chat-sdk/package.json
Due: none

feat: change version
  common/changes/@coze/chat-sdk/feat-feat-copy_2025-03-07-06-47.json
  packages/chat-sdk/package.json
Due: none

feat(realtime-console): add cookie-based authentication support for coze.cn
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/utils/utils.ts
Due: none

feat(chat-x): feat: add configurable WebSocket URL
  examples/coze-js-web/src/pages/chat-x/config.ts
  examples/coze-js-web/src/pages/chat-x/settings.tsx
  examples/coze-js-web/src/pages/chat-x/use-coze-api.ts
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
Due: none

fix(coze/api): Websocket bug
  common/changes/@coze/api/fix-bug_2025-03-07-10-41.json
  packages/coze-js/src/websocket-api.ts
Due: coze-js

chore: Publish fix/bug
  packages/coze-js/package.json
Due: coze-js

fix(coze/api): Add shortcut command support and update file object types
  common/changes/@coze/api/fix-bug_2025-03-09-03-21.json
  packages/coze-js/src/resources/chat/chat.ts
Due: coze-js

feat(chat-x): feat: add configurable WebSocket URL (#135)
  examples/coze-js-web/src/pages/chat-x/config.ts
  examples/coze-js-web/src/pages/chat-x/settings.tsx
  examples/coze-js-web/src/pages/chat-x/use-coze-api.ts
  examples/coze-js-web/src/pages/chat-x/use-ws-api.ts
Due: none

feat(realtime-console): add cookie-based authentication support for coze.cn (#136)
  examples/realtime-console/src/pages/main/setting-form.tsx
  examples/realtime-console/src/utils/utils.ts
Due: none

feat(realtime-quickstart-vue): Add network error manager
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-quickstart-vue/config/rush-project.json
  examples/realtime-quickstart-vue/package.json
  examples/realtime-quickstart-vue/src/App.vue
  examples/realtime-quickstart-vue/src/network-error-manager.ts
  rush.json
Due: none

feat(realtime-quickstart-vue): Add network error manager (#133)
  common/config/subspaces/default/pnpm-lock.yaml
  examples/realtime-quickstart-vue/config/rush-project.json
  examples/realtime-quickstart-vue/package.json
  examples/realtime-quickstart-vue/src/App.vue
  examples/realtime-quickstart-vue/src/network-error-manager.ts
  rush.json
Due: none

feat: 添加弹窗提示 (#140)
  common/changes/@coze/chat-sdk/feat-feat-copy_2025-03-07-06-35.json
  common/changes/@coze/chat-sdk/feat-feat-copy_2025-03-07-06-37.json
  common/changes/@coze/chat-sdk/feat-feat-copy_2025-03-07-06-47.json
  packages/chat-sdk/src/libs/ui-kit/atomic/md-stream/render/block/code/index.tsx
Due: none

fix(coze/api): Add unit test
  common/changes/@coze/api/fix-bug_2025-03-10-05-12.json
  common/changes/@coze/api/fix-bug_2025-03-10-06-06.json
  common/changes/@coze/api/fix-bug_2025-03-11-06-32.json
  common/changes/@coze/api/fix-bug_2025-03-11-06-43.json
  packages/coze-js/src/resources/chat/chat.ts
  packages/coze-js/src/websocket-api.ts
  packages/coze-js/test/resources/chat.spec.ts
  packages/coze-js/test/websocket-api.spec.ts
Due: coze-js

fix(coze/api): Add shortcut command support and update file object types (#137)
  common/changes/@coze/api/fix-bug_2025-03-07-10-41.json
  common/changes/@coze/api/fix-bug_2025-03-09-03-21.json
  common/changes/@coze/api/fix-bug_2025-03-10-05-12.json
  common/changes/@coze/api/fix-bug_2025-03-10-06-06.json
  common/changes/@coze/api/fix-bug_2025-03-11-06-32.json
  common/changes/@coze/api/fix-bug_2025-03-11-06-43.json
  packages/coze-js/package.json
  packages/coze-js/src/resources/chat/chat.ts
  packages/coze-js/src/websocket-api.ts
  packages/coze-js/test/resources/chat.spec.ts
  packages/coze-js/test/websocket-api.spec.ts
Due: coze-js

Path conditions:
  coze-js: any of: packages/coze-js/**
  realtime-api: any of: packages/realtime-api/**
